.surfacepanel
{
	fill: none;
	stroke-width: 1;
	stroke: black;
}
.gridlineh
{	
	stroke-width: 1;
	stroke: lightgray;
}
.gridlinev
{
	stroke-width: 1;
	stroke: lightgray;	
}
.surfaceback
{
	fill: url(#vertgrad);
}
.axispanel
{
	fill: lightgray;
}
.axistickmajor
{
	stroke-width: 2;
	stroke: black;
}
.axistickminor
{
	stroke-width: 1;
	stroke: black;
}
.panel
{
	fill: white;
}
.legend
{
	fill: red;
}
#item0
{
	stroke:	blue;
	fill: blue;
}
#item1
{
	stroke: red;
	fill: red;
}
#item2
{
	stroke: yellow;
	fill: yellow ;
}
#item3
{
	stroke: aqua;
	fill: magenta;
}
#item4
{
	stroke:	gray;
	fill: blue;
}
#item5
{
	stroke: green;
	fill: green;
}
#item6
{
	stroke: orange;
	fill: orange;
}
#item7
{
	stroke: lime;
	fill: violet;
}
#item8
{
    stroke: brown;
    fill: navy;
}
#lineitem0
{
    stroke: blue;
    stroke-width: 2;
}
#lineitem1
{
    stroke: red;
    stroke-width: 2;
}
#lineitem2
{
    stroke: yellow;
    stroke-width: 2;
}
#lineitem3
{
    stroke: aqua;
    stroke-width: 2;
}
#lineitem4
{
    stroke: gray;
    stroke-width: 2;
}
#lineitem5
{
    stroke: green;
    stroke-width: 2;
}
#lineitem6
{
    stroke: orange;
    stroke-width: 2;
}
#lineitem7
{
    stroke: lime;
    stroke-width: 2;
}
#lineitem8
{
    stroke: brown;
    stroke-width: 2;
}
.axislabel
{
	font-family: sans;
	font-size: 10px;
	fill: black;
	stroke: none;
}

.axislabelt0
{
	font-family: sans;
	font-size: 8px;
	fill: black;
	stroke: none;
}
.titletext
{
	fill: gray;
	stroke: none;
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 24px;
	font-weight: bold;
}
.titlepanel
{
	fill: white;
	fill-opacity: 0.5;
}
.legendpanel
{
	fill: white;
	fill-opacity: 0.5;
}
.legendtext
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	fill: black;
	stroke: none;
}
.elementlabel
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.trackerpanel
{
    fill: yellow;
    fill-opacity: 0.5;
}
.trackerrect
{
    fill: red;
    fill-opacity: 0.2;
}
.trackertextinterval
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.trackertextfromts
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}