#dropbox {
  position: relative;
}

#dropbox > input {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#dropbox > input:hover, #dropbox:hover {
  cursor: pointer;
}
