/*
Template Name: PhotoFolio
File: Gallery CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

.gallery{
	display:block;
	width:100%;
	padding:20px 0 8px 0;
	}

.gallery ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.gallery li{
	display:block;
	position:relative;
	float:left;
	width:220px;
	height:210px;
	margin:0 12px 22px 0;
	padding:0;
	background-color:#DEDEDE;
	}

.gallery li a img{
	display:inline-table;
	width:220px;
	height:170px;
	margin:0;
	}

.gallery li.last{
	margin-right:0;
	}
