#dropbox {
  padding: 15px 0px;
  border: 2px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  transition: background-color 0.15s;
}

#dropbox.active {
  border-color: #3a3;
  color: #777;
  background-color: #dfd;
}

.upload-progress {
  margin-bottom: 10px;
}

.upload-progress .desc {
  font-size: 0.85em;
  color: #555;
}
