<!doctype html>
<html>
	<head>
		<meta http-equiv="refresh" content="300">
		<title>Расходомеры скважин (Акбай)</title>
		<style>
			tr { border: 1px solid black }
			tr.inside { border: 0px }
		</style>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) {
				  parse_message(m.data);					
				};

      })();
    }

		// parse message in json format
		//	{"date":"2015-10-17T15:15:02+06:00","meter":112217400,"value":22, "value_kind":1}
		//	where meter - is meter to display current value
		function parse_message( msg )
		{
			console.log(msg);
			try {
				var obj = JSON.parse( msg );

				var name = "";
				if( obj.value_kind == 1 )
				{
					name = "#sval" + obj.meter;
				}
				else if (obj.value_kind == 2 )
				{
					name = "#val" + obj.meter;
				}

				var date = new Date( obj.date );// Date.parse(obj.date);
				var date_string = date.toDateString();
				var time_string = date.toTimeString();

				var date_div = $("#date_end" + obj.meter)
				date_div.html( date_string );

				var time_start_div = $("#time_start" + obj.meter );
				time_start_div.html( time_string );

				var div = $( name );
				div.html( obj.value ); 
			} catch (err) {
				//console.log( err );
			}
		}
  </script>
	</head>

	<body>
		<h2>Мнемосхема расходомеров (Акбайский водозабор)</h2>
		<table style="border:1px solid black; background-color:darkgray">
			<thead>
				<tr> 
					<th rowspan="2">
						<table style="width:100%; height: 100%">
							<tr>
								<td style="text-align:center; font-weight:bold">Адрес</td>
							</tr>
							<tr style="text-align:center; font-weight:bold">
								<td>Дата</td>
							</tr>
						</table>
						</th>
				</tr>
				<tr>
					<th>
						<table style="width:100%; height: 100%; border-style: solid; border-width:1px; border-color:black; border-collapse: collapse" >
							<tr>
								<td style="text-align:center; font-weight:bold" colspan="2">Расход (м3)</td>
							</tr>
							<tr>
								<td style="text-align:center; font-weight:bold">Время нач</td>
								<td style="text-align:center; font-weight:bold">Время кон</td>
							</tr>
						</table>
						</th>
				</tr>
			</thead>
			<tbody>
				<% $akbay_wells_fm.each do |fm| %>
						<% 
							@date_start = '---' 
							@date_end = '---'
							@time_start = ''
							@time_end = ''
							@val = 'xxx'
							@prev_val = 'x'
							@cur_val = 'x'

							unless fm.nil?  
								unless fm.values[1].nil?
									@date_start =fm.values[1].datetime.strftime("%d-%m-%Y")
									@time_start = fm.values[1].datetime.strftime("%H:%M")
									@prev_val = fm.values[1].value.round(1)
								end
								unless fm.values[0].nil?
									@date_end = fm.values[0].datetime.strftime("%d-%m-%Y")
									@time_end = fm.values[0].datetime.strftime("%H:%M")
									@cur_val = fm.values[0].value.round(1)
								end
							
								if fm.values.count == 2
												unless fm.values[0].nil? && fm.values[1].nil?
													@val = (fm.values[0].value - fm.values[1].value).round(1)
												end
								end
							end
						%>
					<tr>
						<td style="height:100%"> 
							<table style="border:0px; background-color:white; width:100%;height:100%">
								<tr class="inside" style="font-weight:bold">
									<td><%= fm.caption %> </td>
								</tr>
								<tr class="inside">
									<td> 
										<div id="#date_end<%=fm.address%>"><%= @date_end %></div> 
									</td>
								</tr>
							</table>
						</td>
							<td style="height:100%">
								<table style="width:100%; height: 100%;  background-color:white">
									<tr>
											<td style="text-align:center; font-size: x-large;">
												<div id="#time_end<%=fm.address%>">
													<%= @time_end %>
												</div>
											</td>
										<td style="border-style: solid; border-width: 1px; padding: 5px; text-align:center"> <%= @cur_val %></td>
											<td style="text-align:center; font-size:x-large;">
												<div id="#time_start<%=fm.address%>"></div>
												<%= @time_start %>
											</td>
										<td style="border-style: solid; border-width: 1px;padding: 5px;text-align:center"> <%= @prev_val %></td>
									</tr>
									<tr class="inside">
										<td colspan="4">

										<table style="width:100%">
											<tr>
												<td style="background-color:lightgreen; border-style:solid;border-width:1px;text-align:center; font-weight:bold; font-size:18pt; width:50%" > 
													<div id="sval<%=fm.address%>"><%= @val %></div>
												</td>
												<td style="width:40px">
													<div style="font-size:12pt">м3/час</div>
												</td>
												<td>
													<div id="val<%=fm.address%>" style="font-weight:bold">0.0</div>
												</td>
												<td>л. в мин</td> 
											</tr>
										</table>
									</td>
									</tr>
								</table>
							</td>
						</tr>
					<%end%>
				</tbody>
			</table>
		<div id="msgs"><p id="val">ws json</p></div>
		</body>
	</html>
