<html>
	<head>
		<title>Мнемосхема для Акбая</title>
	</head>
	<body>
		<iframe src="manometer/work/partial" name="msman" width="58%" height="100%">
			No iframe support detected!
		</iframe>
		<iframe src="fm-akbay-wells-ms" name="fmwells" width="20%" height="100%">
			No iframe support detected!
		</iframe>
		<iframe src="siphon_flowmeters_ms" name="fmsiphon" width="20%" height="100%">
			No iframe support detected!
		</iframe>
	</body>
</html>
