<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1052.3622"
   height="744.09448"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.2 r9819"
   sodipodi:docname="bam-ms.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#008000"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.4"
     inkscape:cx="366.77696"
     inkscape:cy="423.02027"
     inkscape:document-units="px"
     inkscape:current-layer="layer4"
     showgrid="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:window-width="1440"
     inkscape:window-height="876"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-308.2677)"
     style="display:inline">
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="885.90381"
       y="333.13358"
       id="text2989"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan2991"
         x="885.90381"
         y="333.13358"
         style="font-size:16px">Мнемосхема расходомеров БАМ</tspan></text>
    <g
       id="g3769"
       style="stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none">
      <path
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path2987"
         d="M 141.42136,42.038463 891.9647,153.15524 839.43677,506.70863 534.3707,665.30258 211.12188,627.92694 59.178027,516.86054 59.599,422.86597 z"
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
         sodipodi:nodetypes="cccccccc" />
      <path
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path2993"
         d="M 510.12704,94.566396 408.10163,650.1503"
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path2995"
         d="M 838.42661,506.70863 447.49758,434.9878"
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path2997"
         d="m 485.88337,225.88623 384.86812,64.64976"
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path2999"
         d="M 432.34529,518.83046 58.588848,422.86597"
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    </g>
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer"
     style="display:inline">
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 503.57143,130.16591 382.14286,62.5"
       id="path3777"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 793.92857,177.30877 -17.5,98.21428"
       id="path3779"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 840,184.80877 823.92857,283.3802"
       id="path3781"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 558.21429,139.09448 -19.64286,95.71429"
       id="path3783"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 551.07143,173.3802 236.78571,40.35714"
       id="path3785"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 622.14286,185.52305 -12.5,61.07143"
       id="path3787"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 714.28572,201.23734 -12.85715,61.78571"
       id="path3789"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 609.64286,245.8802 567.5,456.59448"
       id="path3791"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 776.07143,274.45162 736.42857,487.66591"
       id="path3793"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 824.28572,282.66591 787.14286,497.30877"
       id="path3795"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 598.57143,301.95162 166.78571,29.28572"
       id="path3797"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 587.85714,353.02305 755.71429,383.3802"
       id="path3799"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 579.28572,404.09448 166.78571,32.85714"
       id="path3801"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 566.78572,457.30877 535,664.80877"
       id="path3803"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 432.14286,519.45162 121.07143,25.71429 36.07143,4.64286 146.78571,-61.78572"
       id="path3805"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 506.78572,446.23734 -13.21429,86.42857 -19.28571,125"
       id="path3807"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 58.571429,516.95162 60.357141,-9.64285 12.14286,-65.71429"
       id="path3809"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 355.5737,542.30877 0,56.78571 L 212.5,587.30877 119.64286,505.52305 425.71429,554.45162"
       id="path3811"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 171.42857,551.59448 355.5737,569.80877"
       id="path3813"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 355.5737,598.73734 0,45.35714"
       id="path3815"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 355.5737,569.45163 65.85487,9.28571"
       id="path3817"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 446.9925,434.48273 c -2.52538,0 -369.210754,-95.45942 -369.210754,-95.45942"
       id="path3819"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 441.94174,464.7873 70.710678,367.30758"
       id="path3821"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 435.88082,498.12234 64.649763,395.08678"
       id="path3823"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 130,441.95162 220,54.094482"
       id="path3825"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 502.85714,129.80877 135,69.094482"
       id="path3827"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 485.71429,226.23734 116.42857,153.3802"
       id="path3829"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 493.57143,184.80877 126.42857,111.95162"
       id="path3831"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 478.57143,266.95162 -369.28572,-75"
       id="path3833"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 100.71429,226.23734 370.71428,79.28571"
       id="path3835"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 463.57143,343.3802 93.571429,260.52305"
       id="path3837"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 455,390.52305 85.714286,297.66591"
       id="path3839"
       inkscape:connector-curvature="0" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="Layer#1">
    <path
       style="fill:none;stroke:#000080;stroke-width:1.7;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 70.710678,365.28728 -12.12183,60.60915 2.020305,88.89342 149.502577,112.12694 145.46197,17.17259 0,66.67007"
       id="path3842"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1.69999999999999996;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="M 59.599,514.78985 120.20815,507.71879 219.2031,53.150141"
       id="path3844"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1.7;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 135.36044,443.06902 295.9747,76.7716 -24.24366,131.31983"
       id="path3846"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1.7;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="M 431.33514,520.85077 486.89353,224.87607 872.7718,291.54614 839.43677,507.71879 448.50773,433.97765"
       id="path3848"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1.7;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="M 566.69558,456.20101 588.91893,350.13499"
       id="path3850"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1.69999999999999996;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 735.39105,488.52589 11.11168,-52.52793"
       id="path3852"
       inkscape:connector-curvature="0" />
   <path
       transform="translate(64.397225,66.922606)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11330778"
       style="fill:#<%if @bam_mters.nil? || @bam_meters[11330778].nil?%>
			 <%= 'FF00FF' %>
			 <%else%>
			 <%=  'DED71F' if !@bam_meters.nil? and @bam_meters[11330778].is_counter_stoped?%><%= 'DE1414' if !@bam_meters.nil? and @bam_meters[11330778].is_counter_stalling?%><%= '2023D6' if !@bam_meters.nil? and @bam_meters[11330778].is_normal_state?%>
			 <%end%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3860" />
    <path
       sodipodi:type="arc"
       style="fill:#<%if @bam_mters.nil? || @bam_meters[11600629].nil?%>
			 <%= 'FF00FF' %>
			 <%else%>
<%= 'DED71F' if @bam_meters[11600629].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11600629].is_counter_stalling?%><%= '2023D6' if @bam_meters[11600629].is_normal_state?%>
				<%end%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11600629"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(58.841386,72.730983)"
       inkscape:label="#path3862" />
    <path
       transform="translate(68.185297,48.234784)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7066799"
       style="fill:#<%= 'DED71F' if @bam_meters[7066799].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7066799].is_counter_stalling?%><%= '2023D6' if @bam_meters[7066799].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3864" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7165862].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7165862].is_counter_stalling?%><%= '2023D6' if @bam_meters[7165862].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7165862"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(74.49875,19.445436)"
       inkscape:label="#path3866" />
    <path
       transform="translate(81.31728,-10.354064)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7165860"
       style="fill:#<%= 'DED71F' if @bam_meters[7165860].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7165860].is_counter_stalling?%><%= '2023D6' if @bam_meters[7165860].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3868" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7164835].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7164835].is_counter_stalling?%><%= '2023D6' if @bam_meters[7164835].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7164835"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(90.913729,-50.002551)"
       inkscape:label="#path3870" />
    <path
       transform="translate(99.500026,-88.893424)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7169016"
       style="fill:#<%= 'DED71F' if @bam_meters[7169016].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7169016].is_counter_stalling?%><%= '2023D6' if @bam_meters[7169016].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3872" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7169100].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7169100].is_counter_stalling?%><%= '2023D6' if @bam_meters[7169100].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7169100"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(107.83378,-121.97592)"
       inkscape:label="#path3874" />
    <path
       transform="translate(114.90485,-157.83634)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7169250"
       style="fill:#<%= 'DED71F' if @bam_meters[7169250].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7169250].is_counter_stalling?%><%= '2023D6' if @bam_meters[7169250].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3876" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11615990].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11615990].is_counter_stalling?%><%= '2023D6' if @bam_meters[11615990].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11615990"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(123.49115,-196.47467)"
       inkscape:label="#path3878" />
    <path
       transform="translate(133.34014,-240.92138)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7165950"
       style="fill:#<%= 'DED71F' if @bam_meters[7165950].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7165950].is_counter_stalling?%><%= '2023D6' if @bam_meters[7165950].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3880" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7164839].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7164839].is_counter_stalling?%><%= '2023D6' if @bam_meters[7164839].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7164839"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(141.6739,-283.34779)"
       inkscape:label="#path3882" />
    <path
       transform="translate(148.23989,-313.14729)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7073460"
       style="fill:#<%= 'DED71F' if @bam_meters[7073460].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7073460].is_counter_stalling?%><%= '2023D6' if @bam_meters[7073460].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3884" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11347524].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11347524].is_counter_stalling?%><%= '2023D6' if @bam_meters[11347524].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11347524"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(416.18285,-142.17897)"
       inkscape:label="#path3886" />
    <path
       transform="translate(469.72093,-133.34014)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7169349"
       style="fill:#<%= 'DED71F' if @bam_meters[7169349].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7169349].is_counter_stalling?%><%= '2023D6' if @bam_meters[7169349].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3888" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11347512].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11347512].is_counter_stalling?%><%= '2023D6' if @bam_meters[11347512].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11347512"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(706.34916,-91.671351)"
       inkscape:label="#path3890" />
    <path
       transform="translate(754.83648,-83.337592)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_1131623"
       style="fill:#<%= 'DED71F' if @bam_meters[1131623].is_counter_stoped?%><%= 'DE1414' if @bam_meters[1131623].is_counter_stalling?%><%= '2023D6' if @bam_meters[1131623].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3892" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7169020].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7169020].is_counter_stalling?%><%= '2023D6' if @bam_meters[7169020].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7169020"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(801.80857,-76.266524)"
       inkscape:label="#path3894" />
    <path
       transform="translate(519.72348,-13.384529)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11347421"
       style="fill:#<%= 'DED71F' if @bam_meters[11347421].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11347421].is_counter_stalling?%><%= '2023D6' if @bam_meters[11347421].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3896" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11615898].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11615898].is_counter_stalling?%><%= '2023D6' if @bam_meters[11615898].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11615898"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(515.43033,-10.354071)"
       inkscape:label="#path3898" />
    <path
       transform="translate(496.23743,89.651031)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11347399"
       style="fill:#<%= 'DED71F' if @bam_meters[11347399].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11347399].is_counter_stalling?%><%= '2023D6' if @bam_meters[11347399].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3900" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7068569].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7068569].is_counter_stalling?%><%= '2023D6' if @bam_meters[7068569].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7068569"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(436.89097,77.024124)"
       inkscape:label="#path3902" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11601823].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11601823].is_counter_stalling?%><%= '2023D6' if @bam_meters[11601823].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11601823"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(664.93291,119.19799)"
       inkscape:label="#path3904" />
    <path
       transform="translate(675.28697,70.45813)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11347485"
       style="fill:#<%= 'DED71F' if @bam_meters[11347485].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11347485].is_counter_stalling?%><%= '2023D6' if @bam_meters[11347485].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3906" />
    <path
       transform="translate(717.96592,129.55205)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_5998670"
       style="fill:#<%= 'DED71F' if @bam_meters[5998670].is_counter_stoped?%><%= 'DE1414' if @bam_meters[5998670].is_counter_stalling?%><%= '2023D6' if @bam_meters[5998670].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3908" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11331621].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11331621].is_counter_stalling?%><%= '2023D6' if @bam_meters[11331621].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11331621"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(767.46339,138.13835)"
       inkscape:label="#path3910" />
    <path
       transform="translate(778.32253,86.368032)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11615906"
       style="fill:#<%= 'DED71F' if @bam_meters[11615906].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11615906].is_counter_stalling?%><%= '2023D6' if @bam_meters[11615906].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3912" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[5650572].is_counter_stoped?%><%= 'DE1414' if @bam_meters[5650572].is_counter_stalling?%><%= '2023D6' if @bam_meters[5650572].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_5650572"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(817.97102,118.69291)"
       inkscape:label="#path3914" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 843.22484,485.24289 37.37564,1.26269"
       id="path3916"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 889.18678,492.5665 0,139.40105"
       id="path3918"
       inkscape:connector-curvature="0" />
    <path
       inkscape:label="#path3906"
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11347230].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11347230].is_counter_stalling?%><%= '2023D6' if @bam_meters[11347230].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11347230"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(677.55981,62.629448)" />
    <path
       inkscape:label="#path3894"
       transform="translate(801.80857,-88.388355)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11602129"
       style="fill:#<%= 'DED71F' if @bam_meters[11602129].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11602129].is_counter_stalling?%><%= '2023D6' if @bam_meters[11602129].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <path
       inkscape:label="#path3890"
       transform="translate(708.11693,-103.79318)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11600633"
       style="fill:#<%= 'DED71F' if @bam_meters[11600633].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11600633].is_counter_stalling?%><%= '2023D6' if @bam_meters[11600633].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <path
       inkscape:label="#path3888"
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[11331053].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11331053].is_counter_stalling?%><%= '2023D6' if @bam_meters[11331053].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11331053"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(472.49885,-141.92644)" />
    <path
       inkscape:label="#path3904"
       transform="translate(660.38722,124.75383)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7167798"
       style="fill:#<%= 'DED71F' if @bam_meters[7167798].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7167798].is_counter_stalling?%><%= '2023D6' if @bam_meters[7167798].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7165535].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7165535].is_counter_stalling?%><%= '2023D6' if @bam_meters[7165535].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7165535"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(137.38075,-245.7196)"
       inkscape:label="#path3930" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1.92702448;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 355.5737,643.5843 0,-95.72504"
       id="path3951"
       inkscape:connector-curvature="0" />
    <path
       inkscape:label="#path3862"
       transform="translate(285.7469,174.50385)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_7164795"
       style="fill:#<%= 'DED71F' if @bam_meters[7164795].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7164795].is_counter_stalling?%><%= '2023D6' if @bam_meters[7164795].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7163870].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7163870].is_counter_stalling?%><%= '2023D6' if @bam_meters[7163870].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7163870"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(286.25198,201.77797)"
       inkscape:label="#path3862" />
    <path
       inkscape:label="#path3862"
       transform="translate(286.50452,232.33508)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_11600618"
       style="fill:#<%= 'DED71F' if @bam_meters[11600618].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11600618].is_counter_stalling?%><%= '2023D6' if @bam_meters[11600618].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @bam_meters[7102628].is_counter_stoped?%><%= 'DE1414' if @bam_meters[7102628].is_counter_stalling?%><%= '2023D6' if @bam_meters[7102628].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7109628"
       sodipodi:cx="69.574257"
       sodipodi:cy="367.30759"
       sodipodi:rx="6.9447989"
       sodipodi:ry="7.0710678"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       transform="translate(284.23168,278.29702)"
       inkscape:label="#path3862" />
    <path
       inkscape:label="#path3862"
       transform="translate(285.99945,314.91505)"
       d="m 76.519056,367.30759 a 6.9447989,7.0710678 0 1 1 -13.889598,0 6.9447989,7.0710678 0 1 1 13.889598,0 z"
       sodipodi:ry="7.0710678"
       sodipodi:rx="6.9447989"
       sodipodi:cy="367.30759"
       sodipodi:cx="69.574257"
       id="meter_5748648"
       style="fill:#<%= 'DED71F' if @bam_meters[5748648].is_counter_stoped?%><%= 'DE1414' if @bam_meters[5748648].is_counter_stalling?%><%= '2023D6' if @bam_meters[5748648].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="812.14282"
       y="52.665913"
       id="text3963"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3965"
         x="814.05298"
         y="52.665913"
       style="fill:#<%= 'DED71F' if @bam_meters[11330778].is_counter_stoped?%><%= 'DE1414' if @bam_meters[11330778].is_counter_stalling?%><%= '2023D6' if @bam_meters[11330778].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
	 style="font-size:12px">Дата <%= DateTime.now.strftime('%d-%m-%Y %H:%M')%></tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="361.9368"
       y="16.963146"
       id="text3967"
       sodipodi:linespacing="125%"
       transform="matrix(0.98890664,0.14853843,-0.14853843,0.98890664,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3969"
         x="361.9368"
         y="16.963146">ул. Жанакожа Батыра</tspan></text>
    <text
       transform="matrix(0.98890664,0.14853843,-0.14853843,0.98890664,0,0)"
       sodipodi:linespacing="125%"
       id="text3971"
       y="46.27861"
       x="359.11713"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="46.27861"
         x="359.11713"
         id="tspan3973"
         sodipodi:role="line">ул. Жанажол</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="351.9924"
       y="95.02047"
       id="text3975"
       sodipodi:linespacing="125%"
       transform="matrix(0.98890664,0.14853843,-0.14853843,0.98890664,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3977"
         x="351.9924"
         y="95.02047">ул. Задарьинская</tspan></text>
    <text
       transform="matrix(0.97581826,0.21858343,-0.21858343,0.97581826,0,0)"
       sodipodi:linespacing="125%"
       id="text3979"
       y="113.97981"
       x="359.5687"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="113.97981"
         x="359.5687"
         id="tspan3981"
         sodipodi:role="line">ул. Коктем</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="353.59818"
       y="160.31628"
       id="text3983"
       sodipodi:linespacing="125%"
       transform="matrix(0.98120582,0.19296407,-0.19296407,0.98120582,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3985"
         x="353.59818"
         y="160.31628">ул. Парниковая</tspan></text>
    <text
       transform="matrix(0.97004718,0.24291658,-0.24291658,0.97004718,0,0)"
       sodipodi:linespacing="125%"
       id="text3987"
       y="180.65575"
       x="362.80643"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="180.65575"
         x="362.80643"
         id="tspan3989"
         sodipodi:role="line">ул. Коктас</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="362.15622"
       y="222.00038"
       id="text3991"
       sodipodi:linespacing="125%"
       transform="matrix(0.97172517,0.23611479,-0.23611479,0.97172517,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3993"
         x="362.15622"
         y="222.00038">ул. Жулдыз</tspan></text>
    <text
       transform="matrix(0.9484266,0.31699682,-0.31699682,0.9484266,0,0)"
       sodipodi:linespacing="125%"
       id="text3995"
       y="234.37939"
       x="381.88593"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="234.37939"
         x="381.88593"
         id="tspan3997"
         sodipodi:role="line">ул. Актас</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="361.60687"
       y="308.5325"
       id="text3999"
       sodipodi:linespacing="125%"
       transform="matrix(0.97143449,0.23730788,-0.23730788,0.97143449,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4001"
         x="361.60687"
         y="308.5325">ул. Шолпан</tspan></text>
    <text
       transform="matrix(0.96323104,0.26867446,-0.26867446,0.96323104,0,0)"
       sodipodi:linespacing="125%"
       id="text4003"
       y="326.32565"
       x="376.65665"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="326.32565"
         x="376.65665"
         id="tspan4005"
         sodipodi:role="line">ул. Полярная</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="389.25739"
       y="382.13507"
       id="text4007"
       sodipodi:linespacing="125%"
       transform="matrix(0.96323104,0.26867446,-0.26867446,0.96323104,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4009"
         x="389.25739"
         y="382.13507">ул. Махатаева</tspan></text>
    <text
       transform="matrix(0.99283939,0.11945687,-0.11945687,0.99283939,0,0)"
       sodipodi:linespacing="125%"
       id="text4011"
       y="483.98221"
       x="221.28307"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="483.98221"
         x="221.28307"
         id="tspan4013"
         sodipodi:role="line">ул. Трактористов</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="-81.431007"
       y="807.81958"
       id="text4015"
       sodipodi:linespacing="125%"
       transform="matrix(0.16831294,-0.98573361,0.98573361,0.16831294,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4017"
         x="-81.431007"
         y="807.81958">ул. Махатаева</tspan></text>
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer4"
     inkscape:label="Layer#2">
    <g
       id="g4026">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4020"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4022"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4024"
           sodipodi:role="line">№ 11602129</tspan></text>
    </g>
    <g
       id="g4031"
       transform="translate(1.2626907,15.404826)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         id="path4033"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4035"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4037"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7169020</tspan></text>
    </g>
    <g
       id="g4039"
       transform="translate(-75.761441,5.0507627)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 894.99516,274.12101 -9.84899,-11.36422 60.86169,0"
         id="path4041"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4043"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4045"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11331623</tspan></text>
    </g>
    <g
       transform="translate(-94.701801,-14.89975)"
       id="g4047">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4049"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4051"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4053"
           sodipodi:role="line">№ 11600633</tspan></text>
    </g>
    <g
       id="g4055"
       transform="translate(-99.752564,44.69925)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 877.06495,238.51314 8.08122,24.24365 60.86169,0"
         id="path4057"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4059"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4061"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11347512</tspan></text>
    </g>
    <g
       id="g4063"
       transform="translate(-330.06734,-51.770318)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4065"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4067"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4069"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11331053</tspan></text>
    </g>
    <g
       transform="translate(-330.06734,-38.133259)"
       id="g4071">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4073"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4075"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4077"
           sodipodi:role="line">№ 7169349</tspan></text>
    </g>
    <g
       transform="translate(-411.8897,-55.305852)"
       id="g4079">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4081"
         d="m 892.97485,275.3837 -7.82868,-12.62691 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4083"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4085"
           sodipodi:role="line">№ 11347524</tspan></text>
    </g>
    <g
       transform="translate(-652.81108,-221.47594)"
       id="g4087">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4089"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4091"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4093"
           sodipodi:role="line">№ 7073460</tspan></text>
    </g>
    <g
       id="g4095"
       transform="translate(-657.86185,-191.67644)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4097"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4099"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4101"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7164839</tspan></text>
    </g>
    <g
       id="g4103"
       transform="translate(-663.41768,-153.79572)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4105"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4107"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4109"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7165535</tspan></text>
    </g>
    <g
       transform="translate(-662.40753,-139.65358)"
       id="g4111">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4113"
         d="m 869.23627,270.83801 15.9099,-8.08122 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4115"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4117"
           sodipodi:role="line">№ 7165950</tspan></text>
    </g>
    <g
       transform="translate(-677.55982,-106.31855)"
       id="g4119">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4121"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4123"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4125"
           sodipodi:role="line">№ 11615990</tspan></text>
    </g>
    <g
       id="g4127"
       transform="translate(-686.14612,-67.427677)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4129"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4131"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4133"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7169100</tspan></text>
    </g>
    <g
       transform="translate(-694.22734,-32.072338)"
       id="g4135">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4137"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4139"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4141"
           sodipodi:role="line">№ 7169016</tspan></text>
    </g>
    <g
       transform="translate(-700.79333,2.2728487)"
       id="g4143">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4145"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4147"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4149"
           sodipodi:role="line">№ 7164835</tspan></text>
    </g>
    <g
       id="g4151"
       transform="translate(-709.37963,41.163722)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4153"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4155"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4157"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7165860</tspan></text>
    </g>
    <g
       id="g4159"
       transform="translate(-719.48115,80.559671)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4161"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4163"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4165"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7165862</tspan></text>
    </g>
    <g
       transform="translate(-725.54207,110.35918)"
       id="g4167">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4169"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4171"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4173"
           sodipodi:role="line">№ 7066799</tspan></text>
    </g>
    <g
       transform="translate(-735.13851,161.37187)"
       id="g4175">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4177"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4179"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4181"
           sodipodi:role="line">№ 11330778</tspan></text>
    </g>
    <g
       id="g4183"
       transform="translate(-745.24004,209.8592)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 874.79211,236.49282 10.35406,26.26397 60.86169,0"
         id="path4185"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4187"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4189"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11600629</tspan></text>
    </g>
   <g
       id="g4199"
       transform="translate(-520.98617,268.44804)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 879.84287,268.31263 5.3033,-5.55584 60.86169,0"
         id="path4201"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4203"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4205"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7164795</tspan></text>
    </g>
    <g
       transform="translate(-522.5014,294.20693)"
       id="g4207">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4209"
         d="m 879.84287,268.31263 5.3033,-5.55584 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4211"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4213"
           sodipodi:role="line">№ 7163870</tspan></text>
    </g>
    <g
       transform="translate(-522.5014,324.51151)"
       id="g4215">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4217"
         d="m 879.84287,268.31263 5.3033,-5.55584 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4219"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4221"
           sodipodi:role="line">№ 11600618</tspan></text>
    </g>
    <g
       id="g4223"
       transform="translate(-521.99632,370.97852)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 879.84287,268.31263 5.3033,-5.55584 60.86169,0"
         id="path4225"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4227"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4229"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7102628</tspan></text>
    </g>
    <g
       transform="translate(-520.48109,407.84909)"
       id="g4231">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4233"
         d="m 879.84287,268.31263 5.3033,-5.55584 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4235"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4237"
           sodipodi:role="line">№ 5748648</tspan></text>
    </g>
    <g
       id="g4239"
       transform="translate(-24.748737,173.24116)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         id="path4241"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4243"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4245"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11615906</tspan></text>
    </g>
    <g
       transform="translate(14.647212,205.56604)"
       id="g4247">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4249"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4251"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4253"
           sodipodi:role="line">№ 5650572</tspan></text>
    </g>
    <g
       transform="translate(-37.375644,262.63966)"
       id="g4255">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4257"
         d="m 876.55987,249.37228 8.5863,13.38451 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4259"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4261"
           sodipodi:role="line">№ 11331621</tspan></text>
    </g>
    <g
       id="g4263"
       transform="translate(-111.62186,214.15234)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 896.25784,276.6464 -11.11167,-13.88961 60.86169,0"
         id="path4265"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4267"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4269"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 5998670</tspan></text>
    </g>
    <g
       transform="translate(-124.75384,149.50258)"
       id="g4271">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4273"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4275"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4277"
           sodipodi:role="line">№ 11347230</tspan></text>
    </g>
    <g
       id="g4279"
       transform="translate(-124.75384,163.64472)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         id="path4281"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4283"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4285"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11347485</tspan></text>
    </g>
    <g
       transform="translate(-174.75639,206.07112)"
       id="g4287">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4289"
         d="m 903.83399,275.13117 -18.68782,-12.37438 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4291"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4293"
           sodipodi:role="line">№ 11601823</tspan></text>
    </g>
    <g
       id="g4295"
       transform="translate(-148.49242,254.55844)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 881.10556,243.31136 4.04061,19.44543 60.86169,0"
         id="path4297"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4299"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4301"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 7167798</tspan></text>
    </g>
    <g
       id="g4303"
       transform="translate(-283.09525,76.013979)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         id="path4305"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4307"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4309"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11347421</tspan></text>
    </g>
    <g
       transform="translate(-288.32399,123.98496)"
       id="g4311">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4313"
         d="m 877.06495,238.51314 8.08122,24.24365 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4315"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4317"
           sodipodi:role="line">№ 11615898</tspan></text>
    </g>
    <g
       id="g4319"
       transform="translate(-305.82527,177.35972)">
      <path
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 877.06495,274.62609 8.08122,-11.8693 60.86169,0"
         id="path4321"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="916.46088"
         y="259.97888"
         id="text4323"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan4325"
           x="916.46088"
           y="259.97888"
           style="font-size:10px">№ 11347399</tspan></text>
    </g>
    <g
       transform="translate(-367.38097,165.2997)"
       id="g4327">
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4329"
         d="m 875.80226,272.35324 9.34391,-9.59645 60.86169,0"
         style="fill:none;stroke:#ff00ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text4331"
         y="259.97888"
         x="916.46088"
         style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:10px"
           y="259.97888"
           x="916.46088"
           id="tspan4333"
           sodipodi:role="line">№ 7068569</tspan></text>
    </g>
  </g>
</svg>
