<html>
	<head>
		<title>
			Отчёт по состоянию расходомера "ПивЗавод"
		</title>
	</head>
	<body>
		<h1>Отчёт по состояния расходомера "ПивЗавод"</h1>
		<form method="POST">
			<input type="radio" name="report" value="daily" checked>Дневной</input>
			<input type="radio" name="report" value="monthly">Месячный</input>
			<input type="radio" name="report" value="period">За период</input>
			<br>
			<input type="submit" value="Создать отчёт"></input>
		</form>
	</body>
</html>

