<html>
	<head>
		<title>Мнемосхема для Акбая</title>
	</head>
	<body>
		<iframe src="flowmeters_ms" name="msman" width="430px" height="100%">
			No iframe support detected!
		</iframe>
		<iframe src="siphon_flowmeters_ms" name="fmsiphon" width="420px"  height="100%">
			No iframe support detected!
		</iframe>
		<iframe src="fm-akbay-wells-ms" name="fmwells"  height="100%">
			No iframe support detected!
		</iframe>
	</body>
</html>
