<!doctype html>
<html>
  <head>
    <title>Отчёт по пульсарам за период (ввод файла)</title>
    <link href="/styles/dropbox.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/styles/theme.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/scripts/dropbox.js" type="text/javascript"></script>
  </head>
  <body>
	<h1>Отчёт по пульсарам за период</h1>
<div id="dropbox" style="height:100px;">Нажмите или перетащите файлы по пульсарам...</div>
<div id="log"></div>

<script>
  var box = document.getElementById('dropbox');
  var log = document.getElementById('log');

  var dropbox = new Dropbox(box, 'generate/range');
  // Optional settings and callbacks
  dropbox.max_size = 10; // MB
  dropbox.max_concurrent = 2; // Do not upload more than two files at a time
  dropbox.mime_types = /.*/i; // Only allow pngs, jpgs, and gifs
  dropbox.success = function(file, response) {
    log.innerHTML += '<p>' + file.name + ' was successfully uploaded: ' + response + '</p>'
  }
  dropbox.error = function(file, status, response) {
    log.innerHTML += '<p>' + file.name + ' failed to upload: ' + error + '</p>'
  }
</script>
  </body>
</html>
