<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Мнемосхема ВК Шымкент | График контрольной точки за период | Выбор параметров</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
        $("#tabcontainer").tabs({
event: "click"
});
        $("a[rel^='prettyPhoto']").prettyPhoto({
theme: 'dark_rounded'
});
        });
</script>
</head>
<body id="top">
<div class="wrapper col1">
    <div id="header" class="clear">
        <div class="fl_left">
            <h1><a href="/">Главная страница</a></h1>
            <br>
            <p>График контрольной точки за период</p>
        </div>
        <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
    <div id="topbar" class="clear">
        <ul id="topnav">
            <li><a href="/">Главная</a></li>
            <li><a href="/fm">Расходомеры</a></li>
            <li><a href="/rp">Отчеты</a></li>
            <li><a href="#">Графики</a>
            <ul>
                <li><a href="#">Часовые</a></li>
                <li><a href="#">Суточные</a></li>
                <li><a href="#">За период</a></li>
            </ul>
            </li>
            <li><a href="/tb">Таблицы</a></li>
            <li class="active last"><a href="/cp">Контрольные точки</a></li>
        </ul>
        <form action="#" method="post" id="search">
            <fieldset>
                <legend>Поиск по сайту</legend>
                <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
                <input type="image" id="go" src="images/search.gif" alt="Search" />
            </fieldset>
        </form>
    </div>
</div>

<div class="wrapper col2">
    <div id="container" class="clear">
        <h1>График контрольной точки за период</h1>

        <br>

        <h3>Введите параметры:</h3>
        <form method="POST">
            <p>Контрольная точка:</p>
            <span id="cp">
                <select name="cps">
                    <% $cps.each do |cp| %>
                        <% if cp.address == @selected_cp%>
                        <option value="<%=cp.address%>" selected="selected"><%=cp.caption%> </option>
                <%else%>
                        <option value="<%=cp.address%>"><%=cp.caption%></option>
                <%end%>
                <% end %>
                </select>  
            </span>
            <%= @date_cur = Time.now.to_date %>
            <p>Дата начала:</p>
            <span id="evstart">
                <select name="ev[start][d]" >
                    <% 31.times do |i| %>
                        <% if i != ( @date_cur.day - 2) %> 
                        <option value="<%=i+1%>"><%=i+1%></option>
                <%else%>
                        <option value="<%=i+1%>" selected="selected"><%=i+1%></option>
                <%end%>
                <%end%>
                </select>
                <select name="ev[start][m]">
                    <% 1.upto(12).each do |i| %>
                        <option value="<%=i%>"<%='selected' if i == @date_cur.month%>><%=i%></option>
                <%end%>
                </select>
                <select name="ev[start][y]">
                    <% 2017.downto(2008).each do |i| %>
                        <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
                <%end%>
                </select>
                Время: 
                <select name="ev[start][h]">
                    <% 0.upto(23).each do |i| %>
                        <option value="<%=i%>" <%='selected' if i == 0%>><%=i%></option>
                <%end%>
                </select>
                <select name="ev[start][i]">
                    <% 0.upto(60).each do |i| %>
                        <option value="<%=i%>" <%='selected' if i == 0%>><%=i%></option>
                <%end%>
                </select>
                <p>Дата конца:</p>
                <span id="evstart">
                    <select name="ev[end][d]" >
                        <% 31.times do |i| %>
                            <% if i != ( @date_cur.day) %> 
                            <option value="<%=i+1%>"><%=i+1%></option>
                    <%else%>
                            <option value="<%=i+1%>" selected="selected"><%=i+1%></option>
                    <%end%>
                    <%end%>
                    </select>
                    <select name="ev[end][m]">
                        <% 1.upto(12).each do |i| %>
                            <option value="<%=i%>"<%='selected' if i == @date_cur.month%>><%=i%></option>
                    <%end%>
                    </select>
                    <select name="ev[end][y]">
                        <% 2017.downto(2008).each do |i| %>
                            <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
                    <%end%>
                    </select>
                    Время: 
                    <select name="ev[end][h]">
                        <% 0.upto(23).each do |i| %>
                            <option value="<%=i%>" <%='selected' if i == 0%>><%=i%></option>
                    <%end%>
                    </select>
                    <select name="ev[end][i]">
                        <% 0.upto(60).each do |i| %>
                            <option value="<%=i%>" <%='selected' if i == 0%>><%=i%></option>
                    <%end%>
                    </select>


                    <br>
                    <p>
                    <input type="submit" id="fmsubmit" value="Создать отчёт"/>
                    </p>
                </form>
            </div>
        </div>

        <div class="wrapper">
            <div id="footer" class="clear">
                <div class="footbox">
                    <h2>О нас</h2>
                    <p>ТОО Водные ресурсы маркетинг</p>
                </div>
                <div class="footbox">
                    <h2>Наши сотрудники</h2>
                    <ul>
                        <li><a href="#">Абдраман Артыкбаев</a></li>
                        <li><a href="#">Казамбаев Биржан</a></li>
                        <li class="last"><a href="#">Садыков Ридван</a></li>
                    </ul>
                </div>
                <div class="footbox">
                    <h2>Ссылки</h2>
                    <ul>
                        <li><a href="#">Руководство пользователя</a></li>
                        <li class="last"><a href="#">Доп сведения</a></li>
                    </ul>
                </div>
                <div class="footbox last">
                    <h2>На связи</h2>
                    <ul>
                        <li><strong class="title">Tel:</strong><br />
                        8(7252)32-60-09</li>
                        <li><strong class="title">Email:</strong><br />
                        <a href="#">art_kip@mail.ru</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ####################################################################################################### -->
        <div class="wrapper">
            <div id="copyright" class="clear">
                <p class="fl_left">Copyright &copy; 2011-2014 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
                <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            </div>
        </div>
        </body>
        </html>
