<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Мнемосхема ВК Шымкент | Таблица контрольной точки <%=@sel_cp.caption %> за период с <%=@date_start.strftime('%d-%m-%Y %H:%M')%> по <%=@date_end.strftime('%d-%m-%Y %H:%M')%></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
        $("#tabcontainer").tabs({
event: "click"
});
        $("a[rel^='prettyPhoto']").prettyPhoto({
theme: 'dark_rounded'
});
        });
</script>
</head>
<body id="top">
<div class="wrapper col1">
    <div id="header" class="clear">
        <div class="fl_left">
            <h1><a href="/">Главная страница</a></h1>
            <br>
            <p>График контрольной точки за период</p>
        </div>
        <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
    <div id="topbar" class="clear">
        <ul id="topnav">
            <li><a href="/">Главная</a></li>
            <li><a href="/fm">Расходомеры</a></li>
            <li><a href="/rp">Отчеты</a></li>
            <li><a href="#">Графики</a>
            <ul>
                <li><a href="#">Часовые</a></li>
                <li><a href="#">Суточные</a></li>
                <li><a href="#">За период</a></li>
            </ul>
            </li>
            <li><a href="/tb">Таблицы</a></li>
            <li class="active last"><a href="/cp">Контрольные точки</a></li>
        </ul>
        <form action="#" method="post" id="search">
            <fieldset>
                <legend>Поиск по сайту</legend>
                <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
                <input type="image" id="go" src="images/search.gif" alt="Search" />
            </fieldset>
        </form>
    </div>
</div>

<div class="wrapper col2">
    <div id="container" class="clear">
        <h1>Таблица контрольной точки за период</h1>

    	<% @max_mode = get_cp_mode( @sel_cp.address )[:max] %>
	<% @min_mode = get_cp_mode( @sel_cp.address )[:min] %>

   <h2> <%=@sel_cp.caption %> ( <%= @min_mode %> - <%= @max_mode %> ) </h2>
   <h3> с <%=@date_start.strftime('%d-%m-%Y %H:%M')%> по <%=@date_end.strftime('%d-%m-%Y %H:%M')%> </h2>
   
   <% val_count = @cur_cp_period_vals.size / 3 + 1 %>
   <% @all_vals = @cur_cp_period_vals.each_slice( val_count ).to_a %>
   <% @all_vals.each do |cpv|%>
   <table border="1px" style="width:200px;margin: 10px;float:left;">
    <thead>
      <th> Номер </th>
      <th> Дата </th>
      <th> Значение </th>
    </thead>
    <tbody>

      <%cpv.each_with_index do |val, i|%>
      	<% @cur_text_color = 'black'; @cur_color = 'white' %>
	<% @cur_color = 'red' if val[:value] >= ( @max_mode ) %> 
	<% @cur_color = 'yellow' if val[:value] <= ( @min_mode ) %> 
	<% @cur_text_color = 'white' if val[:value] >= ( @max_mode ) %> 
	<% @cur_text_color = 'blue' if val[:value] <= ( @min_mode ) %> 
         <tr>
	    <td> <%= i + 1 %> </td>
        <td style="color: <%=@cur_text_color%>; background-color:<%=@cur_color%>"> <%= val[:datetime].strftime("%H:%M")  %> </td>
            <td align="right" style="color: <%=@cur_text_color%>;background-color:<%=@cur_color%>"> <%= val[:value] %> </td>
         </tr>
	    <% if val[:datetime].min == 0 %>
		    <tr >
			    <td colspan="3" style="font-weight:bold"><%= val[:datetime].strftime("%d-%m-%Y %H:%M")%></td>
		    </tr>
	    <% end %>
      <%end%>

    </tbody>
   </table>
   <% end %>
   </div>
   </div>
        <div class="wrapper">
            <div id="footer" class="clear">
                <div class="footbox">
                    <h2>О нас</h2>
                    <p>ТОО Водные ресурсы маркетинг</p>
                </div>
                <div class="footbox">
                    <h2>Наши сотрудники</h2>
                    <ul>
                        <li><a href="#">Абдраман Артыкбаев</a></li>
                        <li><a href="#">Казамбаев Биржан</a></li>
                        <li class="last"><a href="#">Садыков Ридван</a></li>
                    </ul>
                </div>
                <div class="footbox">
                    <h2>Ссылки</h2>
                    <ul>
                        <li><a href="#">Руководство пользователя</a></li>
                        <li class="last"><a href="#">Доп сведения</a></li>
                    </ul>
                </div>
                <div class="footbox last">
                    <h2>На связи</h2>
                    <ul>
                        <li><strong class="title">Tel:</strong><br />
                        8(7252)32-60-09</li>
                        <li><strong class="title">Email:</strong><br />
                        <a href="#">art_kip@mail.ru</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ####################################################################################################### -->
        <div class="wrapper">
            <div id="copyright" class="clear">
                <p class="fl_left">Copyright &copy; 2011-2014 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
                <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            </div>
        </div>
        </body>
        </html>
