<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Мнемосхема Шымкент | Контрольные точки</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#tabcontainer").tabs({
        event: "click"
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded'
    });
});

var graphWindow;

function showGraph(code){
	if( graphWindow != undefined)
	{
		graphWindow.close();
	}

	graphWindow = window.open('/cp-gr-fl?cps='+code, '_blank', 'width=800px,height=675px,toolbar=no,status=no,unadorned=yes,alwaysRaised=yes,location=no,menubar=no,chrome=yes,dialog=yes,modal=no' );
	graphWindow.focus();
}
</script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Контрольные точки</a></h1>
      <p>Мнемосхема</p>
    </div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="/">Главная</a></li>
      <li><a href="/fm">Расходомеры</a></li>
      <li><a href="/rp">Отчеты</a></li>
      <li><a href="#">Графики</a>
        <ul>
          <li><a href="#">Часовые</a></li>
          <li><a href="#">Суточные</a></li>
          <li><a href="#">За период</a></li>
        </ul>
      </li>
      <li><a href="/tb">Таблицы</a></li>
      <li class="active last"><a href="/cp">Контрольные точки</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Поиск по сайту</legend>
        <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="images/search.gif" alt="Search" />
      </fieldset>
    </form>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="tabcontainer">
      <ul id="tabnav">
        <li><a href="#tabs-1">Главные</a></li>
        <li><a href="#tabs-2">Аль Фарабийский</a></li>
        <li><a href="#tabs-3">Энбекшинский</a></li>
        <li><a href="#tabs-4">Абайский</a></li>
        <li><a href="#tabs-5">За городом</a></li>
      </ul>
      <!-- ########### -->
      <div id="tabs-1" class="gallery clear">
        <ul>
		<%$cps.each_with_index do |cp,i| %>
			<li <%= 'class="last"' if (i%4 == 3)%>>
			<% if TimeDifference.between( cp.value.datetime, Time.now ).in_hours > 2 %>
					<table style="background-color:#ff7033;">
			<% else %>
					<table style="background-color:light-gray;">
			<% end %>
						<thead>
							<tr>
								<th colspan=2 align=center width="100px">
									<%= cp.caption %>
								</th>
							</tr>
							<tr>
                                <th width="100px"><%= cp.value.datetime.strftime("%d-%m-%Y")%></th>
								<th align="center">
									<%= get_cp_mode(cp.address)[:min] %> - <%= get_cp_mode(cp.address)[:max] %>
								</th>
							</tr>
						</thead>
						<tbody>
                        <tr> 
                            <td  style="color:#0F0F0F;text-align:right;">
                                <%= cp.value.datetime.strftime("%H:%M:%S") %>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 align=center style="cursor:pointer" onclick="showGraph('<%=cp.address%>');">
                                <h1 style="color:<%=(get_cp_mode(cp.address)[:min]> cp.value.value)?("#953ee6"):((get_cp_mode(cp.address)[:max]< cp.value.value)?("#E83a4b"):("#000000"))%>; font-size:400%">
                                    <%= cp.value.value %>
                                </h1>
                             </td>
                        </tr>

                        <tr>
                            <td align="center">
                                <button style="width:100%;height=100%;" onclick='javascript:location="cp-gr?cp=<%=cp.address%>"'>График</button>
                                </td>
                                <td>
                                <button style="width:100%;height=100%;" onclick='javascript:location="cp-tab?cp=<%=cp.address%>"'>Таблица</button>
                            </td>
                        </tr>
						</tbody>
					</table>
			</li>
		<%end%>
        </ul>
      </div>
      <!-- ########### -->
      <div id="tabs-2" class="gallery clear">
        <ul>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 1"><img src="images/demo/gallery/2.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 2"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 3"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 4"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 5"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 6"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 7"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 8"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 9"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 10"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 11"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery2]" title="Image 12"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
        </ul>
      </div>
      <!-- ########### -->
      <div id="tabs-3" class="gallery clear">
        <ul>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 1"><img src="images/demo/gallery/3.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 2"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 3"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 4"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 5"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 6"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 7"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 8"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 9"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 10"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 11"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery3]" title="Image 12"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
        </ul>
      </div>
      <!-- ########### -->
      <div id="tabs-4" class="gallery clear">
        <ul>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 1"><img src="images/demo/gallery/4.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 2"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 3"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 4"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 5"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 6"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 7"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 8"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 9"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 10"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 11"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery4]" title="Image 12"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
        </ul>
      </div>
      <!-- ########### -->
      <div id="tabs-5" class="gallery clear">
        <ul>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 1"><img src="images/demo/gallery/5.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 2"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 3"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 4"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 5"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 6"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 7"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 8"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 9"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 10"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 11"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/portfolioslider/1.gif" rel="prettyPhoto[gallery5]" title="Image 12"><img src="images/demo/gallery/150x150.gif" alt="" /></a></li>
        </ul>
      </div>
      <!-- ########### -->
    </div>
    <!-- ####################################################################################################### -->
    <div class="pagination">
      <ul>
        <li class="prev"><a href="#">&laquo; Пред</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="next"><a href="#">След &raquo;</a></li>
      </ul>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear">
    <div class="footbox">
      <h2>О нас</h2>
      <p>ТОО Водные ресурсы маркетинг</p>
    </div>
    <div class="footbox">
      <h2>Наши сотрудники</h2>
      <ul>
        <li><a href="#">Абдраман Артыкбаев</a></li>
        <li><a href="#">Казамбаев Биржан</a></li>
        <li class="last"><a href="#">Садыков Ридван</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Ссылки</h2>
      <ul>
        <li><a href="#">Руководство пользователя</a></li>
        <li class="last"><a href="#">Доп сведения</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>На связи</h2>
      <ul>
        <li><strong class="title">Tel:</strong><br />
          8(7252)32-60-09</li>
        <li><strong class="title">Email:</strong><br />
          <a href="#">art_kip@mail.ru</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2011-2014 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
</body>
</html>
