<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.3//EN" "http://www.wapforum.org/DTD/wml13.dtd">

<wml>
	<card id="first">
		<p>
			Контрольные точки
			<do type="accept">
				<go href="#card2"/>
			</do>
		</p>
		<%$cps.each_with_index do |cp,i| %>
			<p>
			<table>
			  	 <thead>
					<tr>
				  	  <th align=center>
					 	<%= cp.caption %>
					  </th>
					</tr>
				</thead>
				<tbody>
					<tr><td><%= cp.value.datetime.strftime("%H:%M:%S %d-%m-%Y") %></td></tr>
					<tr><td align=center><h1 style="color:#000000; font-size:300%"><%= cp.value.value %></h1></td></tr>
				</tbody>
			</table>
			</p>
		<%end%>
	</card>

	<card id="card2">
		<p>
			Детальная информация
		</p>
	</card>
</wml>
