<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Мнемосхема ВК Шымкент | График давления по контрольной точке <%= @sel_cp.caption %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
        $("#tabcontainer").tabs({
event: "click"
});
        $("a[rel^='prettyPhoto']").prettyPhoto({
theme: 'dark_rounded'
});
        });
</script>
<script src="/scripts/amcharts.js" type="text/javascript"></script>
<script src="/scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
function prepare_graph(){

}

const MIN_PRESSURE = 0.0;
const MAX_PRESSURE = 14.0;

var chart;
var chart_min = 0, chart_max = 0;
var chartData = [];
var chartCursor;

function min_data() {
    var min = chartData[0].visits;
    var chartData_len = chartData.length;
    for( var i = 1; i < chartData_len; i++ ){
        min = ( chartData[i].visits < min )?(chartData[i].visits):(min); 
    };
    return min;
}

function max_data() {
    var max = chartData[0].visits;
    var chartData_len = chartData.length;
    for( var i = 1; i < chartData_len; i++ ){
        max = ( chartData[i].visits > max )?(chartData[i].visits):(max); 
    };
    return max;
}


// generate some random data, quite different range
function generateChartData() {
    var firstDate = new Date(<%=@date_start.year%>, <%=@date_start.month%>, <%=@date_start.day%>);

    <% @cur_cp_period_vals.each do |cpv| %>

            <% @date_cpv = cpv[:datetime] %>

            var newDate = new Date(<%= @date_cpv.year %>, <%= @date_cpv.month %>, <%= @date_cpv.day %>, <%= @date_cpv.hour %>, <%= @date_cpv.min %>, <%= @date_cpv.sec %>);
    var visits = <%= cpv[:value]%>; 

    chartData.push({
date: newDate,
dateFormatted: '<%= @date_cpv.strftime("%H:%M %d/%m/%y")%>',
visits: visits
});
<% end %>
chart_min = min_data();
chart_max = max_data();
}

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(0, chartData.length - 1);
}

// changes cursor mode from pan to select
function setPanSelect() {
    if (document.getElementById("rb1").checked) {
        chartCursor.pan = false;
        chartCursor.zoomable = true;

    } else {
        chartCursor.pan = true;
    }
    chart.validateNow();
}


// create chart
AmCharts.ready(function() {
        // generate some data first
        generateChartData();

        // SERIAL CHART    
        chart = new AmCharts.AmSerialChart();
        chart.pathToImages = "/images/";
        chart.marginTop = 0;
        chart.marginRight = 10;
        chart.autoMarginOffset = 5;
        chart.zoomOutButton = {
backgroundColor: '#000000',
backgroundAlpha: 0.15
};

chart.dataProvider = chartData;
chart.categoryField = "date";
chart.numberFormatter = {precision:2, decimalSeparator: '.', thousandsSeparator:' '};
chart.columnWidth = 20;


// listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
chart.addListener("dataUpdated", zoomChart);

// AXES
// category
var categoryAxis = chart.categoryAxis;
categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
categoryAxis.minPeriod = "hh"; // our data is daily, so we set minPeriod to DD
categoryAxis.dashLength = 1;
categoryAxis.equalSpacing = true;
categoryAxis.gridAlpha = 0.15;
categoryAxis.axisColor = "#DFEA8A";
categoryAxis.position = "bottom";
categoryAxis.title = "Дата";

// value                
var valueAxis = new AmCharts.ValueAxis();
valueAxis.axisAlpha = 0.2;
valueAxis.dashLength = 1;
valueAxis.minimum = 0;
valueAxis.maximum = 14;

//MODE GUIDE
var guide = new AmCharts.Guide();
guide.value = <%=@cp_mode_min%>; 
guide.toValue = <%=@cp_mode_max%>;  
guide.fillColor = "#19D119";
guide.fillAlpha = 0.65;
guide.lineColor = "#00BE00";
guide.lineAlpha = 1;
guide.label = "режим";
guide.inside = true;
guide.position = "right";
valueAxis.addGuide( guide );

//MIN GUIDE
var guide = new AmCharts.Guide();
guide.value = MIN_PRESSURE; 
guide.toValue = <%=@cp_mode_min%>;  
guide.fillColor = "#DDE330";
guide.fillAlpha = 0.65;
guide.lineColor = "#00BE00";
guide.lineAlpha = 1;
guide.label = "underpressure";
guide.inside = true;
guide.position = "right";
valueAxis.addGuide( guide );

//MAX GUIDE
var guide = new AmCharts.Guide();
guide.value = <%=@cp_mode_max%>; 
guide.toValue = MAX_PRESSURE;  
guide.fillColor = "#E6535A";
guide.fillAlpha = 0.65;
guide.lineColor = "#00BE00";
guide.lineAlpha = 1;
guide.label = "overpressure";
guide.inside = true;
guide.position = "right";
valueAxis.addGuide( guide );

chart.addValueAxis(valueAxis);

// GRAPH
var graph = new AmCharts.AmGraph();
graph.title = "<%=@sel_cp.caption%>";
graph.valueField = "visits";
graph.bullet = "round";
graph.bulletBorderColor = "#FFFFFF";
graph.bulletBorderThickness = 2;
graph.lineThickness = 2;
graph.lineColor = "#b5030d";
graph.negativeLineColor = "#0352b5";
graph.balloonText = "[[value]] ( [[dateFormatted]] )";
graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
chart.addGraph(graph);

// CURSOR
chartCursor = new AmCharts.ChartCursor();
chartCursor.cursorPosition = "mouse";
chartCursor.categoryBalloonEnabled = true;
chartCursor.categoryBalloonDateFormat = "DD/MM";
chart.addChartCursor(chartCursor);

// SCROLLBAR
var chartScrollbar = new AmCharts.ChartScrollbar();
chartScrollbar.graph = graph;
chartScrollbar.scrollbarHeight = 40;
chartScrollbar.graphLineColor = "#0000FF";
chartScrollbar.graphLineOpacity = 1;
chartScrollbar.color = "#FFFFFF";
chartScrollbar.autoGridCount = true;
chartScrollbar.minimum = 0;
chartScrollbar.maximum = 14;
chartScrollbar.autoGridCount = true;
chart.addChartScrollbar(chartScrollbar);

//Period selector



// WRITE
chart.write("chartdiv");
chart.zoomToIndexes(0,chartData.length - 1)

    if ('matchMedia' in window) {
        // Chrome, Firefox, and IE 10 support mediaMatch listeners
        window.matchMedia('print').addListener(function(media) {
                chart.validateNow();
                });
    } else {
        // IE and Firefox fire before/after events
        window.onbeforeprint = function () {
            chart.validateNow();
        }
    }



});



$(function(){
        $('#txt').keyup(function(){
            $('#preview').text($(this).val());
            });
        });

function handleNormalGraphRange(){
    chart.valueAxes[0].minimum = 0;
    chart.valueAxes[0].maximum = 14;
    chart.validateNow();

    $("#chartdiv").style.display ="block";
}

function handleMinMaxGraphRange(){
    chart.valueAxes[0].minimum = chart_min;
    chart.valueAxes[0].maximum = chart_max;
    chart.validateNow();

    $("#chartdiv").style.display ="block";
}

</script>

</head>
<body id="top" onload="prepare_graph();">
<div class="wrapper col1">
    <div id="header" class="clear">
        <div class="fl_left">
            <h1><a href="/">Главная страница</a></h1>
            <br>
            <p>График давления по контрольной точке <%= @sel_cp.caption %></p>
        </div>
        <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
    <div id="topbar" class="clear">
        <ul id="topnav">
            <li><a href="/">Главная</a></li>
            <li><a href="/fm">Расходомеры</a></li>
            <li><a href="/rp">Отчеты</a></li>
            <li><a href="#">Графики</a>
            <ul>
                <li><a href="#">Часовые</a></li>
                <li><a href="#">Суточные</a></li>
                <li><a href="#">За период</a></li>
            </ul>
            </li>
            <li><a href="/tb">Таблицы</a></li>
            <li class="active last"><a href="/cp">Контрольные точки</a></li>
        </ul>
        <form action="#" method="post" id="search">
            <fieldset>
                <legend>Поиск по сайту</legend>
                <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
                <input type="image" id="go" src="images/search.gif" alt="Search" />
            </fieldset>
        </form>
    </div>
</div>

<div class="wrapper col2">
    <div id="container" class="clear">
        <a href="#" onclick="javascript:window:print();">Печать</a>
        <br>

        <h1>График давления по контрольной точке <%= @sel_cp.caption %></h1>
        <h2>За период c <%=@date_start.strftime("%d-%m-%Y")%> до <%=@date_end.strftime("%d-%m-%Y")%> </h2>


        <div align="right">
            <fieldset style="width:400px;">	
                <legend>
                    <p>Масштаб графика:</p>
                </legend>
                <input onchange="handleMinMaxGraphRange();" type="radio" name="graph-rng" value="1" id="gr1">В пределах значений</input>
                <input checked onchange="handleNormalGraphRange();" type="radio" name="graph-rng" value="2" id="gr2">От 0 до 14</input>
            </fieldset>
        </div>
        <div id="chartdiv" style="width:1024px; height: 540px;"></div>
        <p id="log"></p>
    </div>
</div>
</body>
</html>

