<html>
<head>
<title>Контрольные точки (упакованные)</title>
<meta http-equiv="refresh" content="180">
</head>

<style type="text/css">
#main-panel td {
	padding:5px;
}
</style>

<link rel="stylesheet" type="text/css" href="/styles/ext-all.css">

<script type="text/javascript" src="/scripts/ext-all.js"></script>
<script type="text/javascript">
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}

Ext.onReady( function() {
		startTime();
		var panel = Ext.create('Ext.panel.Panel', {
id: 'main-panel',
title: 'Контрольные точки давления (КИП)',
width: 1363,
height:  763,
renderTo: Ext.getBody(),
layout: {
type: 'table',
columns: 8 
},
defaults: {
xtype: 'panel',
frame: true, 
width: 160, 
height: 137,
bodyPadding: 3
},
items:[
<% $cps.each_with_index do |cp, i| %>
{
title: '<font style="font-size:18px;"><%= cp.caption %></font>',
       html: '<% if TimeDifference.between( cp.value.datetime, Time.now ).in_hours > 1 %> <table style="background-color:#ff7033;width:100%;"> <% else %> <table style="width:100%;background-color:light-gray;"> <% end %> <tr><td style="font-size:32pt;text-align:center;cursor:pointer" onclick="showGraph(\'<%=cp.address%>\');"><%= cp.value.value %></td></tr><tr><td style="text-align:center;"><%= cp.value.datetime.strftime("%H:%M %d-%m-%Y")%></td></tr></table>'
},
	<% end %>
	]
	});
});
</script>
<script type="text/javascript">
var graphWindow;

function showGraph(code){
	if( graphWindow != undefined)
	{
		graphWindow.close();
	}

	graphWindow = window.open('/cp-gr-fl?cps='+code, '_blank', 'width=800px,height=675px,toolbar=no,status=no,unadorned=yes,alwaysRaised=yes,location=no,menubar=no,chrome=yes,dialog=yes,modal=no' );
	graphWindow.focus();
}

</script>
<body>
<div id="time" style="font-size:80pt;position:absolute;bottom:20px;right:30px;background:#f0f0f0;z-index:10000">TIME</div>
</body>
</html>
