<html>
<head>
<title>Контрольные точки (упакованные)</title>
<meta http-equiv="refresh" content="180">
</head>

<style type="text/css">
#main-panel td {
	padding:5px;
}
</style>

<link rel="stylesheet" type="text/css" href="/styles/ext-all.css">

<script type="text/javascript" src="/scripts/ext-all.js"></script>
<script type="text/javascript">
Ext.onReady( function() {
		var panel = Ext.create('Ext.panel.Panel', {
			background_color:'#FFFFFF',
id: 'main-panel',
ui: 'enfora',
title: 'Контрольные точки давления',
width: 1900,
height:  980,
renderTo: Ext.getBody(),
layout: {
type: 'table',
columns: 10 
},
defaults: {
xtype: 'panel',
frame: true, 
width: 180, 
height: 180,
bodyPadding: 3
},
items:[
<% $cps.each_with_index do |cp, i| %>
{
	style:{
		backgroundColor:'<%=$point_colors[cp.address]%>',
		border: '1px solid black'
	},
	header: false,
	items:[
		{
			xtype: 'text',
			dock: 'top',
			text: '<%= cp.caption %>',
			style: 'font-size:23px;background-color:<%=$point_colors[cp.address]%>;width:100%'
		}],

  html: '<div><% if TimeDifference.between( cp.value.datetime, Time.now ).in_hours > 1 %> <table style="background-color:#ff7033;width:100%;"> <% else %> <table style="width:100%;background-color:light-gray;"> <% end %> <tr><td style="font-size:52pt;text-align:center;cursor:pointer" onclick="showGraph(\'<%=cp.address%>\');"><%= cp.value.value %></td></tr><tr><td style="text-align:center;"><%= cp.value.datetime.strftime("%H:%M %d-%m-%Y")%></td></tr></table></div>'
},
	<% end %>
	]
	})
});
</script>
<script type="text/javascript">
var graphWindow;

function showGraph(code){
	if( graphWindow != undefined)
	{
		graphWindow.close();
	}

	graphWindow = window.open('/cp-gr-fl?cps='+code, '_blank', 'width=800px,height=675px,toolbar=no,status=no,unadorned=yes,alwaysRaised=yes,location=no,menubar=no,chrome=yes,dialog=yes,modal=no' );
	graphWindow.focus();
}

</script>
<body>
</body>
</html>
