<html>
	<head>
		<title>Отчёты по целлуларам (стоящие)</title>
	<style>
		th, td {
			border-bottom: 1px solid blue 
		}

		th {
			background-color: #4CAF50;
			color: white;
		}
		
		tr:hover {background-color: #95e5f5}
		tr:nth-child(even) {background-color: #f2f2f2}
	</style>
	</head>
	<body>
	<%= "Отчёт об остановившихся целлуларах" %>
		<table>
			<thead>
				<th>Номер</th>
				<th>ID счет.</th>
				<th>Сер. ном.</th>
				<th>Адрес</th>
				<th>Посл. пок.</th>
				<th>Предп. пок.</th>
				<th>Время счит.</th>
				<th>Предп. время</th>
				<th>Сост. счет.</th>
			</thead>
			<tbody>
		<% @empty_meters.group_by{|v| v["ID счетчика"]}.to_a.each do |em| %>

			<% begin %>
			<% em_o = em[1].sort{|a,b| DateTime.parse( b["Дата и время"] ).to_i <=> DateTime.parse( a["Дата и время"] ).to_i}
			%>
			<%
				m1 = em_o[0]
				m = em_o[em_o.size - 1]

				i = 1
				while ( i < em_o.size ) && (em_o[i]["Считанные показания"] == m1["Считанные показания"])do 
					i = i + 1
				end
				
				i = em_o.size - 1 if i == em_o.size
				m  = em_o[i]
				%>
			<%unless m.nil? || m1.nil?  %>
			<%
			diff =  TimeDifference.between( DateTime.parse(m1["Дата и время"]), DateTime.parse(m["Дата и время"])).in_days  
			if diff > 2 
				%>

				<% if false #debug disable %>
				<tr><td><%= diff %></td><td><%=m%></td><td><%=m1%></td></tr>
				<tr><%em_o.each do |c| %><td><%= c %><%= DateTime.parse(c["Дата и время"])%></td><% end %></tr>
				<%end%>

			<tr>
				<td><%= m["Номер"] %></td>
				<td><%= m["ID счетчика"] %></td>
				<td><%= m["Серийный номер"] %></td>
				<td><%= m["Адрес"] %></td>
				<td><%= m["Считанные показания"] %></td>
				<td><%= m1["Считанные показания"] %></td>
				<td><%= m["Дата и время"] %></td>
				<td><%= m1["Дата и время"] %></td>
				<td><%= m["Статус счетчика"] %></td>
				<td><%= diff %></td>
			</tr>
			<%end 
			end%>
		<% rescue %>
		<!---
			<%= "Error #{$!}"%>
			<br>
			<%= $@[0..4] %>
			--->
		<%end%>
		<% end %>

			</tbody>
		</table>
	</body>
</html>
