<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Мнемосхема Шымкент | Расходомеры Эргомера</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#tabcontainer").tabs({
        event: "click"
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded'
    });
});
</script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Расходомеры Эргомера</a></h1>
      <p>Мнемосхема</p>
    </div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="/">Главная</a></li>
      <li><a class="active last" href="/fm">Расходомеры</a></li>
      <li><a href="/rp">Отчеты</a></li>
      <li><a href="#">Графики</a>
        <ul>
          <li><a href="#">Часовые</a></li>
          <li><a href="#">Суточные</a></li>
          <li><a href="#">За период</a></li>
        </ul>
      </li>
      <li><a href="/tb">Таблицы</a></li>
      <li><a href="/cp">Контрольные точки</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Поиск по сайту</legend>
        <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="images/search.gif" alt="Search" />
      </fieldset>
    </form>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="tabcontainer">
      <ul id="tabnav">
        <li><a href="#tabs-1">Главные</a></li>
        <li><a href="#tabs-2">Расходомеры 2</a></li>
        <li><a href="#tabs-3">Расходомеры 3</a></li>
        <li><a href="#tabs-4">Расходомеры 4</a></li>
        <li><a href="#tabs-5">Расходомеры 5</a></li>
      </ul>
      <!-- ########### -->
      <div id="tabs-1" class="gallery clear">
		<h1>Данные расходомеров Эргомера</h1>
		<table>
		<thead>
		<tr>
			<th>Наименование</th>
			<th>Значение</th>
			<th>Ед. изм.</th>
			<th>Дата</th>
		</tr>
		</thead>
		<tbody>
				<% @ergo_vals.each do |v| %>
				<tr>
				<td style="vertical-align:top;"><%= @ergo_name[v[0]] %> - Расход </td> 
				<td><% flowrate = v[1][:flowrate] %>
					<table>
					<%flowrate.each do |fw|%>
						<% @date = fw[:date] %>
						<tr>
						<td><%= fw[:code] %></td>
						<td><%= fw[:value] %> </td>
						</tr>
					<%end%>
					</table>
				</td>
					<td>м3</td>
					<td><%= @date %></td>

				</tr>
				<tr>
				<td style="vertical-align:top;"><%= @ergo_name[v[0]] %> - Давление </td> 
				<td><% values = v[1][:pressure] %>
					<table>
					<%values.each do |vi|%>
						<% @date = vi[:date] %>
					<tr>
					<td><%= vi[:code] %></td>
					<td><%= vi[:value] %></td>
					</tr>
					<%end%>
					</table>
				</td>
					<td>атм</td>
					<td><%= @date %></td>

				</tr>


				<% end %>

		</tbody>
	</table>

      </div>
      <!-- ########### -->
    </div>
    <!-- ####################################################################################################### -->
    <div class="pagination">
      <ul>
        <li class="prev"><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="splitter">&hellip;</li>
        <li><a href="#">6</a></li>
        <li class="current">7</li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="splitter">&hellip;</li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li class="next"><a href="#">Next &raquo;</a></li>
      </ul>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear">
    <div class="footbox">
      <h2>О нас</h2>
      <p>ТОО Водные ресурсы маркетинг</p>
    </div>
    <div class="footbox">
      <h2>Наши сотрудники</h2>
      <ul>
        <li><a href="#">Абдраман Артыкбаев</a></li>
        <li><a href="#">Казамбаев Биржан</a></li>
        <li class="last"><a href="#">Садыков Ридван</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Ссылки</h2>
      <ul>
        <li><a href="#">Руководство пользователя</a></li>
        <li class="last"><a href="#">Доп сведения</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>На связи</h2>
      <ul>
        <li><strong class="title">Tel:</strong><br />
          8(7252)32-60-09</li>
        <li><strong class="title">Email:</strong><br />
          <a href="#">art_kip@mail.ru</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2011-2013 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
</body>
</html>
