<html>
	<head>
		<title>Отчёт по расходомеру <%= @fm_caption %> за месяц</title>
	</head>
	<body>
		<h1>Отчёт по расходомеру <%= @fm_caption %> за месяц</h1>
		<% @fdata = @flowdata[0].select{|m| m.address = @fm_address } %>
		<div>Записей:<%= @fdata.size %></div>
		<table>
				<% if @fdata.size > 0 %>
					<% @fdata.each do |m| %>
						<tr>
							<td><%=m.caption%></td>
							<td><%=m.address%></td>
						</tr>
							<% m.values.each do |v| %>
								<tr>
									<td><%= v.value %></td>
									<td><%= v.datetime %></td>
								</tr>
							<% end %>
					<% end %>
				<% else %>
					<tr><td>Нет данных</td></tr>
				<% end %>
		</table>
			
	</body>
</html>


