<html>
	<head>
		<meta http-equiv="refresh" content="60">
		<title>Расходомеры скважин (Акбай)</title>
		<style>
			tr { border: 1px solid black }
			tr.inside { border: 0px }
		</style>
	</head>

	<body>
		<table style="border:1px solid black; background-color:darkgray">
			<thead>
				<tr> 
					<th rowspan="2">
						<table style="width:100%; height: 100%">
							<tr>
								<td style="text-align:center; font-weight:bold">Адрес</td>
							</tr>
							<tr style="text-align:center; font-weight:bold">
								<td>Дата</td>
							</tr>
						</table>
						</th>
				</tr>
				<tr>
					<th>
						<table style="width:100%; height: 100%; border-style: solid; border-width:1px; border-color:black; border-collapse: collapse" >
							<tr>
								<td style="text-align:center; font-weight:bold" colspan="2">Расходомеры скважин (Акбай)</td>
							</tr>
							<tr>
								<td style="text-align:center; font-weight:bold" colspan="2">Расход (м3)</td>
							</tr>
							<tr>
								<td style="text-align:center; font-weight:bold">Время нач</td>
								<td style="text-align:center; font-weight:bold">Время кон</td>
							</tr>
						</table>
						</th>
				</tr>
			</thead>
			<tbody>
				<% $akbay_wells_fm.each do |fm| %>
					<% next if fm.nil? or fm.values.nil? or fm.values.size == 0 %>
						<% 
							@date_start = '---' 
							@date_end = '---'
							@time_start = ''
							@time_end = ''
							@val = 'xxx'
							@prev_val = 'x'
							@cur_val = 'x'

							unless fm.nil?  
								unless fm.values[1].nil?
									@date_start =fm.values[1].datetime.strftime("%d-%m-%Y")
									@time_start = fm.values[1].datetime.strftime("%H:%M")
									@prev_val = fm.values[1].value.round(1)
								end
								unless fm.values[0].nil?
									@date_end = fm.values[0].datetime.strftime("%d-%m-%Y")
									@time_end = fm.values[0].datetime.strftime("%H:%M")
									@cur_val = fm.values[0].value.round(1)
								end
							
								if fm.values.count == 2
												unless fm.values[0].nil? && fm.values[1].nil?
													@val = (fm.values[0].value - fm.values[1].value).round(1)
												end
								end

								if TimeDifference.between( DateTime.now, fm.values[0].datetime ).in_minutes > 15 
									@cur_val = 0
								end
							end
						%>
					<tr >
						<td style="height:100%"> 
							<table style="border:0px; background-color:white; width:100%;height:100%">
								<tr class="inside" style="font-weight:bold">
									<td><%= fm.caption %> </td>
								</tr>
							</table>
						</td>
							<td style="height:100%">
								<table style="width:100%; height: 100%;  background-color:white">
									<tr>
											<td style="text-align:center; font-size: x-large;"><%= @time_end %></td>
										<td style="border-style: solid; border-width: 1px; padding: 5px; text-align:center"> <%= @date_end %></td>
									</tr>
									<tr class="inside">
										<td colspan="4">

										<table style="width:100%">
											<tr>
												<td style="background-color:lightgreen; border-style:solid;border-width:1px;text-align:center; font-weight:bold; font-size:18pt; width:90%" colspan="2"> <%= @cur_val %></td>
												<td style="width:40px"><div style="font-size:12pt">м3/час</div></td>
											</tr>
										</table>
									</td>
									</tr>
								</table>
							</td>
						</tr>
					<%end%>
				</tbody>
			</table>
		</body>
	</html>
