<html>
<head>
    <title>Авторизация</title>
</head>
<body>
    <form action='/auth/login' method='post'>
        <p>Псевдоним: <input type='text' name='user[username]'></p>
        <p>Пароль: <input type='password' name='user[password]'></p>
        <input type='submit' value="Войти">
        </form>
</body>
</html>
