<html>
	<head>
		<title>Отчёты по целлуларам (непришедшие за 2 суток)</title>
	<style>
		th, td {
			border-bottom: 1px solid blue 
		}

		th {
			background-color: #4CAF50;
			color: white;
		}
		
		tr:hover {background-color: #95e5f5}
		tr:nth-child(even) {background-color: #f2f2f2}
	</style>
	</head>
	<body>
		<table>
			<thead>
				<th>Время счит.</th>
				<th>Номер</th>
				<th>ID счет.</th>
				<th>Сер. ном.</th>
				<th>Адрес</th>
				<th>Зона счит.</th>
				<th>Тек. пок.</th>
				<th>Сост. счет.</th>
			</thead>
			<tbody>
		<% @lost_meters.sort_by!{|m| DateTime.parse(m["Время считывания"])}.each do |m| %>
			<tr>
				<td><%= m["Время считывания"] %></td>
				<td><%= m["Номер"] %></td>
				<td><%= m["ID счетчика"] %></td>
				<td><%= m["Серийный номер"] %></td>
				<td><%= m["Адрес"] %></td>
				<td><%= m["Зона считывания"] %></td>
				<td><%= m["Текущее показание"] %></td>
				<td><%= m["Состояние счетчика"] %></td>
			</tr>
		<% end %>

			</tbody>
		</table>
	</body>
</html>
