<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <meta http-equiv="refresh" content="300">
    <title>Режимные точки давления</title>
    <script  src="/scripts/right.js" charset="utf-8">
    </script>
    <script src="/scripts/hash.js" charset="utf-8"></script>

    <script src="/scripts/manometer.js" charset="utf-8"></script>

    <script type = "text/javascript" charset="utf-8">

    var meters = [];
    var meters_with_codes = new HashTable({});


      function pageLoaded(){

        var canvas = document.getElementById('pt1');

        var meter = new Meters.PressureMeter('Север');
        meter.point_value = 0;
        meter.point_caption = 'Север';
        meter.min_val = 2.0; 
        meter.max_val = 2.8;
        meter.address = 400960;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );



        var canvas = document.getElementById('pt2');

        var meter = new Meters.PressureMeter('Фосфор');
        meter.point_value = 0;
        meter.point_caption = 'Фосфор';
        meter.min_val = 2.4;
        meter.max_val = 3.0;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );

 
        var canvas = document.getElementById('pt3');

        var meter = new Meters.PressureMeter('Короткий');
        meter.point_value = 0;
        meter.point_caption = 'Короткий';
        meter.min_val = 2.2;
        meter.max_val = 3.0;
        meter.address = 9902405;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );

 
        var canvas = document.getElementById('pt4');

        var meter = new Meters.PressureMeter('Спортивный');
        meter.point_value = 0;
        meter.point_caption = 'Спортивный';
        meter.min_val = 2.0;
        meter.max_val = 2.3;
        meter.address = 861922;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );

        var canvas = document.getElementById('pt5');

        var meter = new Meters.PressureMeter('БСВ Сауле вход');
        meter.point_value = 0;
        meter.point_caption = 'БСВ Сауле вход';
        meter.min_val = 2.9;
        meter.max_val = 4.0;
        meter.address = 123004;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );


        var canvas = document.getElementById('pt6');

        var meter = new Meters.PressureMeter('П. Лумумбы');
        meter.point_value = 0;
        meter.point_caption = 'П. Лумумбы';
        meter.min_val = 2.0;
        meter.max_val = 2.2;
        meter.address = 9903999;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );

        var canvas = document.getElementById('pt7');

        var meter = new Meters.PressureMeter('ТЭЦ 3');
        meter.point_value = 0;
        meter.point_caption = 'ТЭЦ 3';
        meter.min_val = 1.0; 
        meter.max_val = 2.0;
        meter.address = 55555;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );


        var canvas = document.getElementById('pt8');

        var meter = new Meters.PressureMeter('мкр Нурсат');
        meter.point_value = 0;
        meter.point_caption = 'мкр Нурсат';
        meter.min_val = 3.5;
        meter.max_val = 4.5;
        meter.address = 66666;
        meter.canvas = canvas;

        meter.draw( );
                                             
        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );



        var canvas = document.getElementById('pt9');

        var meter = new Meters.PressureMeter('Пожарка');
        meter.point_value = 0;
        meter.point_caption = 'Пожарка';
        meter.min_val = 2.2;
        meter.max_val = 3.0;
        meter.address = 100190;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );
        meters_with_codes.setItem( meter.address, meter );


        var blink_timer = window.setInterval( blink_alert, 500 );

        refresh_meters();

      }


      function blink_alert(){
        for( var i = 0; i < meters.length; i++ ){
          var meter = meters[i];

          if( meter.has_alert()){
            meter.blink();
          }
        }
      }


      function start_query(){
        setInterval( function(){refresh_meters}, 1*MINUTES);
      }

      function refresh_meters(){
        
        for( var i = 0; i < meters.length; i++ ){
          var meter = meters[i];

          var xhr = new Xhr('/meter/' + meter.address, {

            onSuccess: function(){
              var json = JSON.parse(this.responseText);
              console.log(json);

              cur_meter = meters_with_codes.getItem(json.code);

              console.log(cur_meter.point_caption);

              var date = new Date( json.datetime );

              cur_meter.point_value = json.value;
	      cur_meter.prev_value = json.prev_value;

              cur_meter.time = date.getHours() + ':' + ((date.getMinutes()<10)?("0" + date.getMinutes()):(date.getMinutes()));


              cur_meter.redraw();
              },

            onFailure: function(){
              console.log(this.responseText)
              console.log(this.xhr.status);
              console.log(meter.point_caption);
            }

            });
          
          xhr.send();

          setTimeout( refresh_meters, 5*MINUTES );
        }
      }

    </script>
  </head>


  <body onload="pageLoaded()">
    <h2 style="text-align:center">Режимные точки давления</h2>

    <canvas width="300" height="325" id="pt1" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt2" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt9" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>
    <canvas width="300" height="325" id="pt3" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt4" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt5" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt6" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt7" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt8" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>




  </body>
</html>
