<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta http-equiv="refresh" content="600">
	<title>Режимные точки давления</title>
	<script  src="/scripts/right.js" charset="utf-8">
	</script>
	<script src="/scripts/hash.js" charset="utf-8"></script>

	<script src="/scripts/manometer.js" charset="utf-8"></script>

	<script type = "text/javascript" charset="utf-8">

	const REFRESHER_TIMEOUT = 30000;

	var checkMeters = [400960,9904014,100190];

	refresher = {
	func: function(){ refresh_meters() }
	}

	var meters = [];
	var meters_with_codes = new HashTable({});
	var snd = new Audio("/alarm-2.mp3");


	function pageLoaded(){

		load_modes();

	}

	function playAlarm(){
		snd.play();
	}


	function blink_alert(){
		for( var i = 0; i < meters.length; i++ ){
			var meter = meters[i];

			if( meter.has_alert()){
				meter.blink();
			}
		}
	}


	function start_query(){
	}

	function load_modes() {
		var xhr = new Xhr('/cp-modes', {
	onSuccess: function(){
	var json = JSON.parse(this.responseText);
	var i = 1;
	var body = $("body");

	for( var item in meter_codes){
	var val = json[item];
	var new_meter = new Element('canvas',{
	id: 'pt' + i.toString(),
	style: 'border:black 1px solid;'
	});
	body.append( new_meter );
	var canvas = new_meter['_'];
	canvas.width = <%=@manometer_width%>; 
	canvas.height = <%=@manometer_height%>;


	var meter = new Meters.PressureMeter(val.caption);
	meter.point_value = 0;
	meter.point_caption = val.caption;
		meter.min_val = Math.max( val.min, 0 ); 
		meter.max_val = Math.min( val.max, 14 );
		meter.address = item;
		meter.scale_x = <%=@scale_x%>;
		meter.scale_y = <%=@scale_y%>;
		meter.canvas = new_meter['_'];

		meter.draw( );

		meters.push( meter );
		meters_with_codes.setItem( meter.address, meter );
		i += 1;

		};

	var blink_timer = window.setInterval( blink_alert, 500 );
	refresh_meters();
	},


	onFailure: function(){
							 console.log(this.responseText)
								 console.log(this.xhr.status);
						 }

	});

	xhr.send();

	}


	function is_undefined( val ){
		return (typeof val === 'undefined');
	}

	var meter_codes = [
	400960,
		9904014,
		100190,
		9902405,
		861922,
		9903999,
		55555,
		66666,
		123004,
		123005,
		123002,
		123003,
		123001,
		400970,
		88888,
		99990,
		77777,
		123006,
		100150,
		100180,
		123007,
		125001,
		44444,
		100177,
		123008,
		20151,
		20152,
		20155
		];


		function refresh_meters(){


			var addresses = "";
			var meter_addresses = [];

			for( var i = 0; i < meters.length; i++ ){

				meter_addresses.push( meters[i].address );
			}

			addresses = meter_addresses.join();

			var xhr = new Xhr('/meters/' + addresses, {

	onSuccess: function(){

	var is_alarm = false;

	var json = JSON.parse(this.responseText);


	var meter_codes_len = meter_codes.length;

	for( var i = 0; i < meter_codes_len; i++ ){

	var c = meter_codes[i];


	var jval = json.filter( function(obj) {
		return obj.code == c;
		})[0];



	var value = 0;
	var prev_val = 0;
	var adate = new Date();

	if (!( typeof jval === 'undefined' )){
		value = jval.value;
		prev_val = jval.prev_value;
		adate = new Date( jval.datetime );

		if( is_undefined( jval.value ) ){
			value = 0;
		}

		if( is_undefined( jval.prev_value ) ){
			prev_val = 0;
		}

		if( is_undefined( jval.datetime )){
			adate = new Date();
		}

		cur_meter = meters_with_codes.getItem(jval.code);

		if( is_undefined( cur_meter ) ){
			continue;
		}

		var date = adate; 

		if( checkMeters.indexOf( jval.code ) > -1 ){ 

			if( cur_meter.min_val > value ){
				is_alarm = true;
			}

			if( cur_meter.max_val < value ){
				is_alarm = true;
			}
		}

		cur_meter.point_value = value;
		cur_meter.prev_value = prev_val;

		cur_meter.time = date.getHours() + ':' + ((date.getMinutes()<10)?("0" + date.getMinutes()):(date.getMinutes()));


		cur_meter.redraw();

	}



	}


	window.setTimeout( refresher.func, REFRESHER_TIMEOUT);

	if( is_alarm ){
		playAlarm();
	}

	},

	onFailure: function(){
							 console.log(this.responseText)
								 console.log(this.xhr.status);
							 console.log(meter.point_caption);
						 }

	});

	xhr.send();

	setTimeout( refresh_meters, 5*MINUTES );
	}

	</script>
	<style>
	table {font-size:10pt;}
	th {font-size:7pt;}
	td {font-size:5pt;}
	</style>
	</head>


<body id="body" onload="pageLoaded()">
<table style="width:10%; border: 1px solid black; position:absolute; left:10px; top:10px; height:50px; z-index:10;">
<thead>
<th colspan=6 >
Уставки давления:
</th>
</thead>
<tbody>
<tr>
<td style="background-color:red;color:red;">___</td>
<td>Превышение </td>
<td style="background-color:green;color:green; ">___</td>
<td>Нормальные </td>
<td style="background-color:yellow; color:yellow">__</td>
<td width="200px">Заниженные </td>
</tbody>
</table>
<h2 style="text-align:center">Режимные точки давления</h2>

</body>
</html>
