<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <title>Manometer test</title>
    <script  src="/scripts/right.js" charset="utf-8">
    </script>
    <script src="/scripts/manometer.js" charset="utf-8"></script>

    <script type = "text/javascript" charset="utf-8">

    var meters = []

      function pageLoaded(){

        var canvas = document.getElementById('pt1');

        var meter = new Meters.PressureMeter('Север');
        meter.point_value = 3;
        meter.point_caption = 'Север';
        meter.min_val = 2;
        meter.max_val = 5;
        meter.address = 400960;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );



        var canvas = document.getElementById('pt2');

        var meter = new Meters.PressureMeter('Фосфор');
        meter.point_value = 2.5;
        meter.point_caption = 'Фосфор';
        meter.min_val = 1;
        meter.max_val = 4;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );

 
        var canvas = document.getElementById('pt3');

        var meter = new Meters.PressureMeter('Короткий');
        meter.point_value = 3.0;
        meter.point_caption = 'Короткий';
        meter.min_val = 1;
        meter.max_val = 2;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );

 
        var canvas = document.getElementById('pt4');

        var meter = new Meters.PressureMeter('Пожарка');
        meter.point_value = 0.5;
        meter.point_caption = 'Пожарка';
        meter.min_val = 1;
        meter.max_val = 4;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );

        var canvas = document.getElementById('pt5');

        var meter = new Meters.PressureMeter('БСВ вход');
        meter.point_value = 5.5;
        meter.point_caption = 'БСВ вход';
        meter.min_val = 1;
        meter.max_val = 6;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );


        var canvas = document.getElementById('pt6');

        var meter = new Meters.PressureMeter('БСВ коллектор');
        meter.point_value = 3.5;
        meter.point_caption = 'БСВ коллектор';
        meter.min_val = 1;
        meter.max_val = 4;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );

        var canvas = document.getElementById('pt7');

        var meter = new Meters.PressureMeter('ТЭЦ 3');
        meter.point_value = 1.5;
        meter.point_caption = 'ТЭЦ 3';
        meter.min_val = 1;
        meter.max_val = 4;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );


        var canvas = document.getElementById('pt8');

        var meter = new Meters.PressureMeter('мкр Достык');
        meter.point_value = 4.5;
        meter.point_caption = 'мкр Достык';
        meter.min_val = 1;
        meter.max_val = 4;
        meter.address = 9904014;
        meter.canvas = canvas;

        meter.draw( );

        meters.push( meter );

        var blink_timer = window.setInterval( blink_alert, 500 );

        start_query();
      }


      function blink_alert(){
        for( var i = 0; i < meters.length; i++ ){
          var meter = meters[i];

          if( meter.has_alert()){
            meter.blink();
          }
        }
      }


      function start_query(){
        setInterval( refresh_meters, 30*SECOND );
      }


      function sign(x) {
        return x > 0 ? 1 : x < 0 ? -1 : 0; 
      }

      function refresh_meters(){
          
        for( var i = 0; i < meters.length; i++ ){
          var meter = meters[i];

          var dx = -meter.point_value + meter.min_val;

          if(( meter.point_value <= 0)||( meter.point_value > meter.max_val + 1 )){
            dx = -dx;
          }

          meter.point_value += dx*Math.random()*3;
          meter.point_value = meter.point_value.toFixed(2);
          meter.redraw();
        } 
      }

    </script>
  </head>
  <body onload="pageLoaded()">
    <h2 style="text-align:center">Режимные точки давления</h2>

    <canvas width="300" height="325" id="pt1" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt2" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt3" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt4" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt5" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt6" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt7" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

    <canvas width="300" height="325" id="pt8" style="border:black 1px solid;">
      Your browser does not support HTML5 canvas. Please use another browser
    </canvas>

  </body>
</html>
