<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1052.3622"
   height="744.09448"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="ms-kaitpas2.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.98994949"
     inkscape:cx="638.51831"
     inkscape:cy="351.80924"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1920"
     inkscape:window-height="1060"
     inkscape:window-x="-3"
     inkscape:window-y="-3"
     inkscape:window-maximized="1"
     showguides="true"
     inkscape:guide-bbox="true">
    <sodipodi:guide
       orientation="1,0"
       position="760.64487,13.131983"
       id="guide3985" />
  </sodipodi:namedview>
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-308.2677)">
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="345.4722"
       y="360.40768"
       id="text3754"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3756"
         x="345.4722"
         y="360.40768">Кайтпас №2</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="418.20316"
       y="414.95593"
       id="text3758"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3760"
         x="418.20316"
         y="414.95593">Арад</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 20.203051,347.10453 573.76665,338.01316"
       id="path3762"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 664.68037,408.72384 571.74634,338.01316"
       id="path3764"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 1022.2744,308.71874 663.67022,407.71368"
       id="path3766"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 19.192898,335.99285 553.563592,-8.08122 90.91373,68.69038 350.52298,-95.96449"
       id="path3768"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7078072].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7078072].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7078072].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3770"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,45.813643,507.38621)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,25.610592,481.12224)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3772"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11600804].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11600804].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11600804].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11615973].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11615973].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11615973].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3774"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,69.047151,479.10193)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,77.128371,507.3862)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3776"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11114072].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11114072].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11114072].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11601785].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11601785].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11601785].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3778"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,160.97103,507.3862)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,220.57003,505.36589)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3780"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7071889].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7071889].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7071889].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7164834].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7164834].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7164834].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3782"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,280.16903,504.35574)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,275.11827,471.02071)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3784"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7073303].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7073303].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7073303].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11347198].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11347198].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11347198].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3786"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,337.74773,471.02071)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,400.37719,469.0004)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3788"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11347190].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11347190].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11347190].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#4d4d4d;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="path3790"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,406.43811,504.35574)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,406.43811,504.35574)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3792"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7070866].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7070866].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7070866].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11600320].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11600320].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11600320].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3794"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,549.87977,493.24406)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,577.15389,512.43696)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3796"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7074308].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7074308].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7074308].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7067116].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7067116].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7067116].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3798"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,603.41786,534.66032)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,571.09298,548.80246)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3800"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11331614].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11331614].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11331614].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7162740].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7162740].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7162740].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3802"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,725.64632,540.72124)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,717.5651,503.3456)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3804"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11348322].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11348322].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11348322].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[11600620].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[11600620].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[11600620].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3806"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,782.21486,487.18316)" />
    <path
       transform="matrix(0.46537391,0,0,0.34104604,847.87478,469.00041)"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       sodipodi:ry="17.172594"
       sodipodi:rx="27.779196"
       sodipodi:cy="453.17056"
       sodipodi:cx="119.70308"
       id="path3808"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[5756852].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[5756852].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[5756852].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[5689294].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[5689294].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[5689294].is_normal_state?%>;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       id="path3810"
       sodipodi:cx="119.70308"
       sodipodi:cy="453.17056"
       sodipodi:rx="27.779196"
       sodipodi:ry="17.172594"
       d="m 147.48228,453.17056 c 0,9.48416 -12.43717,17.1726 -27.7792,17.1726 -15.34203,0 -27.779197,-7.68844 -27.779197,-17.1726 0,-9.48416 12.437167,-17.17259 27.779197,-17.17259 15.34203,0 27.7792,7.68843 27.7792,17.17259 z"
       transform="matrix(0.46537391,0,0,0.34104604,920.60576,448.79736)" />
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#0fffff;fill-opacity:0.94117647;stroke:none;font-family:Sans"
       x="69.64286"
       y="639.14789"
       id="text3812"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3814"
         x="69.64286"
         y="639.14789"
         style="font-size:9px;fill:#0fffff;fill-opacity:0.94117647">2732</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3816"
       y="636.64789"
       x="113.57143"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#11ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#11ffff;fill-opacity:1"
         y="636.64789"
         x="113.57143"
         id="tspan3818"
         sodipodi:role="line">1906</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="90"
       y="664.86218"
       id="text3820"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3822"
         x="90"
         y="664.86218"
         style="font-size:9px;fill:#00ffff">3647</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3824"
       y="664.86218"
       x="121.42857"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="664.86218"
         x="121.42857"
         id="tspan3826"
         sodipodi:role="line">3116</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="205.35715"
       y="664.86218"
       id="text3828"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3830"
         x="205.35715"
         y="664.86218"
         style="font-size:9px;fill:#00ffff">3166</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3832"
       y="662.7193"
       x="265"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="662.7193"
         x="265"
         id="tspan3834"
         sodipodi:role="line">3281</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="319.64285"
       y="628.43359"
       id="text3836"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3838"
         x="319.64285"
         y="628.43359"
         style="font-size:9px;fill:#00ffff">3115</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3840"
       y="662.005"
       x="324.64285"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="662.005"
         x="324.64285"
         id="tspan3842"
         sodipodi:role="line">3775</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="382.5"
       y="628.79071"
       id="text3844"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3846"
         x="382.5"
         y="628.79071"
         style="font-size:9px;fill:#00ffff">3280</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="444.64285"
       y="626.29071"
       id="text3848"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3850"
         x="444.64285"
         y="626.29071"
         style="font-size:9px;fill:#00ffff">3776</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3852"
       y="662.005"
       x="450.71429"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="662.005"
         x="450.71429"
         id="tspan3854"
         sodipodi:role="line">3417</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="594.28571"
       y="651.29071"
       id="text3856"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3858"
         x="594.28571"
         y="651.29071"
         style="font-size:9px;fill:#00ffff">3205</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3860"
       y="670.2193"
       x="621.42859"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="670.2193"
         x="621.42859"
         id="tspan3862"
         sodipodi:role="line">3406</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="615.71429"
       y="706.29071"
       id="text3864"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3866"
         x="615.71429"
         y="706.29071"
         style="font-size:9px;fill:#00ffff">3646</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3868"
       y="692.7193"
       x="647.85718"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="692.7193"
         x="647.85718"
         id="tspan3870"
         sodipodi:role="line">3577</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="761.42859"
       y="660.93359"
       id="text3872"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3874"
         x="761.42859"
         y="660.93359"
         style="font-size:9px;fill:#00ffff">3350</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3876"
       y="698.43359"
       x="769.64288"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="698.43359"
         x="769.64288"
         id="tspan3878"
         sodipodi:role="line">3434</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="826.42859"
       y="644.86218"
       id="text3880"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3882"
         x="826.42859"
         y="644.86218"
         style="font-size:9px;fill:#00ffff">3902</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3884"
       y="626.29077"
       x="891.78571"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:9px;fill:#00ffff"
         y="626.29077"
         x="891.78571"
         id="tspan3886"
         sodipodi:role="line">7490</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#00ffff;fill-opacity:1;stroke:none;font-family:Sans"
       x="964.64282"
       y="606.29077"
       id="text3888"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3890"
         x="964.64282"
         y="606.29077"
         style="font-size:9px;fill:#00ffff">3260</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7166730].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7166730].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7166730].is_normal_state?%>;fill-opacity:1"
       id="path3892"
       sodipodi:cx="704.46429"
       sodipodi:cy="372.13019"
       sodipodi:rx="3.0357144"
       sodipodi:ry="3.0357144"
       d="m 707.50001,372.13019 a 3.0357144,3.0357144 0 1 1 -6.07143,0 3.0357144,3.0357144 0 1 1 6.07143,0 z"
       transform="matrix(1.9150793,0,0,1.9150793,-658.07709,-22.554456)" />
    <path
       transform="matrix(2.3310245,0,0,2.3310245,-938.93986,-152.9343)"
       d="m 707.50001,372.13019 a 3.0357144,3.0357144 0 1 1 -6.07143,0 3.0357144,3.0357144 0 1 1 6.07143,0 z"
       sodipodi:ry="3.0357144"
       sodipodi:rx="3.0357144"
       sodipodi:cy="372.13019"
       sodipodi:cx="704.46429"
       id="path3894"
       style="fill:#4d4d72;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7163704].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7163704].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7163704].is_normal_state?%>;fill-opacity:1"
       id="path3896"
       sodipodi:cx="704.46429"
       sodipodi:cy="372.13019"
       sodipodi:rx="3.0357144"
       sodipodi:ry="3.0357144"
       d="m 707.50001,372.13019 a 3.0357144,3.0357144 0 1 1 -6.07143,0 3.0357144,3.0357144 0 1 1 6.07143,0 z"
       transform="matrix(2.0814574,0,0,2.0814574,-734.62605,-65.769705)" />
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="55"
       y="652.00494"
       id="text3917"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3919"
         x="55"
         y="652.00494">ул. Сырым Батыра</tspan></text>
    <g
       id="g3927"
       transform="translate(-14.642857,-10.714286)">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3921"
         d="m 97.142857,332.66591 -6.42857,-20.35715 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3923"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3925"
           sodipodi:role="line">11600804</tspan></text>
    </g>
    <g
       id="g3932"
       transform="translate(55.714286,3.5714286)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         id="path3934"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3936"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3938"
           x="89.64286"
           y="617.71936">11615973</tspan></text>
    </g>
    <g
       transform="translate(246.78571,-10)"
       id="g3940">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3942"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3944"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3946"
           sodipodi:role="line">7073303</tspan></text>
    </g>
    <g
       id="g3948"
       transform="translate(311.07142,-10)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         id="path3950"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3952"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3954"
           x="89.64286"
           y="617.71936">11347198</tspan></text>
    </g>
    <g
       transform="translate(373.92856,-12.5)"
       id="g3956">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3958"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3960"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3962"
           sodipodi:role="line">11347190</tspan></text>
    </g>
    <g
       id="g3964"
       transform="translate(522.49999,11.785714)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         id="path3966"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3968"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3970"
           x="89.64286"
           y="617.71936">11600320</tspan></text>
    </g>
    <g
       transform="translate(551.07142,31.428571)"
       id="g3972">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3974"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3976"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3978"
           sodipodi:role="line">7074308</tspan></text>
    </g>
    <g
       id="g3980"
       transform="translate(578.86728,52.709209)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 82.142857,321.59448 8.57143,-9.28572 47.857153,0"
         id="path3982"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3984"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3986"
           x="89.64286"
           y="617.71936">7067116</tspan></text>
    </g>
    <g
       transform="translate(656.7857,21.428571)"
       id="g3096">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3098"
         d="m 106.07143,324.80877 -15.357143,-12.50001 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3100"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3102"
           sodipodi:role="line">11348322</tspan></text>
    </g>
    <g
       id="g3104"
       transform="translate(721.42856,5.3571424)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 106.07143,324.80877 -15.357143,-12.50001 47.857153,0"
         id="path3106"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3108"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3110"
           x="89.64286"
           y="617.71936">11600620</tspan></text>
    </g>
    <g
       transform="translate(785.71427,-12.5)"
       id="g3112">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3114"
         d="m 106.07143,324.80877 -15.357143,-12.50001 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3116"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3118"
           sodipodi:role="line">5756852</tspan></text>
    </g>
    <g
       id="g3120"
       transform="translate(859.2857,-32.5)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 106.07143,324.80877 -15.357143,-12.50001 47.857153,0"
         id="path3122"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3124"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3126"
           x="89.64286"
           y="617.71936">5689294</tspan></text>
    </g>
    <g
       transform="translate(397.49998,55.357143)"
       id="g3128">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3130"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3132"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3134"
           sodipodi:role="line">7070866</tspan></text>
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         id="path3136"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
    </g>
    <g
       id="g3138"
       transform="translate(277.14283,51.428572)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         id="path3140"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3142"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3144"
           x="89.64286"
           y="617.71936">7164834</tspan></text>
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3146"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g
       transform="translate(205.71426,57.142857)"
       id="g3148">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3150"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3152"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3154"
           sodipodi:role="line">7071889</tspan></text>
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         id="path3156"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
    </g>
    <g
       id="g3158"
       transform="translate(144.99997,58.928571)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         id="path3160"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3162"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3164"
           x="89.64286"
           y="617.71936">11601785</tspan></text>
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3166"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g
       transform="translate(67.142827,58.928571)"
       id="g3168">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3170"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3172"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3174"
           sodipodi:role="line">11114072</tspan></text>
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         id="path3176"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
    </g>
    <g
       id="g3178"
       transform="translate(-12.142887,69.285714)">
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="88.214287"
         y="630.21936"
         id="text3182"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3184"
           x="88.214287"
           y="630.21936">7078072</tspan></text>
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3186"
         d="m 106.78572,289.80877 -16.071433,22.49999 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g
       transform="translate(513.21426,110)"
       id="g3198">
      <text
         sodipodi:linespacing="125%"
         id="text3200"
         y="630.21936"
         x="88.214287"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="630.21936"
           x="88.214287"
           id="tspan3202"
           sodipodi:role="line">11331614</tspan></text>
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 106.78572,289.80877 -16.071433,22.49999 47.857153,0"
         id="path3204"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
    </g>
    <g
       id="g3206"
       transform="translate(718.21427,91.428572)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         id="path3208"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="89.64286"
         y="617.71936"
         id="text3210"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3212"
           x="89.64286"
           y="617.71936">7162740</tspan></text>
    </g>
    <g
       transform="translate(663.57141,102.85714)"
       id="g3216">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3218"
         d="m 71.785716,300.16591 18.928571,12.14285 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3220"
         y="617.71936"
         x="89.64286"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="617.71936"
           x="89.64286"
           id="tspan3222"
           sodipodi:role="line">7163704</tspan></text>
    </g>
    <g
       id="g3236"
       transform="translate(593.21426,121.07143)">
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="88.214287"
         y="630.21936"
         id="text3238"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3240"
           x="88.214287"
           y="630.21936">7168196</tspan></text>
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3242"
         d="m 106.78572,289.80877 -16.071433,22.49999 47.857153,0"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g
       transform="translate(618.59679,79.974619)"
       id="g3244">
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="path3246"
         d="m 74.520307,297.34467 12.15337,-77.96994 53.412993,-0.50508"
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3248"
         y="525.29041"
         x="90.147934"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="525.29041"
           x="90.147934"
           id="tspan3250"
           sodipodi:role="line">7166730</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:17.37431717px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="696.83105"
       y="631.3244"
       id="text3254"
       sodipodi:linespacing="125%"
       transform="matrix(0.99985449,-0.01705865,0.01705865,0.99985449,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3256"
         x="696.83105"
         y="631.3244"><tspan
   style="font-size:10.42459011px"
   id="tspan3258">Южный Каз</tspan>.</tspan></text>
    <text
       transform="matrix(0.99996066,0.00887036,-0.00887036,0.99996066,0,0)"
       sodipodi:linespacing="125%"
       id="text3262"
       y="757.84088"
       x="683.25189"
       style="font-size:16.71729279px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"
       inkscape:transform-center-x="-28.488859"
       inkscape:transform-center-y="10.14065"><tspan
         y="757.84088"
         x="683.25189"
         id="tspan3264"
         sodipodi:role="line"
         style="font-size:10.03037548px">Президент </tspan><tspan
         y="770.37885"
         x="683.25189"
         sodipodi:role="line"
         id="tspan3268"
         style="font-size:10.03037548px">Школа</tspan></text>
    <text
       transform="matrix(0.99998912,-0.00466414,0.00466414,0.99998912,0,0)"
       sodipodi:linespacing="125%"
       id="text3270"
       y="739.76123"
       x="753.83569"
       style="font-size:18.53474045px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="739.76123"
         x="753.83569"
         id="tspan3272"
         sodipodi:role="line"
         style="font-size:11.12084389px">Резиденция</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @kaitpas_meters[7168196].is_counter_stoped?%><%= 'DE1414' if @kaitpas_meters[7168196].is_counter_stalling?%><%= '2023D6' if @kaitpas_meters[7168196].is_normal_state?%>;fill-opacity:1"
       id="path3169"
       sodipodi:cx="704.46429"
       sodipodi:cy="372.13019"
       sodipodi:rx="3.0357144"
       sodipodi:ry="3.0357144"
       d="m 707.50001,372.13019 a 3.0357144,3.0357144 0 1 1 -6.07143,0 3.0357144,3.0357144 0 1 1 6.07143,0 z"
       transform="matrix(2.7469696,0,0,2.7469696,-1368.5815,-355.95483)" />
    <g
       transform="translate(455.32844,75.109489)"
       id="g3171">
      <text
         sodipodi:linespacing="125%"
         id="text3173"
         y="630.21936"
         x="88.214287"
         style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="630.21936"
           x="88.214287"
           id="tspan3175"
           sodipodi:role="line">7168196</tspan></text>
      <path
         style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 106.78572,289.80877 -16.071433,22.49999 47.857153,0"
         id="path3177"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         sodipodi:nodetypes="ccc" />
    </g>
    <text
       inkscape:transform-center-y="10.289467"
       inkscape:transform-center-x="-28.90702"
       xml:space="preserve"
       style="font-size:16.96265411px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="530.79633"
       y="710.99567"
       id="text3179"
       sodipodi:linespacing="125%"
       transform="matrix(0.99996066,0.00887036,-0.00887036,0.99996066,0,0)"><tspan
         style="font-size:10.17759228px"
         id="tspan3183"
         sodipodi:role="line"
         x="530.79633"
         y="710.99567">ЧП Байталиев</tspan></text>
    <rect
       style="fill:#ececec;fill-opacity:1;stroke:#000000;stroke-width:0.92998743"
       id="rect3955"
       width="293.01425"
       height="173.81625"
       x="739.39661"
       y="832.11389" />
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="746.50275"
       y="851.3418"
       id="text3957"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3959"
         x="746.50275"
         y="851.3418"><tspan
           style="font-size:20px"
           id="tspan3961">Легенда:</tspan></tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3963"
       y="885.68701"
       x="803.07129"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="885.68701"
         x="803.07129"
         id="tspan3965"
         sodipodi:role="line"
         style="font-size:18px">Нормальное состояние</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="803.07129"
       y="918.0119"
       id="text3969"
       sodipodi:linespacing="125%"><tspan
         style="font-size:18px"
         sodipodi:role="line"
         id="tspan3971"
         x="803.07129"
         y="918.0119">Нет данных 1.5 часа</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3975"
       y="951.34692"
       x="803.07129"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="951.34692"
         x="803.07129"
         id="tspan3977"
         sodipodi:role="line"
         style="font-size:18px">Нет данных сутки</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="802.06116"
       y="983.67175"
       id="text3979"
       sodipodi:linespacing="125%"><tspan
         style="font-size:18px"
         sodipodi:role="line"
         id="tspan3981"
         x="802.06116"
         y="983.67175">Счётчик остановился</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#2023d6;fill-opacity:1;stroke:#000000"
       id="path3983"
       sodipodi:cx="544.47223"
       sodipodi:cy="532.9726"
       sodipodi:rx="14.142136"
       sodipodi:ry="14.142136"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       transform="matrix(0.82752643,0,0,0.82752643,311.59495,439.08225)" />
    <path
       transform="matrix(0.82752643,0,0,0.82752643,311.59494,471.40713)"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       sodipodi:ry="14.142136"
       sodipodi:rx="14.142136"
       sodipodi:cy="532.9726"
       sodipodi:cx="544.47223"
       id="path3995"
       style="fill:#000000;fill-opacity:0.94117647;stroke:#000000"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#de1414;fill-opacity:1;stroke:#000000"
       id="path3997"
       sodipodi:cx="544.47223"
       sodipodi:cy="532.9726"
       sodipodi:rx="14.142136"
       sodipodi:ry="14.142136"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       transform="matrix(0.82752643,0,0,0.82752643,311.59494,506.76247)" />
    <path
       transform="matrix(0.82752643,0,0,0.82752643,311.59494,539.08735)"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       sodipodi:ry="14.142136"
       sodipodi:rx="14.142136"
       sodipodi:cy="532.9726"
       sodipodi:cx="544.47223"
       id="path3999"
       style="fill:#ded71f;fill-opacity:1;stroke:#000000"
       sodipodi:type="arc" />
  </g>
</svg>
