<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1052.3622"
   height="744.09448"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="ms-taraz.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="3.3868395"
     inkscape:cx="14.353242"
     inkscape:cy="540.71332"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:window-width="1920"
     inkscape:window-height="1060"
     inkscape:window-x="-3"
     inkscape:window-y="-3"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-308.2677)">
    <text
       xml:space="preserve"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="219.20311"
       y="363.43814"
       id="text2985"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan2987"
         x="219.20311"
         y="363.43814">Состояние расходомеров микрорайона Тараз</tspan></text>
    <path
       style="fill:none;stroke:#999999;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="M 73.741136,192.55119 865.70073,191.54104"
       id="path3757"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#b3b3b3;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 866.71088,622.87617 0,-432.34528"
       id="path3759"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#999999;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 75.761441,190.53089 0,431.33513 793.979899,0"
       id="path3761"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#999999;stroke-width:8.97786617;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 228.33473,720.022 638.3359,0"
       id="path3763"
       inkscape:connector-curvature="0" />
    <path
       sodipodi:nodetypes="cc"
       inkscape:connector-curvature="0"
       id="path3765"
       d="m 760.36059,933.16418 0,-432.34528"
       style="fill:none;stroke:#b3b3b3;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <path
       style="fill:none;stroke:#b3b3b3;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 653.32503,933.16418 0,-432.34528"
       id="path3767"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#999999;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 555.5839,193.56135 0,276.78179"
       id="path3769"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#999999;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 449.51788,192.55119 0,109.09648"
       id="path3771"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#b3b3b3;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 354.56354,614.79496 0,-297.995"
       id="path3773"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       sodipodi:nodetypes="cc"
       inkscape:connector-curvature="0"
       id="path3775"
       d="m 223.24371,931.14387 0,-432.34528"
       style="fill:none;stroke:#b3b3b3;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 862.67027,232.95729 95.9645,-1.01015"
       id="path3779"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 863.68042,297.60705 92.93404,-1.01015"
       id="path3781"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 863.68043,375.3888 89.90357,0"
       id="path3783"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 862.67027,409.73399 90.91373,0"
       id="path3785"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 864.69058,647.11984 0,-471.74124 -96.97465,0"
       id="path3789"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="M 769.73624,174.36845 755.08903,158.71108"
       id="path3791"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="M 863.68043,408.72384 221.22341,411.7543"
       id="path3793"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 759.63471,276.39385 0,288.90363"
       id="path3795"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 652.55854,279.42431 0,277.79195"
       id="path3797"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 554.57375,297.60706 0,259.6092"
       id="path3799"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 447.49758,474.38375 0,-151.52288"
       id="path3801"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 353.55339,553.17565 0,-292.94424"
       id="path3803"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 222.23356,528.93199 0,-227.28432"
       id="path3805"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       style="fill:none;stroke:#000080;stroke-width:2.50000000000000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 73.741136,725.91174 0,-614.17275"
       id="path3807"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @taraz_meters[5699432].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[5699432].is_counter_stalling?%><%= '2023D6' if @taraz_meters[5699432].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       id="path3809"
       sodipodi:cx="165.15994"
       sodipodi:cy="109.21361"
       sodipodi:rx="17.67767"
       sodipodi:ry="16.667517"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       transform="matrix(0.94442893,0,0,0.94442893,699.1123,616.42856)" />
    <path
       transform="matrix(0.94442893,0,0,0.94442893,610.21888,618.44887)"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       sodipodi:ry="16.667517"
       sodipodi:rx="17.67767"
       sodipodi:cy="109.21361"
       sodipodi:cx="165.15994"
       id="path3811"
       style="fill:#<%= 'DED71F' if @taraz_meters[11601777].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[11601777].is_counter_stalling?%><%= '2023D6' if @taraz_meters[11601777].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @taraz_meters[7169819].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[7169819].is_counter_stalling?%><%= '2023D6' if @taraz_meters[7169819].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       id="path3813"
       sodipodi:cx="165.15994"
       sodipodi:cy="109.21361"
       sodipodi:rx="17.67767"
       sodipodi:ry="16.667517"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       transform="matrix(0.94442893,0,0,0.94442893,499.1021,621.47933)" />
    <path
       transform="matrix(0.94442893,0,0,0.94442893,397.07669,620.46918)"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       sodipodi:ry="16.667517"
       sodipodi:rx="17.67767"
       sodipodi:cy="109.21361"
       sodipodi:cx="165.15994"
       id="path3815"
       style="fill:#<%= 'DED71F' if @taraz_meters[11331015].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[11331015].is_counter_stalling?%><%= '2023D6' if @taraz_meters[11331015].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @taraz_meters[11347054].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[11347054].is_counter_stalling?%><%= '2023D6' if @taraz_meters[11347054].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       id="path3817"
       sodipodi:cx="165.15994"
       sodipodi:cy="109.21361"
       sodipodi:rx="17.67767"
       sodipodi:ry="16.667517"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       transform="matrix(0.94442893,0,0,0.94442893,294.04113,617.43872)" />
    <path
       transform="matrix(0.94442893,0,0,0.94442893,201.1071,619.45903)"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       sodipodi:ry="16.667517"
       sodipodi:rx="17.67767"
       sodipodi:cy="109.21361"
       sodipodi:cx="165.15994"
       id="path3819"
       style="fill:#<%= 'DED71F' if @taraz_meters[11331138].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[11331138].is_counter_stalling?%><%= '2023D6' if @taraz_meters[11331138].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @taraz_meters[7164830].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[7164830].is_counter_stalling?%><%= '2023D6' if @taraz_meters[7164830].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       id="path3821"
       sodipodi:cx="165.15994"
       sodipodi:cy="109.21361"
       sodipodi:rx="17.67767"
       sodipodi:ry="16.667517"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       transform="matrix(0.94442893,0,0,0.94442893,185.95481,588.1443)" />
    <path
       transform="matrix(0.94442893,0,0,0.94442893,-79.715309,378.03257)"
       d="m 182.83761,109.21361 a 17.67767,16.667517 0 1 1 -35.35534,0 17.67767,16.667517 0 1 1 35.35534,0 z"
       sodipodi:ry="16.667517"
       sodipodi:rx="17.67767"
       sodipodi:cy="109.21361"
       sodipodi:cx="165.15994"
       id="path3823"
       style="fill:#<%= 'DED71F' if @taraz_meters[11600349].is_counter_stoped?%><%= 'DE1414' if @taraz_meters[11600349].is_counter_stalling?%><%= '2023D6' if @taraz_meters[11600349].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
       sodipodi:type="arc" />
    <text
       xml:space="preserve"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="829.65045"
       y="745.95459"
       id="text3844"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3846"
         x="829.65045"
         y="745.95459"
         style="font-size:12px">3017</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3848"
       y="739.70764"
       x="720.67932"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="739.70764"
         x="720.67932"
         id="tspan3850"
         sodipodi:role="line">3307</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="609.18182"
       y="745.7334"
       id="text3852"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3854"
         x="609.18182"
         y="745.7334"
         style="font-size:12px">3569</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3856"
       y="744.38525"
       x="508.38019"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="744.38525"
         x="508.38019"
         id="tspan3858"
         sodipodi:role="line">3571</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="405.97791"
       y="741.60736"
       id="text3860"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3862"
         x="405.97791"
         y="741.60736"
         style="font-size:12px">3572</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3864"
       y="739.24146"
       x="308.3197"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="739.24146"
         x="308.3197"
         id="tspan3866"
         sodipodi:role="line">3570</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="293.16742"
       y="705.8172"
       id="text3868"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3870"
         x="293.16742"
         y="705.8172"
         style="font-size:12px">3306</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3872"
       y="503.1297"
       x="30.659719"
       style="font-size:24px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="503.1297"
         x="30.659719"
         id="tspan3874"
         sodipodi:role="line">3219</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 856.60936,395.59185 -21.2132,-41.41625 -57.07362,0"
       id="path3876"
       inkscape:connector-curvature="0"
       transform="translate(0,308.2677)" />
    <text
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="778.61243"
       y="657.66168"
       id="text3878"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3880"
         x="778.61243"
         y="657.66168">5699432</tspan></text>
    <path
       inkscape:connector-curvature="0"
       id="path3882"
       d="m 755.03974,709.76476 -21.2132,-41.41625 -57.07362,0"
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <text
       sodipodi:linespacing="125%"
       id="text3884"
       y="663.56689"
       x="677.04279"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="663.56689"
         x="677.04279"
         id="tspan3886"
         sodipodi:role="line">11601777</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 644.90756,711.53632 -21.2132,-41.41625 -57.07362,0"
       id="path3888"
       inkscape:connector-curvature="0" />
    <text
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="566.91058"
       y="665.33844"
       id="text3890"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3892"
         x="566.91058"
         y="665.33844">7169819</tspan></text>
    <path
       inkscape:connector-curvature="0"
       id="path3894"
       d="m 541.86164,711.53632 -21.2132,-41.41625 -57.07362,0"
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <text
       sodipodi:linespacing="125%"
       id="text3896"
       y="665.33844"
       x="463.86465"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="665.33844"
         x="463.86465"
         id="tspan3898"
         sodipodi:role="line">11331015</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 439.7015,707.99319 -21.2132,-41.41625 -57.07362,0"
       id="path3900"
       inkscape:connector-curvature="0" />
    <text
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="361.7045"
       y="661.79529"
       id="text3902"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3904"
         x="361.7045"
         y="661.79529">11347054</tspan></text>
    <path
       inkscape:connector-curvature="0"
       id="path3906"
       d="m 330.45511,679.35292 -21.2132,-41.41625 -57.07362,0"
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <text
       sodipodi:linespacing="125%"
       id="text3908"
       y="633.15503"
       x="252.4581"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="633.15503"
         x="252.4581"
         id="tspan3910"
         sodipodi:role="line">7164830</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 346.39918,734.58571 -21.2132,41.41625 -57.07362,0"
       id="path3912"
       inkscape:connector-curvature="0" />
    <text
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="268.40216"
       y="789.5199"
       id="text3914"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3916"
         x="268.40216"
         y="789.5199">11331138</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 85.346092,467.35587 21.213198,-41.41625 57.07362,0"
       id="path3918"
       inkscape:connector-curvature="0" />
    <text
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="109.67709"
       y="421.15799"
       id="text3920"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3922"
         x="109.67709"
         y="421.15799">11600349</tspan></text>
    <rect
       style="fill:#ececec;fill-opacity:1;stroke:#000000;stroke-width:0.82162583"
       id="rect3955"
       width="258.87241"
       height="153.56328"
       x="778.19464"
       y="881.82947" />
    <text
       xml:space="preserve"
       style="font-size:8.83480549px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="784.47278"
       y="898.81696"
       id="text3957"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3959"
         x="784.47278"
         y="898.81696"><tspan
           style="font-size:17.66961098px"
           id="tspan3961">Легенда:</tspan></tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3963"
       y="929.16028"
       x="834.44995"
       style="font-size:8.83480549px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="929.16028"
         x="834.44995"
         id="tspan3965"
         sodipodi:role="line"
         style="font-size:15.90264988px">Нормальное состояние</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8.83480549px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="834.44995"
       y="957.71869"
       id="text3969"
       sodipodi:linespacing="125%"><tspan
         style="font-size:15.90264988px"
         sodipodi:role="line"
         id="tspan3971"
         x="834.44995"
         y="957.71869">Нет данных 1.5 часа</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3975"
       y="987.16956"
       x="834.44995"
       style="font-size:8.83480549px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         y="987.16956"
         x="834.44995"
         id="tspan3977"
         sodipodi:role="line"
         style="font-size:15.90264988px">Нет данных сутки</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8.83480549px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="833.55756"
       y="1015.7279"
       id="text3979"
       sodipodi:linespacing="125%"><tspan
         style="font-size:15.90264988px"
         sodipodi:role="line"
         id="tspan3981"
         x="833.55756"
         y="1015.7279">Счётчик остановился</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#2023d6;fill-opacity:1;stroke:#000000"
       id="path3983"
       sodipodi:cx="544.47223"
       sodipodi:cy="532.9726"
       sodipodi:rx="14.142136"
       sodipodi:ry="14.142136"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       transform="matrix(0.73110351,0,0,0.73110351,400.24021,534.59368)" />
    <path
       transform="matrix(0.73110351,0,0,0.73110351,400.2402,563.15209)"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       sodipodi:ry="14.142136"
       sodipodi:rx="14.142136"
       sodipodi:cy="532.9726"
       sodipodi:cx="544.47223"
       id="path3995"
       style="fill:#000000;fill-opacity:0.94117647;stroke:#000000"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#de1414;fill-opacity:1;stroke:#000000"
       id="path3997"
       sodipodi:cx="544.47223"
       sodipodi:cy="532.9726"
       sodipodi:rx="14.142136"
       sodipodi:ry="14.142136"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       transform="matrix(0.73110351,0,0,0.73110351,400.2402,594.38784)" />
    <path
       transform="matrix(0.73110351,0,0,0.73110351,400.2402,622.94625)"
       d="m 558.61436,532.9726 a 14.142136,14.142136 0 1 1 -28.28427,0 14.142136,14.142136 0 1 1 28.28427,0 z"
       sodipodi:ry="14.142136"
       sodipodi:rx="14.142136"
       sodipodi:cy="532.9726"
       sodipodi:cx="544.47223"
       id="path3999"
       style="fill:#ded71f;fill-opacity:1;stroke:#000000"
       sodipodi:type="arc" />
  </g>
</svg>
