<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1052.3622"
   height="744.09448"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.2 r9819"
   sodipodi:docname="Нижний отрар.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2.8"
     inkscape:cx="90.139829"
     inkscape:cy="581.76964"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1440"
     inkscape:window-height="876"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-308.2677)">
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#ff00ff;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect2989"
       width="1054.2858"
       height="747.14288"
       x="1.4285715"
       y="-0.19123225"
       transform="translate(0,308.2677)"
       sodipodi:insensitive="true" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="327.14285"
       y="338.07645"
       id="text2985"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan2987"
         x="327.14285"
         y="338.07645"
         style="font-size:20px">Мнемосхема состояния расходомеров в мкр. Нижний отрар</tspan></text>
    <path
       style="fill:#000080;stroke:#000080;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 64.285711,409.50504 0,590"
       id="path2991"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 65.714281,589.50504 449.999999,0 0,82.85714"
       id="path2993"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 292.85714,589.50504 0,235.71428"
       id="path2995"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000080;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 131.42857,826.6479 388.57143,0"
       id="path2997"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#0000ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 62.857141,956.6479 345.714289,0 0,-131.42858"
       id="path2999"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#0000ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 520,782.36218 0,81.42857"
       id="path3001"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#0000ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 292.85714,702.36218 -88.57143,0"
       id="path3003"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#0000ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 291.42857,779.50504 85.71429,0"
       id="path3005"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#0000ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 172.85714,955.21932 0,-54.28571"
       id="path3007"
       inkscape:connector-curvature="0" />
    <path
       transform="translate(7.8571414,301.83913)"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       sodipodi:ry="15"
       sodipodi:rx="15"
       sodipodi:cy="270.52304"
       sodipodi:cx="160.71428"
       id="path3011"
       style="fill:#<%= 'DED71F' if @notrar_meters[11329083].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11329083].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11329083].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @notrar_meters[7072852].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[7072852].is_counter_stalling?%><%= '2023D6' if @notrar_meters[7072852].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7072852"
       sodipodi:cx="160.71428"
       sodipodi:cy="270.52304"
       sodipodi:rx="15"
       sodipodi:ry="15"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       transform="translate(3.5714314,412.91056)"
       inkscape:label="#path3013" />
    <path
       transform="translate(-5.0000006,529.33913)"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       sodipodi:ry="15"
       sodipodi:rx="15"
       sodipodi:cy="270.52304"
       sodipodi:cx="160.71428"
       id="meter_11331625"
       style="fill:#<%= 'DED71F' if @notrar_meters[11331625].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11331625].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11331625].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3015" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @notrar_meters[11347022].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11347022].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11347022].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11347022"
       sodipodi:cx="160.71428"
       sodipodi:cy="270.52304"
       sodipodi:rx="15"
       sodipodi:ry="15"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       transform="translate(381.78571,489.33913)"
       inkscape:label="#path3021" />
    <path
       transform="translate(377.14285,633.98199)"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       sodipodi:ry="15"
       sodipodi:rx="15"
       sodipodi:cy="270.52304"
       sodipodi:cx="160.71428"
       id="meter_11330853"
       style="fill:#<%= 'DED71F' if @notrar_meters[11330853].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11330853].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11330853].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3023" />
    <path
       transform="translate(355.71428,408.2677)"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       sodipodi:ry="15"
       sodipodi:rx="15"
       sodipodi:cy="270.52304"
       sodipodi:cx="160.71428"
       id="meter_11347761"
       style="fill:#<%= 'DED71F' if @notrar_meters[11347761].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11347761].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11347761].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       sodipodi:type="arc"
       inkscape:label="#path3029" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @notrar_meters[11347482].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11347482].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11347482].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11347482"
       sodipodi:cx="160.71428"
       sodipodi:cy="270.52304"
       sodipodi:rx="15"
       sodipodi:ry="15"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       transform="translate(355.71428,321.12484)"
       inkscape:label="#path3031" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:2.24375391;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3041"
       width="76.428574"
       height="48.527634"
       x="149.64285"
       y="554.54883" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3043"
       width="129.64285"
       height="66.428574"
       x="436.42856"
       y="550.2193" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3045"
       width="129.28572"
       height="55.357143"
       x="437.85715"
       y="649.86218" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3047"
       width="29.642857"
       height="57.142857"
       x="577.14288"
       y="648.43359" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3049"
       width="23.214285"
       height="35.357143"
       x="406.07141"
       y="636.29077" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3051"
       width="21.785715"
       height="28.928572"
       x="407.14285"
       y="694.50507" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3053"
       width="131.42857"
       height="65"
       x="437.85715"
       y="738.07648" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3055"
       width="22.5"
       height="34.285713"
       x="408.21426"
       y="747.7193" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3059"
       width="110.35714"
       height="55.714287"
       x="130.71429"
       y="763.79077" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3061"
       width="25"
       height="35.357143"
       x="246.42857"
       y="774.14789" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3063"
       width="115.35714"
       height="62.5"
       x="124.64285"
       y="666.64789" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3065"
       width="21.785715"
       height="33.214287"
       x="244.28572"
       y="695.2193" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3067"
       width="11.428572"
       height="10"
       x="244.28572"
       y="685.21936" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3069"
       width="22.142857"
       height="20.714285"
       x="243.92857"
       y="653.43359" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 241.42857,924.1479 -108.92857,0 -26.78572,-26.78572 0,-47.14286 25.35715,0 0,16.07143 18.39285,18.39286 91.96429,0 z"
       id="path3071"
       inkscape:connector-curvature="0" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3073"
       width="125"
       height="62.5"
       x="468.57144"
       y="865.21936" />
    <rect
       style="fill:none;stroke:#280b0b;stroke-width:1.72289872;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3075"
       width="26.428572"
       height="62.36092"
       x="433.92856"
       y="865.57617" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @notrar_meters[5691438].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[5691438].is_counter_stalling?%><%= '2023D6' if @notrar_meters[5691438].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_5691438"
       sodipodi:cx="160.71428"
       sodipodi:cy="270.52304"
       sodipodi:rx="15"
       sodipodi:ry="15"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       transform="translate(378.92857,363.62484)"
       inkscape:label="#path3077" />
    <g
       id="g3083"
       transform="translate(-98.571429,11.428571)">
      <rect
         y="565.57642"
         x="178.57143"
         height="22.857143"
         width="40"
         id="rect3079"
         style="fill:#ffffff;stroke:#000080;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <path
         transform="translate(0,308.2677)"
         inkscape:connector-curvature="0"
         id="meter_7166070"
         d="m 178.21429,256.95162 40.35714,23.57143 -40.35714,-0.35714 z"
       style="fill:#<%= 'DED71F' if @notrar_meters[7166070].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[7166070].is_counter_stalling?%><%= '2023D6' if @notrar_meters[7166070].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
         sodipodi:nodetypes="cccc"
         inkscape:label="#path3081" />
    </g>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="168.74998"
       y="576.11218"
       id="text3106"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3108"
         x="168.74998"
         y="576.11218"
         style="font-size:12px">15/1</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3110"
       y="687.18359"
       x="164.46428"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="687.18359"
         x="164.46428"
         id="tspan3112"
         sodipodi:role="line">15</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="155.89285"
       y="803.61218"
       id="text3114"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3116"
         x="155.89285"
         y="803.61218"
         style="font-size:12px">14</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @notrar_meters[7073679].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[7073679].is_counter_stalling?%><%= '2023D6' if @notrar_meters[7073679].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_7073679"
       sodipodi:cx="160.71428"
       sodipodi:cy="270.52304"
       sodipodi:rx="15"
       sodipodi:ry="15"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       transform="translate(38.571431,598.62484)"
       inkscape:label="#path3122" />
    <text
       sodipodi:linespacing="125%"
       id="text3118"
       y="873.61218"
       x="199.10713"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="873.61218"
         x="199.10713"
         id="tspan3120"
         sodipodi:role="line">13</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="538.03571"
       y="908.61218"
       id="text3124"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3126"
         x="538.03571"
         y="908.61218"
         style="font-size:12px">5</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text3128"
       y="763.9693"
       x="542.67859"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="763.9693"
         x="542.67859"
         id="tspan3130"
         sodipodi:role="line">10</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="516.60712"
       y="682.89789"
       id="text3132"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3134"
         x="516.60712"
         y="682.89789"
         style="font-size:12px">11</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="516.25"
       y="596.11218"
       id="text3140"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3142"
         x="516.25"
         y="596.11218"
         style="font-size:12px">12</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 173.92857,559.14789 7.85714,-14.28571 57.85714,-10e-6"
       id="path3144"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <path
       sodipodi:type="arc"
       style="fill:#<%= 'DED71F' if @notrar_meters[11347393].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11347393].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11347393].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="meter_11347393"
       sodipodi:cx="160.71428"
       sodipodi:cy="270.52304"
       sodipodi:rx="15"
       sodipodi:ry="15"
       d="m 175.71428,270.52304 a 15,15 0 1 1 -30,0 15,15 0 1 1 30,0 z"
       transform="translate(126.42857,206.12484)"
       inkscape:label="#path3914" />
    <g
       id="g3916"
       transform="matrix(0.46052398,0,0,0.41860468,201.58688,506.8966)">
      <rect
         style="fill:#ffffff;stroke:#000080;stroke-width:1.70000005;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
         id="rect3918"
         width="40"
         height="22.857143"
         x="178.57143"
         y="565.57642" />
      <path
         sodipodi:nodetypes="cccc"
       style="fill:#<%= 'DED71F' if @notrar_meters[7102701].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[7102701].is_counter_stalling?%><%= '2023D6' if @notrar_meters[7102701].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
         d="m 178.21429,256.95162 40.35714,23.57143 -40.35714,-0.35714 z"
         id="meter_7102701"
         inkscape:connector-curvature="0"
         transform="translate(0,308.2677)"
         inkscape:label="#path3920" />
    </g>
    <text
       sodipodi:linespacing="125%"
       id="text3922"
       y="542.89795"
       x="210.53569"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="542.89795"
         x="210.53569"
         id="tspan3924"
         sodipodi:role="line">11329083</tspan></text>
    <path
       sodipodi:nodetypes="ccc"
       inkscape:connector-curvature="0"
       id="path3926"
       d="m 169.64286,669.86218 7.85714,-14.28571 57.85714,-10e-6"
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="206.24998"
       y="653.61224"
       id="text3928"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3930"
         x="206.24998"
         y="653.61224"
         style="font-size:12px">7072852</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 169.64286,793.43361 177.5,779.1479 l 57.85714,-1e-5"
       id="path3932"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <text
       sodipodi:linespacing="125%"
       id="text3934"
       y="777.18365"
       x="206.24998"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="777.18365"
         x="206.24998"
         sodipodi:role="line"
         id="tspan3938">11331625</tspan></text>
    <path
       sodipodi:nodetypes="ccc"
       inkscape:connector-curvature="0"
       id="path3942"
       d="m 211.78572,861.6479 7.85714,-14.28571 57.85714,-1e-5"
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="248.39284"
       y="845.39795"
       id="text3944"
       sodipodi:linespacing="125%"><tspan
         id="tspan3946"
         sodipodi:role="line"
         x="248.39284"
         y="845.39795"
         style="font-size:12px">7073679</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 527.85715,893.07647 -9.28572,-9.64285 57.85714,-10e-6"
       id="path3948"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <text
       sodipodi:linespacing="125%"
       id="text3950"
       y="881.46936"
       x="547.32141"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="881.46936"
         x="547.32141"
         sodipodi:role="line"
         id="tspan3952">11330853</tspan></text>
    <path
       sodipodi:nodetypes="ccc"
       inkscape:connector-curvature="0"
       id="path3954"
       d="M 530.71428,770.21932 520,779.50503 l -57.85714,10e-6"
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="489.82138"
       y="776.46936"
       id="text3956"
       sodipodi:linespacing="125%"><tspan
         id="tspan3958"
         sodipodi:role="line"
         x="489.82138"
         y="776.46936"
         style="font-size:12px">11347022</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 511.78571,693.07646 -10.71428,9.28571 -57.85714,10e-6"
       id="path3960"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <text
       sodipodi:linespacing="125%"
       id="text3962"
       y="699.32648"
       x="470.89279"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="699.32648"
         x="470.89279"
         sodipodi:role="line"
         id="tspan3964">11347761</tspan></text>
    <path
       sodipodi:nodetypes="ccc"
       inkscape:connector-curvature="0"
       id="path3966"
       d="m 554.64285,634.86217 7.85714,7.14286 57.85714,-1e-5"
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="591.24994"
       y="640.04083"
       id="text3968"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3970"
         x="591.24994"
         y="640.04083"
         style="font-size:12px">25691438</tspan></text>
    <path
       sodipodi:nodetypes="ccc"
       inkscape:connector-curvature="0"
       id="path3972"
       d="m 508.92857,604.14789 -10.71428,9.28571 -57.85714,1e-5"
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="468.03568"
       y="610.39789"
       id="text3974"
       sodipodi:linespacing="125%"><tspan
         id="tspan3976"
         sodipodi:role="line"
         x="468.03568"
         y="610.39789"
         style="font-size:12px">11347482</tspan></text>
    <path
       sodipodi:nodetypes="ccc"
       inkscape:connector-curvature="0"
       id="path3978"
       d="m 292.85714,462.00503 7.85714,-14.28571 57.85714,-10e-6"
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="329.46423"
       y="445.75507"
       id="text3980"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3982"
         x="329.46423"
         y="445.75507"
         style="font-size:12px">11347393</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 84.642851,576.29074 -5.35715,-11.42857 57.857139,-10e-6"
       id="path3984"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <text
       sodipodi:linespacing="125%"
       id="text3986"
       y="562.89801"
       x="108.03564"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="562.89801"
         x="108.03564"
         id="tspan3988"
         sodipodi:role="line">7166070</tspan></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 300,744.14789 7.85714,-14.28571 57.85714,-10e-6"
       id="path3990"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <text
       sodipodi:linespacing="125%"
       id="text3992"
       y="727.89795"
       x="336.60712"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:12px"
         y="727.89795"
         x="336.60712"
         id="tspan3994"
         sodipodi:role="line">7102701</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:8px;font-style:normal;font-weight:normal;text-align:left;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="161.428572"
       y="59.808769"
       id="text_date"
       sodipodi:linespacing="125%"
       transform="translate(0,308.2677)"
       inkscape:label="#text3996"><tspan
         sodipodi:role="line"
         id="tspan3998"
         x="123.33873"
         y="59.808769"
       style="fill:#<%= 'DED71F' if @notrar_meters[11330778].is_counter_stoped?%><%= 'DE1414' if @notrar_meters[11330778].is_counter_stalling?%><%= '2023D6' if @notrar_meters[11330778].is_normal_state?%>;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
	 style="font-size:12px">Дата:<%= DateTime.now.strftime("%d-%m-%Y %H:%M")%> </tspan></text>
  </g>
</svg>
