<html>
	<head>
		<title>KIP Mnemoschemes</title>
	</head>
	<body>
		<h4>Мнемосхемы КИП:</h4>
		<ul>
			<li><a href='/ms/kaitpas/status'>Кайтпас</a></li>
			<li><a href='/ms/kaitpas2/status'>Кайтпас 2</a></li>
			<li><a href='/ms/bam/status'>Бам</a></li>
			<li><a href='/ms/notrar/status'>Нижний отрар</a></li>
		</ul>	
	</body>
</html>
