<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Мнемосхема ВК Шымкент | Главная страница</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#tabcontainer").tabs({
        event: "click"
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded'
    });
});
</script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Главная страница</a></h1>
      <p>Мнемосхема</p>
    </div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="/">Главная</a></li>
      <li><a href="/fm">Расходомеры</a></li>
      <li><a href="/rp">Отчеты</a></li>
      <li><a href="#">Графики</a>
        <ul>
          <li><a href="#">Часовые</a></li>
          <li><a href="#">Суточные</a></li>
          <li><a href="#">За период</a></li>
        </ul>
      </li>
      <li><a href="/tb">Таблицы</a></li>
      <li class="active last"><a href="/cp">Контрольные точки</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Поиск по сайту</legend>
        <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="images/search.gif" alt="Search" />
      </fieldset>
    </form>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="portfolio">
      <div class="portfoliocontainer clear">
        <div class="fl_left">
          <h2>Контрольные точки</h2>
          <p>Отображение мнемосхем состояния контрольных точек давления</p>
        </div>
        <div class="fl_right">
          <ul>
						<li><a href="/cp"><img src="images/ms-cp2(200x112).png" alt="no image" /></a>
              <p class="name">Контрольные точки</p>
              <p class="readmore"><a href="/cp">Посмотреть&raquo;</a></p>
            </li>
						<li><a href="/cp_int"><img src="images/ms-cp-packed(210x118).png" alt="" /></a>
              <p class="name">Контрольные точки упаков.</p>
              <p class="readmore"><a href="/cp_int">Посмотреть&raquo;</a></p>
            </li>
						<li class="last"><a href="/water-map-google"><img src="images/ms-google(210x118).png" alt="" /></a>
              <p class="name">Контрольные точки Google</p>
              <p class="readmore"><a href="/water-map-google">Посмотреть&raquo;</a></p>
            </li>
						<li><a href="/water-map"><img src="images/ms-city-map(210x118).png" alt="" /></a>
              <p class="name">Контрольные точки на карте</p>
              <p class="readmore"><a href="/water-map">Посмотреть&raquo;</a></p>
            </li>

	    <li><a href="/manometer/work/all"><img src="images/ms-manometer-all(210x117).png" alt="" /></a>
              <p class="name">Режимные точки давления</p>
              <p class="readmore"><a href="/manometer/work/all">Посмотреть&raquo;</a></p>
            </li>

          </ul>
        </div>
      </div>
			<!--################ -->
      <div class="portfoliocontainer clear">
        <div class="fl_left">
          <h2>Таблицы расходомеров</h2>
          <p>Отчёты по данным магистральных расходомеров </p>
        </div>
        <div class="fl_right">
          <ul>
						<li><a href="/fm"><img src="images/ms-flowmeters(210x118).png" alt="" /></a>
              <p class="name">Расходомеры</p>
              <p class="readmore"><a href="/fm">Посмотреть&raquo;</a></p>
            </li>

	    <li> <a href="/ergomera"><img src="images/ms-flowmeters(210x118).png" alt="" /></a>
	    <p class="name">Расходомеры эргомера</p>
	    <p class="readmore"><a href="/ergomera">Посмотреть&raquo;</a></p>
	    </li>

	    <li class="last"> <a href="/fm-akbay-wells"><img src="images/ms-flowmeters(210x118).png" alt="" /></a>
	    <p class="name">Расходомеры скважин (Акбай)</p>
	    <p class="readmore"><a href="/fm/akbay/wells">Посмотреть&raquo;</a></p>
	    </li>

					<li ><a href="/siphon-fm"><img src="images/ms-flowmeters(210x118).png" alt="" /></a>
					<p class="name">Расходомеры сифонов</p>
					<p class="readmore"><a href="/siphon-fm">Посмотреть&raquo;</a></p>
					</li>
	    <li><a href="/rep-all-vzljot"><img src="images/ms-flowmeters(210x118).png" alt="" /></a>
              <p class="name">Расходомеры Взлёт </p>
              <p class="readmore"><a href="/rep-all-vzljot">Посмотреть&raquo;</a></p>
            </li>
					</ul>
				</div>
			</div>

      <!-- ########### -->
      <div class="portfoliocontainer clear">
        <div class="fl_left">
          <h2>Отчёты и графики</h2>
          <p>Отчёты по данным расходомеров и контрольных точек за период</p>
        </div>
        <div class="fl_right">
          <ul>
						<li><a href="/cp-gr"><img src="images/rep-graph-cp(210x118).png" alt="" /></a>
              <p class="name">График контрольной точки</p>
              <p class="readmore"><a href="/cp-gr">Посмотреть&raquo;</a></p>
            </li>
						<li><a href="/cp-tab"><img src="images/rep-tab-cp(210x118).png" alt="" /></a>
              <p class="name">Таблица контрольной точки</p>
              <p class="readmore"><a href="/cp-tab">Посмотреть&raquo;</a></p>
            </li>
	    <li class="last"><a href="/rep-all-cp"><img src="images/210x150.gif" alt="" /></a>
              <p class="name">Таблица всех КТ</p>
              <p class="readmore"><a href="/rep-all-cp">Посмотреть&raquo;</a></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- ########### -->
    </div>
    <!-- ####################################################################################################### -->
    <div class="pagination">
      <ul>
        <li class="prev"><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="splitter">&hellip;</li>
        <li><a href="#">6</a></li>
        <li class="current">7</li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="splitter">&hellip;</li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li class="next"><a href="#">Next &raquo;</a></li>
      </ul>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>

<div class="wrapper">
  <div id="footer" class="clear">
    <div class="footbox">
      <h2>О нас</h2>
      <p>ТОО Водные ресурсы маркетинг</p>
    </div>
    <div class="footbox">
      <h2>Наши сотрудники</h2>
      <ul>
        <li><a href="#">Абдраман Артыкбаев</a></li>
				<li><a href="mailto:sortie79@mail.ru">Афонин Владимир</a></li>
        <li class="last"><a href="#">Садыков Ридван</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Ссылки</h2>
      <ul>
        <li><a href="#">Руководство пользователя</a></li>
        <li class="last"><a href="#">Доп сведения</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>На связи</h2>
      <ul>
        <li><strong class="title">Tel:</strong><br />
          8(7252)32-60-09</li>
        <li><strong class="title">Email:</strong><br />
          <a href="#">art_kip@mail.ru</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2011-2014 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
</body>
</html>
