doctype html
html
	head
		title Мнемосхема ВК город Шымкент
		
    body
    	h1 Список мнемосхем

    	table
    		tr
    			td 
    				a href='cp' Контрольные точки
    		tr
    			td 
    				a href='cp_int' Контрольные точки (упакованные)
    		tr
    			td 
    				a href='water-map' Контрольные точки (на карте города)
    		tr
    			td
    				a href='fm' Расходомеры
      
        h1 Список отчётов
        table
			tr
				td
					a href='cp-gr' График контрольной точки за период
                tr
                       td
                             a href='cp-tab' Таблица контрольной точки за период
        tr
           td
              a href='flowmeters_table' Таблица расходомеров за сутки
        tr 
            td 
              a href='rep-cns-single-iran' Потребление иранских расходомеров
        tr
            td
              a href='rep_cns_prom__all' Потребление расходомеров пром группы за период
          tr
            td
              a href='rep_cns_ivr_all' Потребление расходомеров ИВР за период
          tr
            td
              a href='rep-cns-single' Расход за период (Кайпас)
