<html>
	<head>
		<title>Выбор параметров для отчёта по пульсару</title>
	</head>
	<body>
		<h1>Отчёт состояния расходомеров Пульсар</h1>
		<h3>Введите параметры</h3>
		<form method="POST">
		<p>Дата:</p>
			<span id="evstart">
					<select name="day" >
							<% 31.times do |i| %>
							<option value="<%=i%>"<%='selected' if i == Time.now.day%>><%=i%></option>
							<%end%>
					</select>
					<select name="month">
							<% 1.upto(12).each do |i| %>
									<option value="<%=i%>"<%='selected' if i == Time.now.month%>><%=i%></option>
							<%end%>
					</select>
				<select name="year">
							<% 2025.downto(2013).each do |i| %>
									<option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
							<%end%>
					</select>
			</span>
			<br><br>
			<hr>
			<input type="submit" id="fmsubm" value="Создать отчёт"/>
			<div>
				<p>Создание отчёта занимает 2-3 минуты</p>	
			</div>
		</form>
	</body>
</html>
			
