<html>
	<head>
		<title>Отчёт по состоянию расходомеров Пульсар на <%= @day%>.<%= @month %>.<%= @year %></title>
	</head>
	<style>
		th, td {
			border-bottom: 1px solid blue 
		}

		th {
			background-color: #4CAF50;
			color: white;
		}
		
		tr:hover {background-color: #95e5f5}
		tr:nth-child(even) {background-color: #f2f2f2}
	</style>
	<body>
		<h1>Отчёт по состоянию расходомеров Пульсар на <%= @day%>.<%= @month %>.<%= @year %></h1>
		<div>
			<p>Легенда</p>
			<ul>
				<li>Код места - адрес установки прибора</li>
				<li>Код участка - код трубы прибора (1я, 2я и т.д)</li>
				<li>Код типа - тип архива (1 - часовой, 2 - дневной)</li>
			</ul>
		</div>
		<h3>Счётчики без значений за сутки <%= @day%>.<%= @month %>.<%= @year %></h3>
		<div style="overflow-x:auto;">
		<table style="border-collapse: collapse; border: 1px solid blue">
			<thead>
				<th>No</th>
				<th>Наименование</th>
				<th>Код места</th>
				<th>Код участка</th>
				<th>Значение</th>
				<th>Дата</th>
				<th>Код типа</th>
			</thead>
		<tbody>
		<%
			@empty_pulsar_meters= @last_pulsar_meters.select{|m| !m.has_key?("value")}
		%>

		<% @empty_pulsar_meters.each_with_index do |meter, i| %>
			<tr>
				<td> <%= i.to_s %> </td>
				<td> <%= meter["name"]  %> </td>
				<td><%= meter["plc_id"] %></td>
				<td><%= meter["prp_id"] %></td>
				<td><%= meter["value"] %></td>
				<td><%= meter["date"] %></td>
				<td><%= meter["typ_id"] %></td>
			</tr>
		<% end %>
		</tbody>
		</table>
		</div>

	<br><br><hr><hr>

		<h3>Счётчики co значениями за сутки <%= @day%>.<%= @month %>.<%= @year %></h3>
		<div style="overflow-x:auto;">
		<table style="border-collapse: collapse; border: 1px solid blue">
			<thead>
				<th>No</th>
				<th>Наименование</th>
				<th>Код места</th>
				<th>Код участка</th>
				<th>Значение</th>
				<th>Дата</th>
				<th>Код типа</th>
			</thead>
		<tbody>
		<%
			@existed_pulsar_meters= @last_pulsar_meters.select{|m| m.has_key?("value")}
		%>

		<% @existed_pulsar_meters.each_with_index do |meter, i| %>
			<tr>
				<td> <%= i.to_s %> </td>
				<td> <%= meter["name"]  %> </td>
				<td><%= meter["plc_id"] %></td>
				<td><%= meter["prp_id"] %></td>
				<td><%= meter["value"] %></td>
				<td><%= meter["date"] %></td>
				<td><%= meter["typ_id"] %></td>
			</tr>
		<% end %>
		</tbody>
		</table>
		</div>

	</body>
</html>
		
