<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Мнемосхема Шымкент | Отчёт по контрольным точка за период</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	$("#tabcontainer").tabs({
	event: "click"
});
$("a[rel^='prettyPhoto']").prettyPhoto({
	theme: 'dark_rounded'
});
});
</script>
</head>
<body id="top">
<div class="wrapper col1">
<div id="header" class="clear">
<div class="fl_left">
<h1><a href="/">Контрольные точки</a></h1>
<p>Мнемосхема</p>
</div>
<div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
</div>
</div>
<!-- ####################################################################################################### -->
	<div class="wrapper col1">
<div id="topbar" class="clear">
<ul id="topnav">
<li><a href="/">Главная</a></li>
<li><a href="/fm">Расходомеры</a></li>
<li><a href="/rp">Отчеты</a></li>
<li><a href="#">Графики</a>
<ul>
<li><a href="#">Часовые</a></li>
<li><a href="#">Суточные</a></li>
<li><a href="#">За период</a></li>
</ul>
</li>
<li><a href="/tb">Таблицы</a></li>
<li class="active last"><a href="/cp">Контрольные точки</a></li>
</ul>
<form action="#" method="post" id="search">
<fieldset>
<legend>Поиск по сайту</legend>
<input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
<input type="image" id="go" src="images/search.gif" alt="Search" />
</fieldset>
</form>
</div>
</div>
<!-- ####################################################################################################### -->
	<div class="wrapper col2">
<div id="container" class="clear">
<h2>Отчёт по контрольным точкам за период</h2>
<p>C <%= @date_start.strftime('%d-%m-%Y') %> до <%= @date_end.strftime('%d-%m-%Y') %></p>
<p><%= $cps.size %> контрольных точек </p>
<p><%= @all_cp_vals.size %> значений </p>
<table>
	<thead>
		<tr>
			<th>Номер</th>
			<th>Дата/Время значения</th>
			<% $cps.each do |cp| %>
				<th>
					<%= cp.caption %>
				</th>
			<% end %>
		</tr>
	</thead>
	<tbody>

		<% old_date = DateTime.new(2010,1,1) %>
		<% @all_cp_vals.each_with_index do |av, j| %>
			<% if av[0].to_date == old_date %>
				<tr <%= "class='dark'" if j % 2 == 0 %> <%= "class = 'light'" if j % 2 != 0 %>>
					<td>
						<%= j+1 %> 
					</td>
					<td style="width:100px">
						<%= av[0].strftime('%H:%M') %>
					</td>
					<% $cps.each_with_index do |cp,i| %>
						<td>
							<%= av[1][cp] %> <br>
						</td>
					<% end %>
				</tr>
			<% else %>
				<tr style='font-weight:bold;font-size:20pt;color:black;background-color:aqua'>
					<td colspan="27">
						<%= av[0].to_date.strftime('%d-%m-%Y') %>
					</td>
				</tr>
				<% old_date = av[0].to_date %>
			<% end %>
		<% end %>
	</tbody>
</table>

	</div>

	<%= @all_cp_vals[0] %>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
	<div id="footer" class="clear">
		<div class="footbox">
			<h2>О нас</h2>
			<p>ТОО Водные ресурсы маркетинг</p>
		</div>
		<div class="footbox">
			<h2>Наши сотрудники</h2>
			<ul>
				<li><a href="#">Абдраман Артыкбаев</a></li>
				<li><a href="#">Казамбаев Биржан</a></li>
				<li class="last"><a href="#">Садыков Ридван</a></li>
			</ul>
		</div>
		<div class="footbox">
			<h2>Ссылки</h2>
			<ul>
				<li><a href="#">Руководство пользователя</a></li>
				<li class="last"><a href="#">Доп сведения</a></li>
			</ul>
		</div>
		<div class="footbox last">
			<h2>На связи</h2>
			<ul>
				<li><strong class="title">Tel:</strong><br />
				8(7252)32-60-09</li>
				<li><strong class="title">Email:</strong><br />
				<a href="#">art_kip@mail.ru</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
	<div id="copyright" class="clear">
		<p class="fl_left">Copyright &copy; 2011-2013 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
		<p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
	</div>
</div>
</body>
</html>
