<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Отчёт анализ потребления расходомеров Кайтпас за период</title>
    <script type="text/javascript">
      function makeDisable(name)
      {
        var x = document.parms[name]
        x.disabled = true
      }

      function makeEnable(name)
      {
        var x = document.parms[name]
        x.disabled = false
      }

      function change_period_selection( list ) 
      {
        var date_selectors = [
          "ev[start][d]", "ev[start][m]", "ev[start][y]", 
          "ev[end][d]", "ev[end][m]", "ev[end][y]"
         ];
      
        if( list.selectedIndex == 4 )
        {
          for( id in date_selectors )
          {
            makeEnable( date_selectors[id] )
          }
        }
        else
        {
          for( id in date_selectors )
          {
            makeDisable( date_selectors[id] )
          }
        }
      }
    </script>
  </head>

<body>
<h1>Отчёт потребления расходомеров Кайпас за период</h1>

<br>

<% 
   @shift = 0
   #todo: move these strings to controller

   def get_shift_str(shift)
     "--->> "*shift
   end

   def generate_option_tree( fm )
     res = "<option id='#{fm.address}' value='#{fm.address}'>#{get_shift_str(@shift)} #{fm.address} - #{fm.caption} </option>"
   
     return res if fm.submeters.nil?

     if fm.submeters.size > 0
       @shift += 1

       fm.submeters.each do |sm|
         res += generate_option_tree(sm)
       end

       @shift -= 1
     end

     res
   end
%>

<h3>Введите параметры:</h3>
<form name="parms" method="POST">
   <p>Расходомер:</p>
   <select id="form_mainfm" name="form[mainfm]">
     <% @rep_main_fm.each_with_index do |fm,i| %>
         <%= generate_option_tree(fm) %>
     <% end %>
   </select>

<br><hr>
  <br>

<br><hr><br>
<table name="select_table">
<tr>
<td>
<p>Период:</p>
<select id="form_period_kind" name="form[period_kind]" onChange="change_period_selection(this);">
  <option value="0">Текущие сутки</option>
  <option value="1">Предыдущие сутки</option>
  <option value="2">Текущий месяц</option>
  <option value="3">Предыдущий месяц</option>
  <option value="4">Произвольный период</option>
</select>
</td>
<td width="100px"></td>
<td>
  <% @date_start = DateTime.now.to_date %>
  <p>Дата начала:</p>
    <span id="evstart">
        <select disabled name="ev[start][d]" id="form_start_d" >
            <% 31.times do |i| %>
            <option value="<%=i+1%>"<%='selected' if i == @date_start.day%>><%=i+1%></option>
            <%end%>
        </select>
        <select disabled name="ev[start][m]" id="form_start_m">
            <% 1.upto(12).each do |i| %>
                <option value="<%=i%>"<%='selected' if i == @date_start.month%>><%=i%></option>
            <%end%>
        </select>
      <select disabled name="ev[start][y]" id="form_start_y"> 
            <% 2017.downto(2008).each do |i| %>
                <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
            <%end%>
        </select>
  <p>Дата конца:</p>
      <span id="evend">
          <select disabled name="ev[end][d]" id="form_end_d">
              <% 31.times do |i| %>
              <option value="<%=i+1%>"<%='selected' if i == @date_start.day + 1%>><%=i+1%></option>
              <%end%>
          </select>
          <select disabled name="ev[end][m]" id="form_end_m">
              <% 1.upto(12).each do |i| %>
                  <option value="<%=i%>"<%='selected' if i == @date_start.month%>><%=i%></option>
              <%end%>
          </select>
        <select disabled name="ev[end][y]" id="form_end_y">
              <% 2017.downto(2008).each do |i| %>
                  <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
              <%end%>
          </select>


</td>
</tr>
</table>

<br><hr><br>
  <p>
  <input type="submit" id="fmsubmit" value="Создать отчёт"/>
  </p>
</form>
</body>
