
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

<body>
<h1>Отчёт потребления расходомера за период</h1>

<br>

<h3>Введите параметры:</h3>
<form method="POST">
   <p>Расходомер:</p>
   <select name="mainfm">
     <% @main_fm.each_with_index do |fm,i| %>
         <% if i == 0 %>
            <option value="<%=fm.address%>" selected="selected"><%="#{fm.address} - #{fm.caption}"%></option>
         <% else %>
            <option value="<%=fm.address%>"><%="#{fm.address} - #{fm.caption}"%></option>
         <% end %>
     <% end %>
   </select>

<br><hr>
  <br>
<hr><br>
<p>Интервал:</p>
<select name="interval_kind">
  <option value="0">Все показания</option>
  <option value="1">Получасовые показания</option>
  <option value="2" selected>Часовые показания</option>
  <option value="3">Суточные показания</option>
</select>

<br><hr><br>
<table>
<tr>
<td>
<p>Период:</p>
<select name="period_kind">
  <option value="0">Текущие сутки</option>
  <option value="1">Предыдущие сутки</option>
  <option value="2">Текущий месяц</option>
  <option value="3">Предыдущий месяц</option>
  <option value="4">Произвольный период</option>
</select>
</td>
<td>
  <p>Дата начала:</p>
    <span id="evstart">
        <select name="ev[start][d]" >
            <% 31.times do |i| %>
            <option value="<%=i+1%>"><%=i+1%></option>
            <%end%>
        </select>
        <select name="ev[start][m]">
            <% 1.upto(12).each do |i| %>
                <option value="<%=i%>"><%=i%></option>
            <%end%>
        </select>
      <select name="ev[start][y]">
            <% 2017.downto(2008).each do |i| %>
                <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
            <%end%>
        </select>
  <p>Дата конца:</p>
      <span id="evstart">
          <select name="ev[end][d]" >
              <% 31.times do |i| %>
              <option value="<%=i+1%>"><%=i+1%></option>
              <%end%>
          </select>
          <select name="ev[end][m]">
              <% 1.upto(12).each do |i| %>
                  <option value="<%=i%>"><%=i%></option>
              <%end%>
          </select>
        <select name="ev[end][y]">
              <% 2017.downto(2008).each do |i| %>
                  <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
              <%end%>
          </select>


</td>
</tr>
</table>

<br><hr><br>
  <p>
  <input type="submit" id="fmsubmit" value="Создать отчёт"/>
  </p>
</form>
</body>
