<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Расход за период (Иран)</title>
  </head>

<body>
        <h1>
	 Расход за период (Иран) 
	</h1>
	<h3>
	<p> с <%=@date_start.to_s%> по <%=@date_end.to_s%></p>
	</h3>
	<h4>
	<p>Расходомер:<%=@rep_meter.caption%></p>
	<p>Номер счётчика:<%=@rep_main_fm[0].address%></p>
	</h4>
	<p>Вид значений: <%=@interval_caption%></p>
	<img src="/images/<%=@file_name%>"/>
	<table border="1" >
	  <thead>
	    <th>Дата</th><th> Показания </th> <th>Расход</th>
	  </thead>
	  <tbody>   
	    <%@rep_main_fm.each_with_index do |fm,i|%>	      
	      <tr>
		<td><%=fm.values[0].datetime.strftime("%d/%m/%Y %H:%M")%></td>
		<td><%=fm.values[0].value%></td>
		<td><%=(fm.values[0].value - @rep_main_fm[i-1].values[0].value) if i > 0 %></td>
	      </tr>
	    <%end%>
	    <tr>
	      <td colspan=2><b>Итого:</b></td>
	      <td><%=@rep_main_fm.map{|m| m.values[0].value }.each_cons(2).map{|p| p[1]-p[0]}.inject(0, :+)%></td>
	    </tr>
	  </tbody>
	</table>
</body>
</html>
