<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Расход за период (Жетису-Эргомера)</title>
  </head>

<body>
        <h1>
	 Расход за период (Жетису-Эргомера) 
	</h1>
	<h3>
	<p> с <%=@date_start.to_s%> по <%=@date_end.to_s%></p>     
	</h3>
	<h2>
	<p>Расходомер:<%=@rep_meter.caption%></p>
	</h2>

	<a href='analysis-xls-ergomera' rel="export-to-excel">Экспорт в эксель</a>
    <a href="/" rel="to-root">На главную</a>

	<h4>
	<table id="report-table">
		<tr>
			<td colspan=2><p>Номер счётчика:<%=@rep_meter.address%></p></td>
		</tr>
		<tr>
			<td width="200px"><p>Значение начала:<%=@rep_main_data.values[0].value.round(2)%></p></td>
			<td width="200px"><p>Значение оконч:<%=@rep_main_data.values[1].value.round(2)%></p></td>
		</tr>
		<tr>
			<td width="200px"><p>Потребление:<%= @rep_main_cons.round(2) %></p></td>
			<td width="200px"><p>Расход подчинен:<%= @rep_scons_tot.round(2) %></p></td>
			<td width="200px"><p>Потери:<%=(@rep_main_cons - @rep_scons_tot).round(2)%></p></td>
		</tr>
	</table>
	</h4>
	<br>
	<hr>
	<br>
	<table border="1" >
      <caption>Данные отчёта за период</caption>
	  <thead>
	    <th>Код</th><th>Наименование</th>
	    <th> 
	    	<table width="100%"> 
	    		<tr> 
	    			<td colspan="2" align="center"> Начало </td> 
	    		</tr> 
	    		<tr> 
	    			<td align="center"> Дата </td> 
	    			<td align="center"> V, m³ </td> 
	    		</tr> 
	    	</table> 
	    </th> 
	    <th> 
	    	<table width="100%"> 
	    		<tr> 
	    			<td colspan="2" align="center"> Конец </td> 
	    		</tr> 
	    		<tr> 
	    			<td align="center"> Дата </td> 
	    			<td align="center"> V, m³ </td> 
	    		</tr> 
	    	</table> 
	    </th> 
	    <th>Расход</th>
	  </thead>
	  <tbody>   
	    <%@rep_fms.each_with_index do |fm,i|%>	      
	      <tr>
		<td><%=fm.address%></td>
			<td><%=fm.caption%></td>
			<td>
			<table>
			  <tr>
				<td><%=fm.values[0].datetime.strftime("%d.%m.%Y %H:%m")%></td>
				<td width="80px" align="right"><%=fm.start_value.round(2)%></td>
			  </tr>
			</table>
			</td>
			<td>
			<table>
			  <tr>  	
				<td><%=fm.values[1].datetime.strftime("%d.%m.%Y %H:%m")%></td>
				<td width="80px" align="right"><%=fm.end_value.round(2)%></td>
		  	  </tr>
		  	</table>	
			<td><%=fm.flowrate.round(2)%></td>
	      </tr>
	    <%end%>
	  </tbody>
	</table>
</body>
</html>
