﻿<html>
  <head>
    <title>Потребление расходомеров ИВР за период</title>
  </head>

<style type="text/css">
table.clean {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: blue;
	border-collapse: collapse;
	background-color: white;
}
table.clean th {
	border-width: 0px;
	padding: 1px;
	border-style: none;
	border-color: blue;
	background-color: white;
	-moz-border-radius: ;
}
table.clean td {
	border-width: 0px;
	padding: 1px;
	border-style: none;
	border-color: blue;
	background-color: white;
	-moz-border-radius: ;
}
</style>


<style type="text/css">
table.sample {
	border-width: 1px;
	border-spacing: 1px;
	border-style: solid;
	border-color: blue;
	border-collapse: separate;
	background-color: white;
}
table.sample th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: blue;
	background-color: white;
	-moz-border-radius: ;
}
table.sample td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: blue;
	background-color: white;
	-moz-border-radius: ;
}
</style>

  <body>
    <h1>Потребление расходомеров ИВР за период</h1>
    <p>За период c <%= @fm_data_rcv.date_start.strftime("%d-%m-%Y") %>
    	по <%= @fm_data_rcv.date_end.strftime("%d-%m-%Y") %></p>

    <hr>
    <p>
      Количество расходомеров: <%= @cached_main_fm.size.to_s %>
    </p>
    <hr>
    <table class="sample">
      <thead>
        <tr>
          <th> Номер расходомера </th>
          <th> Адрес </th>
          <th> 
            <table width="100%">
              <tr>
                <td colspan=2 align="center">Начало периода</td>
              </tr>
              <tr>
                <td width="70%"> Дата </td>
                <td width="30%"> V, m3 </td>
              </tr>
            </table>
          </th>
          <th> 
            <table width="100%">
              <tr>
                <td colspan=2 align="center">Конец периода</td>
              </tr>
              <tr>
                <td width="70%"> Дата </td>
                <td width="30%"> V, m3 </td>
              </tr>
            </table>
          </th>
          <th> 
            <table>
              <tr>
                <td>Расход</td>
              </tr>
              <tr>
                <td> V, m3 </td>
              </tr>
            </table>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @cached_main_fm.each do |meter| %>
           <tr>
             <td><%=meter.address%></td>
             <td><%=meter.caption[20,meter.caption.size]%></td>
             <td>
               <table width="100%"  class="clean">
                 <tr>
                  <td width="70%"><%=meter.values[0].datetime %></td>
                  <td width="30%" align="right"><%=meter.values[0].value %></td>
                 </tr>
               </table>
             </td>
             <td>
               <table width="100%" class="clean">
                 <tr>
                   <td width="70%"><%=meter.values[1].datetime %></td>
                   <td width="30%" align="right"><%=meter.values[1].value %></td>
                 </tr>
               </table>
             </td>
             <td align="right"><%=(meter.values[1].value - meter.values[0].value).round(0)%></td>
           </tr>
        <% end %>
      </tbody>
    </table>
  </body>

</html>
