<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

<body>
<h1>Отчёт потребления за период</h1>

<br>

<h3>Введите параметры:</h3>
<form method="POST">
   <p>Головной расходомер:</p>
   <select name="mainfm">
     <% @main_fm.each_with_index do |fm,i| %>
         <% if i == 0 %>
            <option value="<%=fm.address%>" selected="selected"><%="#{fm.address} - #{fm.caption}"%></option>
         <% else %>
            <option value="<%=fm.address%>"><%="#{fm.address} - #{fm.caption}"%></option>
         <% end %>
     <% end %>
   </select>

  <p>Дата начала:</p>
    <span id="evstart">
        <select name="ev[start][d]" >
            <% 31.times do |i| %>
            <option value="<%=i+1%>"><%=i+1%></option>
            <%end%>
        </select>
        <select name="ev[start][m]">
            <% 1.upto(12).each do |i| %>
                <option value="<%=i%>"><%=i%></option>
            <%end%>
        </select>
      <select name="ev[start][y]">
            <% 2017.downto(2008).each do |i| %>
                <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
            <%end%>
        </select>
  <p>Дата конца:</p>
      <span id="evstart">
          <select name="ev[end][d]" >
              <% 31.times do |i| %>
              <option value="<%=i+1%>"><%=i+1%></option>
              <%end%>
          </select>
          <select name="ev[end][m]">
              <% 1.upto(12).each do |i| %>
                  <option value="<%=i%>"><%=i%></option>
              <%end%>
          </select>
        <select name="ev[end][y]">
              <% 2017.downto(2008).each do |i| %>
                  <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
              <%end%>
          </select>


  <br>
  <p>
  <input type="submit" id="fmsubmit" value="Создать отчёт"/>
  </p>
</form>
</body>
