<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="refresh" content="300">

<title>Отчёт по контрольным точкам| Форма выбора параметров</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#tabcontainer").tabs({
        event: "click"
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded'
    });
});
</script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Контрольные точки</a></h1>
      <p>Мнемосхема</p>
    </div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="/">Главная</a></li>
      <li><a href="/fm">Расходомеры</a></li>
      <li><a href="/rp">Отчеты</a></li>
      <li><a href="#">Графики</a>
        <ul>
          <li><a href="#">Часовые</a></li>
          <li><a href="#">Суточные</a></li>
          <li><a href="#">За период</a></li>
        </ul>
      </li>
      <li><a href="/tb">Таблицы</a></li>
      <li class="active last"><a href="/cp">Контрольные точки</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Поиск по сайту</legend>
        <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="images/search.gif" alt="Search" />
      </fieldset>
    </form>
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="content">
			<h1>Отчёт по контрольным точкам</h1><br>
			<h3>Выберите параметры отчёта за период</h3>
<form method="POST">

<p>Интервал:</p>
<select name="interval_kind">
  <option value="0">Все показания</option>
  <option value="1">Получасовые показания</option>
  <option value="2" selected>Часовые показания</option>
  <option value="3">Суточные показания</option>
</select>

<br><hr><br>
<table>
<tr>
<td>
<p>Период:</p>
<select name="period_kind">
  <option value="0">Текущие сутки</option>
  <option value="1">Предыдущие сутки</option>
  <option value="2">Текущий месяц</option>
  <option value="3">Предыдущий месяц</option>
  <option value="4">Произвольный период</option>
</select>
</td>
<td>
  <p>Дата начала:</p>
    <span id="evstart">
        <select name="ev[start][d]" >
            <% 31.times do |i| %>
            <option value="<%=i+1%>"><%=i+1%></option>
            <%end%>
        </select>
        <select name="ev[start][m]">
            <% 1.upto(12).each do |i| %>
                <option value="<%=i%>"><%=i%></option>
            <%end%>
        </select>
      <select name="ev[start][y]">
            <% 2017.downto(2008).each do |i| %>
                <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
            <%end%>
        </select>
  <p>Дата конца:</p>
      <span id="evstart">
          <select name="ev[end][d]" >
              <% 31.times do |i| %>
              <option value="<%=i+1%>"><%=i+1%></option>
              <%end%>
          </select>
          <select name="ev[end][m]">
              <% 1.upto(12).each do |i| %>
                  <option value="<%=i%>"><%=i%></option>
              <%end%>
          </select>
        <select name="ev[end][y]">
              <% 2017.downto(2008).each do |i| %>
                  <option value="<%=i%>" <%='selected' if i == Time.now.year%>><%=i%></option>
              <%end%>
          </select>


</td>
</tr>
</table>

<br><hr><br>
  <p>
  <input type="submit" id="fmsubmit" value="Создать отчёт"/>
  </p>
</form>
		</div>
</div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear">
    <div class="footbox">
      <h2>О нас</h2>
      <p>ТОО Водные ресурсы маркетинг</p>
    </div>
    <div class="footbox">
      <h2>Наши сотрудники</h2>
      <ul>
        <li><a href="#">Абдраман Артыкбаев</a></li>
        <li><a href="#">Казамбаев Биржан</a></li>
        <li class="last"><a href="#">Садыков Ридван</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Ссылки</h2>
      <ul>
        <li><a href="#">Руководство пользователя</a></li>
        <li class="last"><a href="#">Доп сведения</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>На связи</h2>
      <ul>
        <li><strong class="title">Tel:</strong><br />
          8(7252)32-60-09</li>
        <li><strong class="title">Email:</strong><br />
          <a href="#">art_kip@mail.ru</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2011-2013 Afonin Vladimir- All Rights Reserved - <a href="#">sortie@yandex.ru</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
</body>
</html>
