<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

<body>
        <h1>
	<p> Расход за период (Кайпас) </p>
	</h1>
	<h3>
	<p> с <%=@date_start.to_s%> по <%=@date_end.to_s%></p>
	</h3>
	<h4>
	<p>Расходомер:<%=@rep_meter.caption%></p>
	<p>Номер счётчика:<%=@rep_main_fm[0].address%></p>
	</h4>
	<hr>
	<a href="/">На главную</a>
	<a href="/rep-cns-single-xls">Экспорт в эксель</a>

	<p>Вид значений: <%=@interval_caption%></p>
	<img src="/images/<%=@file_name%>"/>
	<table border="1" >
	  <thead>
	    <th>Дата</th><th> Показания </th> <th>Расход</th>
	  </thead>
	  <tbody>
	    <%@rep_main_fm.each_with_index do |fm,i|%>	      
	      <tr>
		<td><%=fm.values[0].datetime%></td>
		<td><%=fm.values[0].value%></td>
		<td><%=(fm.values[0].value - @rep_main_fm[i-1].values[0].value) if i > 0 %></td>
	      </tr>
	    <%end%>
	  </tbody>
	</table>
</body>
</html>
