<html>
  <head>
    <title> Отчет потребления за указанный период</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Сводная таблица потребления за указанный период</h1>
    <table>
      <tr>
        <td>Измеряемый параметр:</td>
        <td>Объемный расход воды</td>
        <td>
        	<table>
        	  <tr>
        		<th>Начало периода</th>
        	  </tr>	
        	  <tr>
        	    <td>Дата:</td>
        	    <td><%=@meter.values[0].datetime%></td>
        	  </tr>
        	  <tr>
        	    <td>Показания: м3</td>
        	    <td><%=@meter.values[0].value%></td>
        	  </tr>
        	  <tr>
        		<th>Конец периода</th>
        	  </tr>	
        	  <tr>
        	    <td>Дата:</td>
        	    <td><%=@meter.values[1].datetime%></td>
        	  </tr>
        	  <tr>
        	    <td>Показания: м3</td>
        	    <td><%=@meter.values[1].value%></td>
        	  </tr>
        	  <tr>
        	    <td>Расход: м3</td>
        	    <td><%=(@meter.values[1].value - @meter.values[0].value)%></td>
        	  </tr>
        	</table>	
      </tr>
      <tr>
        <td>Номер головного счетчика:</td>
        <td><%=@meter.address%></td>
      </tr>
      <tr>
        <td>Адрес установки:</td>
        <td><%=@meter.caption%></td>
      </tr>
    </table>

    <hr>
  </body>
</html>
