<html>
	<head>
		<title>Жетису Энергомера - Показания за период</title>
  </head>
	<body>
		<h1>Жетису Энергомера</h1>
		<h2>Отчёт показаний за период с <strong><%=@date_start.strftime("%d-%m-%Y %H:%M")%> по <%=@date_end.strftime("%d-%m-%Y %H:%M")%></h2>

		<hr><br>
		<table border="1px">
			<thead>
				<th>Название</th>
				<th>Адрес</th>
			</thead>
			<tbody>
				<% @ergo_fm_vals.each do |fm| %>
				<tr>
					<td valign="top"><%= fm.caption %></td>
					<td valign="top"><%= fm.address %></td>
				</tr>
				<tr>
					<td colspan=2><strong>Значения:</strong></td>
				</tr>
				<tr>
					<td colspan=2>
						<table>
							<thead>
								<th>№</th>
								<th>Дата и время</th>
								<th>Значение</th>
							</thead>
							<tbody>
								<% fm.values.each_with_index do |fv, i| %>
								<tr>
									<td><%= i.to_s %></td>
									<td><%= fv.datetime.strftime("%d-%m-%Y %H:%M") %></td>	
									<td><%= fv.value %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

  </body>
</html>
