<html>
	<head>
		<title>WS Server status</title>
		<meta http-equiv="REFRESH" content="60"/>
	</head>
	<body>
		<h1>WS Server status</h1>
		<table>
			<thead>
				<th>Server</th>
				<th>Last status</th>
				<th>From prev(min)</th>
			</thead>
			<tbody>
				<% @servers.each do |key, value| %>
				<% max_diff = value["interval"] > 0 ? value["interval"]/60:5 #min %>
				<% diff_last_min = TimeDifference.between(DateTime.now,value["last_status"]["time"]).in_minutes %>
					<tr style="background-color: <%= "#dcee5b" if diff_last_min < max_diff %> <%= "#F00E0A" if diff_last_min >= max_diff %>"> 
						<td><%= key %></td>
						<td><%= value["last_status"] %></td>
						<td><%= diff_last_min %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</body>
</html>
