<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Расходомеры Взлёт| Таблица за сутки</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index.html">Расходомеры</a></h1>
      <p>Таблица за день</p>
    </div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="/">Главная</a></li>
      <li><a href="/fm">Расходомеры</a></li>
      <li class="active"><a href="/rp">Отчеты</a></li>
      <li><a href="#">Графики</a>
        <ul>
          <li><a href="#">Часовые</a></li>
          <li><a href="#">Суточные</a></li>
          <li><a href="#">За период</a></li>
        </ul>
      </li>
      <li><a href="/tb">Таблицы</a></li>
      <li><a href="/cp">Контрольные точки</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Поиск по сайту</legend>
        <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="images/search.gif" alt="Search" />
      </fieldset>
    </form>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
          <table summary="Summary Here" cellpadding="0" cellspacing="0">

        <thead>
          <tr>
	    <%return if @fmeters.nil?%>
            <%@fmeters.each do |fmv| %>
              <th>
                <table>
                  <tr>
                    <td colspan=2> <%=fmv.caption%> : <%=fmv.values.size%> </td>
                  </tr>
                  <tr>
                    <td> Дата </td>
                    <td> Значение </td>
                  </tr>
              	</table>
              </th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% 10.times do |i| %>
                <%if i%2 == 0 %>
                 <tr class="light">
                <%else%>
                 <tr class="dark">
                <%end%>

            <% @fmeters.each do |fmv| %>
                <td>
                  <table style="border=0px">
                    <tr>
                      <%if fmv.values[i]%>
                        <td style="border=0px"> <%=fmv.values[i].datetime%> </td>
                        <td style="border=0px"> <%=fmv.values[i].value.round(0)%> </td>
                      <%else%>
                        <td> <%="Нет"%> </td>
                        <td> <%=0%> </td>
                      <%end%>
                    </tr>
                  </table>
                </td>
            <%end%>
                </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
</body>
</html>
