<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="refresh" content="300">

		<style type="text/css">
			html {height: 100%}
			body {height: 100%; margin: 0; padding: 0}
			#map_canvas {height: 100%}
		    	.style1 {background-color:#ffffff;font-weight:bold;border:2px #006699 solid;}

			 .labels {
				color: blue;
				background-color: white;
				font-family: "Lucida Grande", "Arial", sans-serif;
				font-size: 10px;
				font-weight: bold;
				text-align: center;
				width: 50px;
				border: 2px solid black;
				white-space: nowrap;
			} 

			graph {
				width: 300px;
				height: 200px;
			}

		</style>	
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script src="scripts/markerwithlabel_packed.js"></script>

		<script type="text/javascript">
		var core = core || {};

		(function(){
			core.map = null;
			core.markersArray = [];
			core.infoWindow = new google.maps.InfoWindow({
					maxWidth: 350
				});	
			core.markerContent = {};
			
		core.initialize = function () {
				var DEFAULT_ZOOM = 13;

				var mapOptions = {
					center: new google.maps.LatLng( 42.341056, 69.616348 ),
					mapTypeId: google.maps.MapTypeId.TERRAIN
					};

				core.map = new google.maps.Map( document.getElementById("map_canvas"), mapOptions);

				core.map.setZoom( DEFAULT_ZOOM );

				var images = {
oneOn: new google.maps.MarkerImage( 'http://maps.google.com/mapfiles/kml/pal3/icon47.png')
				};
				
				var need_be_on_screen = true;
				var may_be_hidden = false;

				var cpoints = [ 
					['Пожарка', 42.337902,69.601105, <%@cp = $cps.find{|c| c.address == 861922}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 861922, need_be_on_screen, 11, 19], 
					['Фосфор', 42.332273, 69.629447, <%@cp = $cps.find{|c| c.address == 9904014}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 9904014, need_be_on_screen, 13, 19],
					['Север', 42.341036, 69.6444737, <%@cp = $cps.find{|c| c.address == 400960}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 400960, need_be_on_screen, 11, 19],
					['ТЭЦ3', 42.274137, 69.694996, <%@cp = $cps.find{|c| c.address == 55555}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 55555, need_be_on_screen, 10, 19],

					['Короткий', 42.302623, 69.58773, <%@cp = $cps.find{|c| c.address == 9902405}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 9902405, need_be_on_screen, 12, 19],
					['Лумумбы', 42.307223, 69.622818, <%@cp = $cps.find{|c| c.address == 9903999}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 9903999, need_be_on_screen, 13, 19],
					['Сауле', 42.274967, 69.574415, <%@cp = $cps.find{|c| c.address == 400970}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 400970, need_be_on_screen, 11, 19],
					['БСВ Коллектор', 42.287112, 69.627614, <%@cp = $cps.find{|c| c.address == 123005}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 123005, may_be_hidden, 13, 19],
					
					[['БСВ вых Сауле', 'БСВ вх Сауле'], 42.287592, 69.626498, <%@cp_set = Set.new([123002,123004]); @cps = $cps.find_all{|c| @cp_set.include?( c.address)}%>[<% @cps.each do |cp| %>[<%= cp.value.value %>, '<%= cp.value.datetime.strftime("%H:%M")%>']<%end%>], [123002, 123004], may_be_hidden, 13, 19],
					[['Кызыл Сай вх', 'Кызыл Сай после задв'], 42.361588, 69.715537, <%@cp_set = Set.new([100150,100160]); @cps = $cps.find_all{|c| @cp_set.include?( c.address)}%>[<% @cps.each do |cp| %>[<%= cp.value.value %>, '<%= cp.value.datetime.strftime("%H:%M")%>']<%end%>], [100150, 100160], may_be_hidden, 13, 19],
					[['Вх НПЗ', 'Круг НПЗ'], 42.26914, 69.656577, <%@cp_set = Set.new([123002,123004]); @cps = $cps.find_all{|c| @cp_set.include?( c.address)}%>[<% @cps.each do |cp| %>[<%= cp.value.value %>, '<%= cp.value.datetime.strftime("%H:%M")%>']<%end%>], [123002, 123004], may_be_hidden, 13, 19],


					['Нурсат', 42.3625, 69.628344, <%@cp = $cps.find{|c| c.address == 66666}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 66666, may_be_hidden, 13, 19],
					['Самал-2', 42.367272, 69.590347, <%@cp = $cps.find{|c| c.address == 88888}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 88888, may_be_hidden, 12, 19],
					
					['Самал-3', 42.381326, 69.567726, <%@cp = $cps.find{|c| c.address == 99990}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 99990, may_be_hidden, 12, 19],
					['Карасу 1200м3', 42.407429, 69.8276272, <%@cp = $cps.find{|c| c.address == 123001}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 123001, may_be_hidden, 11, 19],
					['Карасу 900м3', 42.407595, 69.827865, <%@cp = $cps.find{|c| c.address == 123003}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 123003, may_be_hidden, 11, 19],
					['Тамерлановское 1а', 42.317924, 69.635645, <%@cp = $cps.find{|c| c.address == 123006}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 123006, may_be_hidden, 13, 19],

					['пл. Аль-Фараби 1а', 42.316254, 69.58969, <%@cp = $cps.find{|c| c.address == 100180}%><%= @cp.value.value %>, '<%= @cp.value.datetime.strftime("%H:%M")%>', 100180, may_be_hidden, 13, 19]		
					];


				core.markerContent = {
					"861922": "<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/861922?width=600&height=400\'></img>'%>",
					"9904014": "<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/9904014?width=600&height=400\'></img>'%>",
					"400960":  "<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/400960?width=600&height=400\'></img>'%>",
					"55555":  "<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/55555?width=600&height=400\'></img>'%>",
					"9902405":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/9902405?width=600&height=400\'></img>'%>",
					"903999":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/9903999?width=600&height=400\'></img>'%>",
					"400970":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/400970?width=600&height=400\'></img>'%>",
					"123005":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/123005?width=600&height=400\'></img>'%>",
					"66666":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/66666?width=600&height=400\'></img>'%>",
					"88888":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/88888?width=600&height=400\'></img>'%>",
					"99990":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/99990?width=600&height=400\'></img>'%>",
					"123001":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/123001?width=600&height=400\'></img>'%>",
					"123003":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/123003?width=600&height=400\'></img>'%>",
					"123006":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/123006?width=600&height=400\'></img>'%>",
					"100180":"<%='<img width=\'320\' height=\'220\' style=\'graph\' src=\'/cp-graphs/100180?width=600&height=400\'></img>'%>"
				};
				
				var bounds = new google.maps.LatLngBounds();

				var CAPTION_FIELD = 0;
				var LAT_FIELD = 1;
				var LNG_FIELD = 2;
				var VALUE_FIELD = 3;
				var DATETIME_FIELD = 4;
				var ADDRESS_FIELD = 5;
				var VISIBLE_FIELD = 6;
				var MIN_ZOOM_FIELD = 7;
				var MAX_ZOOM_FIELD = 8;

				for( var i = 0; i < cpoints.length; i++ ) {
									
					var pos = new google.maps.LatLng(cpoints[i][LAT_FIELD], cpoints[i][LNG_FIELD]);
					if( cpoints[i][VISIBLE_FIELD] == need_be_on_screen ){
						bounds.extend( pos );
					};

					var marker = new MarkerWithLabel({
						position: pos,
						draggable: false,
						labelContent: "<p>" + cpoints[i][CAPTION_FIELD] +"<br><p style='color:#00003D;font-weight:bold;'>" + cpoints[i][VALUE_FIELD] + "</p>" + cpoints[i][DATETIME_FIELD] + "</p>",
						labelAnchor: new google.maps.Point(22, 0),
						labelClass: "labels", // the CSS class for the label
						labelStyle: {opacity: 0.7}
					}); 

					marker["address"] = cpoints[i][ADDRESS_FIELD];
					marker["minZoom"] = cpoints[i][MIN_ZOOM_FIELD];
					marker["maxZoom"] = cpoints[i][MAX_ZOOM_FIELD];

					marker.setMap( core.map );

					core.markersArray.push(marker);

					if( ( marker.minZoom <= DEFAULT_ZOOM )&&( marker.maxZoom >= DEFAULT_ZOOM ))
						marker.setVisible(true);
					else
						marker.setVisible(false);


					google.maps.event.addListener( marker, 'click', function(){
							var address = this.address;
							core.infoWindow.setContent( core.markerContent[address] );
							core.infoWindow.open(core.map, this);
					});
				}
			
				google.maps.event.addListener( core.map, 'zoom_changed', function(){
						var zoomLevel = core.map.getZoom();
						for( var i = 0; i < core.markersArray.length; i++ ){
						var m = core.markersArray[i];

						if(( m.minZoom <= zoomLevel )&&( m.maxZoom >= zoomLevel ))
								m.setVisible(true);
							else
							  	m.setVisible(false);
						}
						});

				core.map.fitBounds( bounds );

			};
			
			core.addMarker = function( location ){
				marker = new google.maps.Marker({
					position: location,
					map: core.map,
					title: location.toString()
				});

				this.markersArray.push(marker);
			}

			core.clearOverlays = function() {
				if( this.markersArray){
					for(i in this.markersArray) {
						markerArrays[i].setMap(null);
					}
				}
			}

			core.showOverlays = function() {
				if( this.markersArray ){
					for( i in this.markersArray ){
						this.markersArray[i].setMap(core.map);
					}
				}
			}

			core.deleteOverlays = function() {
				if (this.markersArray){
					for ( i in this.markersArray ){
						this.markersArray[i].setMap(null);
					}
					this.markersArray.length = 0;
				}
			}
		}());

		</script>
	</head>
	<body onload='core.initialize()'>
		<div id="map_canvas" style="width:100%;height:100%;" ></div>
	
	</body>
