<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<META HTTP-EQUIV="REFRESH" CONTENT="300">
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1320"
   height="700"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.2 r9819"
   sodipodi:docname="карта города - вода.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1"
     inkscape:cx="644.2106"
     inkscape:cy="272.46235"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     width="1200px"
     inkscape:window-width="1438"
     inkscape:window-height="787"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="0"
     showguides="true"
     inkscape:guide-bbox="true" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-352.36233)">
    <rect
       style="fill:none;stroke:#000000;stroke-width:3.13397431px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3015"
       width="1288.2733"
       height="606.51642"
       x="14.956083"
       y="424.46124" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#38bddb;fill-opacity:1;stroke:none;font-family:Sans"
       x="1054.2858"
       y="460.93375"
       id="text3785"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3787"
         x="1054.2858"
         y="460.93375">Шымкент</tspan></text>
    <path
       style="fill:#25bad0;stroke:#32bce0;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       d="M 1160.6653,219.16739 1138.6945,200.7321"
       id="path3795"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#32bce0;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1051.0637,160.57854 86.3681,39.64849"
       id="path3797"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#32bce0;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1020.7591,164.87169 -61.8718,21.71828 c -3.32682,0 -0.41491,-0.29762 -1.51522,0.25254 -0.13475,0.0674 -0.37033,-0.0674 -0.50508,0 -0.10648,0.0532 -0.1396,0.21489 -0.25254,0.25253 -0.22728,0.0758 -0.53033,-0.0758 -0.75761,0 -0.17857,0.0595 -0.32651,0.19302 -0.50508,0.25254 -0.0799,0.0266 -0.17725,-0.0376 -0.25254,0 -0.10648,0.0532 -0.14606,0.1993 -0.25254,0.25254 -0.13467,0.0673 -0.37039,-0.0673 -0.50507,0 -0.10648,0.0532 -0.14606,0.1993 -0.25254,0.25254 -0.0769,0.0384 -0.64388,0 -0.75761,0 -0.50508,0 -1.01016,0 -1.51523,0 -0.4209,0 -0.8418,0 -1.26269,0 -0.0842,0 -0.16836,0 -0.25254,0 -0.0842,0 -0.17725,0.0377 -0.25254,0 -0.83756,-0.83756 0.2381,0.11905 -0.50508,-0.25254 -0.10648,-0.0532 -0.14606,-0.1993 -0.25253,-0.25254 -0.15873,-0.0794 -0.85143,0.0794 -1.01016,0 -0.10648,-0.0532 -0.14606,-0.1993 -0.25254,-0.25254 -0.13454,-0.0673 -0.37053,0.0673 -0.50507,0 -0.10648,-0.0532 -0.14606,-0.19929 -0.25254,-0.25253 -0.0753,-0.0377 -0.17725,0.0376 -0.25254,0 -0.10648,-0.0532 -0.14606,-0.1993 -0.25254,-0.25254 -0.0753,-0.0376 -0.17724,0.0376 -0.25253,0 -0.10648,-0.0532 -0.14606,-0.1993 -0.25254,-0.25254 -0.0753,-0.0377 -0.17268,0.0266 -0.25254,0 -0.38701,-0.129 -0.62315,-0.37607 -1.01015,-0.50508 -0.0799,-0.0266 -0.17725,0.0377 -0.25254,0 -0.10648,-0.0532 -0.14606,-0.19929 -0.25254,-0.25253 -0.0753,-0.0377 -0.17724,0.0376 -0.25254,0 -0.10648,-0.0532 -0.14606,-0.1993 -0.25254,-0.25254 -0.0753,-0.0377 -0.17724,0.0376 -0.25253,0 -0.22384,-0.11192 -0.52773,-0.60436 -0.75762,-0.75762 -0.15662,-0.10441 -0.34846,-0.14812 -0.50507,-0.25253 -0.0991,-0.066 -0.16836,-0.16836 -0.25254,-0.25254 -0.25254,-0.25254 -0.50508,-0.50508 -0.75762,-0.75762 -0.13295,-0.13295 -0.62273,-0.69017 -0.75761,-0.75761 -0.0753,-0.0377 -0.17725,0.0376 -0.25254,0 -0.22383,-0.11192 -0.52772,-0.60436 -0.75761,-0.75762 -0.15662,-0.10441 -0.34846,-0.14812 -0.50508,-0.25253 -0.19811,-0.13208 -0.33672,-0.33672 -0.50508,-0.50508 -0.33671,-0.33672 -0.67343,-0.67344 -1.01015,-1.01015 L 916.4609,155.0227 c -0.69832,-0.40058 -1.21228,-0.95974 -1.76777,-1.51523 -0.0842,-0.0842 -0.15348,-0.1865 -0.25254,-0.25254 -0.15661,-0.10441 -0.34846,-0.14812 -0.50507,-0.25253 -0.21792,-0.14528 -0.56036,-0.56036 -0.75762,-0.75762 -0.0842,-0.0842 -0.14606,-0.1993 -0.25254,-0.25254 -0.0753,-0.0376 -0.17724,0.0376 -0.25253,0 -0.10648,-0.0532 -0.14606,-0.19929 -0.25254,-0.25253 -0.0664,-0.0332 -0.8781,0 -1.01015,0 -0.67344,0 -1.34688,0 -2.02031,0 -0.92597,0 -1.85195,0 -2.77792,0 -0.17565,0 -1.17136,-0.0457 -1.26269,0 -0.10648,0.0532 -0.1396,0.21489 -0.25254,0.25253 -0.11551,0.0385 -0.89778,-0.0562 -1.01015,0 -0.10648,0.0532 -0.14606,0.1993 -0.25254,0.25254 -0.15872,0.0794 -0.85143,-0.0794 -1.01015,0 -0.10648,0.0532 -0.14606,0.1993 -0.25254,0.25254 -0.15058,0.0753 -0.35449,-0.0753 -0.50508,0 -0.10648,0.0532 -0.16835,0.16836 -0.25253,0.25254 l -85.35789,27.52665 -61.11423,-5.05076 -16.66752,-18.94036 9.84899,-14.14213 -84.34774,-4.79823"
       id="path3805"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1168.7465,258.81588 -152.028,43.68909 -52.27536,14.89975 -51.77031,-7.07106 49.24493,11.11167 115.40994,-31.8198"
       id="path3807"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1076.065,290.1306 94.7018,-26.5165"
       id="path3809"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1016.7185,301.9999 33.8401,61.36676"
       id="path3811"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1022.0218,299.97959 44.9518,82.32743 c 2.321,2.32096 0.1187,0.33167 1.5153,1.26269 0.1981,0.13208 0.3069,0.37301 0.505,0.50508 0.1566,0.10441 0.3485,0.14813 0.5051,0.25254 0.2914,0.19426 0.4662,0.56335 0.7576,0.75761 0.1566,0.10442 0.3485,0.14813 0.5051,0.25254 0.1981,0.13207 0.3367,0.33672 0.5051,0.50508 0.2525,0.25254 0.5051,0.50507 0.7576,0.75761 0.084,0.0842 0.146,0.1993 0.2525,0.25254 0.075,0.0376 0.1773,-0.0376 0.2526,0 0.1064,0.0532 0.146,0.1993 0.2525,0.25254 0.075,0.0376 0.1773,-0.0376 0.2525,0 0.213,0.10648 0.2922,0.3986 0.5051,0.50508 0.075,0.0376 0.1773,-0.0376 0.2526,0 0.2129,0.10647 0.3069,0.373 0.505,0.50507 1.2758,0.85052 0.01,0.002 0.7576,0.25254 1.8293,0.60975 -0.3981,-0.0728 0.7577,0.50508 0.1505,0.0753 0.3545,-0.0753 0.505,0 0.1065,0.0532 0.1535,0.1865 0.2526,0.25253 0.1566,0.10442 0.3484,0.14813 0.5051,0.25254 0.2298,0.15326 0.5337,0.6457 0.7576,0.75762 0.075,0.0376 0.1772,-0.0377 0.2525,0 0.1065,0.0532 0.1684,0.16836 0.2525,0.25253 0.2944,0.29438 0.6914,0.77109 1.0102,1.01016 0.2428,0.1821 0.5148,0.32297 0.7576,0.50507 0.2731,0.20485 0.5159,0.51592 0.7576,0.75762 0.4209,0.42089 0.8418,0.84179 1.2627,1.26269 l 9.849,22.22335 -8.3338,22.72844 -11.1116,-0.25254 -8.0813,22.22335 -13.637,2.27285 -69.19546,-15.65737"
       id="path3813"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 980.85812,455.03801 -36.61803,83.08504 7.32361,11.36422"
       id="path3815"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 996.76803,517.16239 -13.38453,29.29442 -26.5165,7.32361"
       id="path3817"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 963.18045,553.0228 -11.61675,46.9721 -29.54696,34.34518"
       id="path3819"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 917.21851,632.06724 22.72843,-25.25381 0.25254,-14.64721 -14.14213,-27.52666"
       id="path3821"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 951.05862,555.29565 -25.25381,8.83883 -106.06602,-23.99112"
       id="path3823"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 816.4558,545.19412 -4.04061,9.34391 23.2335,17.67767 -30.05203,28.78935"
       id="path3836"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 807.36442,599.48982 100.0051,38.13326"
       id="path3838"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 886.15632,665.14974 -63.89215,-16.41498 -44.44671,-60.60915 -95.20688,25.25381"
       id="path3840"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 586.89863,540.90097 -3.03046,4.54569 34.09265,9.59645 -3.53553,11.36422 30.05203,4.54568 -0.50507,13.63706 34.85026,25.75889 -15.9099,10.85914 -37.88072,-27.52666 -101.01526,-22.72843 -9.59645,-19.1929 44.69925,1.51523 3.03046,-11.61675 8.08122,-1.26269"
       id="path3842"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 514.16765,552.26519 -2.77792,1.51523"
       id="path3844"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 489.92399,562.11418 -5.80838,19.44543 -43.6891,20.20305"
       id="path3846"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 486.13591,556.81088 -23.48604,5.05076 -12.37437,-3.53553 0.50507,-4.54569 -54.04316,-10.85914"
       id="path3848"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 454.31611,547.7195 30.05204,-81.31728"
       id="path3850"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 486.13591,463.6243 42.67895,-28.03173 42.17387,5.55584"
       id="path3852"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 584.37325,443.42125 132.83506,35.1028"
       id="path3854"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 627.80981,499.9898 78.53936,6.06091 -26.51651,22.72843 -42.17387,4.54569 -4.54568,4.04061 -12.37437,-0.75761"
       id="path3856"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 713.92531,509.33371 33.84011,22.47589"
       id="path3858"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 625.7895,494.43396 684.88343,373.72073"
       id="path3860"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <g
       id="g3031"
       transform="matrix(0.8395647,0.26935969,-0.27675802,0.81712134,366.1011,-85.935608)">
      <rect
         y="756.0882"
         x="925.25281"
         height="26.862902"
         width="58.430168"
         id="rect3019"
         style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.41121745;stroke-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3021"
         y="765.2265"
         x="948.53326"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:8px"
           y="765.2265"
           x="948.53326"
           id="tspan3023"
           sodipodi:role="line">НС</tspan></text>
      <text
         xml:space="preserve"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="939.6944"
         y="777.85339"
         id="text3025"
         sodipodi:linespacing="125%"><tspan
           dy="0 0 0 0 0 0 -2.7"
           dx="0 0 0 0 0 0 0"
           sodipodi:role="line"
           id="tspan3027"
           x="939.6944"
           y="777.85339"
           style="font-size:8px">1000 м<tspan
   id="tspan3029"
   style="font-size:4px">3</tspan></tspan></text>
    </g>
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 929.59288,436.60272 -51.77031,-11.11168 27.52665,-60.86169 -60.10407,-12.12183 23.99112,-52.02285"
       id="path3039"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 926.30989,447.46186 827.0624,427.51135 812.16265,411.09637"
       id="path3041"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 812.41519,412.6116 -33.84011,-7.32361 -45.70941,92.17642"
       id="path3043"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <g
       id="g3836">
      <path
         transform="translate(-1.5152288,355.64533)"
         d="m 840.44694,511.98535 c 0,4.81182 -5.54019,8.71257 -12.37437,8.71257 -6.83417,0 -12.37437,-3.90075 -12.37437,-8.71257 0,-4.81182 5.5402,-8.71256 12.37437,-8.71256 6.83418,0 12.37437,3.90074 12.37437,8.71256 z"
         sodipodi:ry="8.7125654"
         sodipodi:rx="12.374369"
         sodipodi:cy="511.98535"
         sodipodi:cx="828.07257"
         id="path3045"
         style="fill:none;fill-opacity:1;stroke:#080346;stroke-opacity:1"
         sodipodi:type="arc" />
      <text
         sodipodi:linespacing="125%"
         id="text3047"
         y="870.53485"
         x="818.22351"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:8px"
           y="870.53485"
           x="818.22351"
           id="tspan3049"
           sodipodi:role="line">КТ3</tspan></text>
    </g>
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
       d="m 948.53324,458.321 -8.58629,17.1726 -81.06474,-15.90991 -24.24367,49.75002"
       id="path3051"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 826.80986,524.99107 -14.14213,29.04189"
       id="path3822"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 750.03827,534.08244 11.11168,-6.31345"
       id="path3824"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 761.14995,527.51645 57.57869,12.87945"
       id="path3826"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1.10144734px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 835.85051,857.09963 714.48111,830.93711"
       id="path3828"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 848.02307,480.7969 516.18795,406.80322"
       id="path3830"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 577.80726,440.39079 664.93292,271.94786"
       id="path3832"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 615.94052,381.04433 680.0852,256.79557"
       id="path3834"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <g
       id="g3855"
       transform="translate(73.741136,-206.07112)">
      <path
         sodipodi:type="arc"
         style="fill:none;stroke:#080346;stroke-opacity:1"
         id="path3857"
         sodipodi:cx="828.07257"
         sodipodi:cy="511.98535"
         sodipodi:rx="12.374369"
         sodipodi:ry="8.7125654"
         d="m 840.44694,511.98535 c 0,4.81182 -5.54019,8.71257 -12.37437,8.71257 -6.83417,0 -12.37437,-3.90075 -12.37437,-8.71257 0,-4.81182 5.5402,-8.71256 12.37437,-8.71256 6.83418,0 12.37437,3.90074 12.37437,8.71256 z"
         transform="translate(-1.5152288,355.64533)" />
      <text
         xml:space="preserve"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="818.22351"
         y="870.53485"
         id="text3859"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3861"
           x="818.22351"
           y="870.53485"
           style="font-size:8px">КТ1</tspan></text>
    </g>
    <g
       transform="translate(-181.82746,-257.33637)"
       id="g3863">
      <path
         transform="translate(-1.5152288,355.64533)"
         d="m 840.44694,511.98535 c 0,4.81182 -5.54019,8.71257 -12.37437,8.71257 -6.83417,0 -12.37437,-3.90075 -12.37437,-8.71257 0,-4.81182 5.5402,-8.71256 12.37437,-8.71256 6.83418,0 12.37437,3.90074 12.37437,8.71256 z"
         sodipodi:ry="8.7125654"
         sodipodi:rx="12.374369"
         sodipodi:cy="511.98535"
         sodipodi:cx="828.07257"
         id="path3865"
         style="fill:none;stroke:#080346;stroke-opacity:1"
         sodipodi:type="arc" />
      <text
         sodipodi:linespacing="125%"
         id="text3867"
         y="870.53485"
         x="818.22351"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:8px"
           y="870.53485"
           x="818.22351"
           id="tspan3869"
           sodipodi:role="line">КТ2</tspan></text>
    </g>
    <g
       transform="translate(145.71451,-268.44804)"
       id="g3879">
      <path
         transform="translate(-1.5152288,355.64533)"
         d="m 840.44694,511.98535 c 0,4.81182 -5.54019,8.71257 -12.37437,8.71257 -6.83417,0 -12.37437,-3.90075 -12.37437,-8.71257 0,-4.81182 5.5402,-8.71256 12.37437,-8.71256 6.83418,0 12.37437,3.90074 12.37437,8.71256 z"
         sodipodi:ry="8.7125654"
         sodipodi:rx="12.374369"
         sodipodi:cy="511.98535"
         sodipodi:cx="828.07257"
         id="path3881"
         style="fill:none;stroke:#080346;stroke-opacity:1"
         sodipodi:type="arc" />
      <text
         sodipodi:linespacing="125%"
         id="text3883"
         y="870.53485"
         x="818.22351"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           style="font-size:8px"
           y="870.53485"
           x="818.22351"
           id="tspan3885"
           sodipodi:role="line">КТ4</tspan></text>
    </g>
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1070.7617,129.51635 -42.4264,57.57869 17.1726,21.46574"
       id="path3887"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1155.8671,236.33998 -36.6181,12.62691 -45.7094,-15.65737 -21.9708,2.77792"
       id="path3889"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 1049.801,231.54176 -13.637,11.36421 -46.71958,15.40483 -272.48865,-56.82108"
       id="path3891"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="704.17889"
       y="845.46057"
       id="text3893"
       sodipodi:linespacing="125%"
       transform="matrix(0.93231988,-0.36163469,0.36163469,0.93231988,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3895"
         x="704.17889"
         y="845.46057"
         style="font-size:12px">Канал</tspan></text>
    <rect
       style="fill:none;stroke:#000048;stroke-width:1.16201746;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.16201756, 1.16201756;stroke-dashoffset:0"
       id="rect3897"
       width="59.418442"
       height="13.768341"
       x="481.39264"
       y="847.27271"
       transform="matrix(0.94252473,-0.3341364,0.5834757,0.81213059,0,0)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 890.71429,302.5 -21.42857,-2.14286"
       id="path3910"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 886.78572,307.85714 -22.85714,0.35714 -348.21429,-65 -5.71429,12.85715 -11.78571,-3.21429 -195.35715,60"
       id="path3912"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 856.42858,325.71428 -29.28572,-6.07142 -3.21428,4.28571 L 677.14286,295"
       id="path3914"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 616.78572,382.14286 530.35715,362.5 462.5,376.07143"
       id="path3918"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 535,363.92857 21.78572,-43.21429 -41.07143,-9.64285 -3.21429,8.57143 -15,-3.57143 -29.28571,8.21428"
       id="path3920"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 893.21429,301.42857 771.07143,276.78571"
       id="path3922"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 433.92857,272.14286 94.64286,162.5"
       id="path3924"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 604.64286,385.35714 531.07143,370 460.71429,381.07143 297.14286,316.78571"
       id="path3926"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 462.5,375 235.35714,287.85714"
       id="path3928"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 483.92857,463.92857 435,446.78571"
       id="path3930"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 448.21429,429.28571 395,522.14286 316.42857,505.71428 342.85714,476.78571"
       id="path3932"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 447.5,427.14286 337.14286,395.35714 168.21429,474.28571"
       id="path3934"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 283.21429,420 219.28572,368.21428 213.21429,370 l -60,-55.71429"
       id="path3936"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 295.35714,319.64286 -51.42857,22.14285 7.14286,5.71429 -36.78571,16.42857"
       id="path3938"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 290,316.42857 155.71429,379.64286 149.64286,377.5 123.21429,391.07143"
       id="path3940"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 236.42857,288.57143 225.35714,295.71428 123.92857,261.78571 17.857143,167.85714 56.785715,158.21428"
       id="path3946"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 117.14286,137.85714 19.285714,164.28571"
       id="path3948"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#080346;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 509.64286,404.64286 -35.71429,6.78571 -2.5,-11.78571"
       id="path3950"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#3b3281;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 236.07143,287.5 252.14286,251.42857 253.92857,197.5 190.71429,116.07143 237.5,93.214283"
       id="path3954"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <g
       id="g3956"
       transform="translate(-327.14286,38.928572)">
      <path
         sodipodi:type="arc"
         style="fill:none;stroke:#080346;stroke-opacity:1"
         id="path3958"
         sodipodi:cx="828.07257"
         sodipodi:cy="511.98535"
         sodipodi:rx="12.374369"
         sodipodi:ry="8.7125654"
         d="m 840.44694,511.98535 c 0,4.81182 -5.54019,8.71257 -12.37437,8.71257 -6.83417,0 -12.37437,-3.90075 -12.37437,-8.71257 0,-4.81182 5.5402,-8.71256 12.37437,-8.71256 6.83418,0 12.37437,3.90074 12.37437,8.71256 z"
         transform="translate(-1.5152288,355.64533)" />
      <text
         xml:space="preserve"
         style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="818.22351"
         y="870.53485"
         id="text3960"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3962"
           x="818.22351"
           y="870.53485"
           style="font-size:8px">КТ5</tspan></text>
    </g>
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 388.21429,597.85714 -17.85715,-6.78571 -6.42857,16.07143 -52.85714,41.78571 -35.71429,-2.85714 -2.5,2.85714"
       id="path3964"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 263.57143,672.5 15.71429,-15.35714 -6.42858,-7.5 L 192.5,617.5 l -12.85714,-10 -71.07143,-35.35714 -3.21429,8.92857"
       id="path3966"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 177.14286,606.42857 161.78572,627.5 l 4.64285,13.21429 82.5,31.78571"
       id="path3968"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 222.14286,628.92857 -3.92857,5.35714 -56.07143,-7.5 -144.285717,-32.85714"
       id="path3970"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 81.785715,608.21429 12.142857,-21.42858 8.214288,0.35715"
       id="path3972"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#4a4683;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 101.78571,586.42857 105.35714,580"
       id="path3974"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="750.58044"
       y="716.32123"
       id="text3976"
       sodipodi:linespacing="125%"
       transform="matrix(0.91811683,0.39630983,-0.39630983,0.91811683,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3978"
         x="750.58044"
         y="716.32123"
         style="font-size:8px">Резервуар</tspan><tspan
         sodipodi:role="line"
         x="750.58044"
         y="726.32123"
         id="tspan3980"
         style="font-size:8px">мкр. Казгурт</tspan></text>
    <rect
       style="fill:none;stroke:#4a4683;stroke-width:0.83460057;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:0.83460062, 0.83460062;stroke-dashoffset:0"
       id="rect3982"
       width="88.925262"
       height="31.499146"
       x="854.70734"
       y="734.75897"
       transform="matrix(0.92726804,0.37439815,-0.53875153,0.84246471,0,0)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="587.14288"
       y="879.14807"
       id="text3984"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3986"
         x="587.14288"
         y="879.14807"
         style="font-size:10px">Пл</tspan><tspan
         sodipodi:role="line"
         x="587.14288"
         y="891.64807"
         id="tspan3988"
         style="font-size:10px">№4</tspan></text>
    <rect
       style="fill:none;stroke:#4a4683;stroke-width:1;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3990"
       width="48.92857"
       height="22.142857"
       x="571.78571"
       y="518.57141"
       transform="translate(0,352.36233)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="-211.20729"
       y="1343.4673"
       id="text3992"
       sodipodi:linespacing="125%"
       transform="matrix(0.63440811,-0.77299829,0.77299829,0.63440811,0,0)"><tspan
         sodipodi:role="line"
         id="tspan3994"
         x="-211.20729"
         y="1343.4673"
         style="font-size:10px">БСВ</tspan></text>
    <rect
       style="fill:none;stroke:#4a4683;stroke-width:0.79024011;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect3996"
       width="43.907852"
       height="19.037107"
       x="-411.20157"
       y="1332.7412"
       transform="matrix(0.61285284,-0.79019706,0.8544876,0.51947179,0,0)" />
    <text
       xml:space="preserve"
       style="font-size:32.85673141px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="621.64935"
       y="1007.6143"
       id="text3998"
       sodipodi:linespacing="125%"
       transform="matrix(0.88126323,-0.48243721,0.49096045,0.8659642,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4000"
         x="621.64935"
         y="1007.6143"
         style="font-size:8.21418285px">Пл.№2</tspan><tspan
         sodipodi:role="line"
         x="621.64935"
         y="1017.882"
         id="tspan4002"
         style="font-size:8.21418285px">отм. 600.5м</tspan></text>
    <rect
       style="fill:none;stroke:#4a4683;stroke-width:0.84920472;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect4004"
       width="61.256416"
       height="23.282598"
       x="215.82388"
       y="1044.828"
       transform="matrix(0.92244054,-0.38613916,0.77352049,0.6337713,0,0)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="844.75171"
       y="238.21236"
       id="text4006"
       sodipodi:linespacing="125%"
       transform="matrix(0.93072251,0.36572613,-0.36572613,0.93072251,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4008"
         x="844.75171"
         y="238.21236"
         style="font-size:10px;font-weight:normal;-inkscape-font-specification:Sans">Пл.</tspan><tspan
         sodipodi:role="line"
         x="844.75171"
         y="250.71236"
         id="tspan4010"
         style="font-size:10px;font-weight:normal;-inkscape-font-specification:Sans">№6</tspan></text>
    <rect
       style="fill:none;stroke:#4a4683;stroke-width:0.8254258;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect4012"
       width="45.039177"
       height="26.029144"
       x="860.44525"
       y="405.76709"
       transform="matrix(0.98519359,0.17144561,-0.40788462,0.91303348,0,0)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 686.22122,270.0316 33.9684,-67.04289"
       id="path4014"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 715.42212,202.09481 -24.13544,42.01354 -12.81264,0.59594 -8.93905,17.28217"
       id="path4016"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 664.46953,192.26185 -22.04967,53.33634"
       id="path4018"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#000048;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 713.93228,170.21219 15.79233,-6.55531 61.67945,-87.900673"
       id="path4020"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#32bce0;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 666.25734,192.55982 21.45372,3.57562 1.78781,-3.87359 32.47856,7.74718"
       id="path4022"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#32bce0;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 676.09029,256.02709 -36.35214,-9.23702"
       id="path4024"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#f90511;stroke-width:4.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:4.5,4.5;stroke-dashoffset:0"
       d="m 914.16704,77.24605 -206.79006,432.65011 57.20993,34.56434 1.78781,8.34311 -19.66592,19.66592 -86.41083,54.23024 0,45.88714"
       id="path4026"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#f90511;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:4,8;stroke-dashoffset:0"
       d="m 794.38375,73.074492 -75.68398,126.338598 -57.80586,-12.51467 -73.30023,165.07449 -40.5237,-7.74718 -17.28217,41.71558 -21.45372,4.76749 7.15124,14.89842 -39.92777,8.34312 -25.62528,17.8781 -77.47178,146.60045"
       id="path4030"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#f90511;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:4,4;stroke-dashoffset:0"
       d="M 388.55079,542.07675 351.60271,531.34989 337.89616,551.61174 154.94357,496.78555 36.352144,385.34537 48.27088,359.12415 l 22.049662,2.97969 25.625282,-14.30249 -5.363431,-16.09029 143.620767,-47.67494 24.43341,9.53499 66.74492,-30.98872 -30.39278,-85.21896 73.30023,-29.79684 1.19187,-72.704288"
       id="path4032"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <path
       style="fill:none;stroke:#f90511;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:4, 4;stroke-dashoffset:0"
       d="M 396.89391,525.39052 322.99774,509.30023 383.7833,479.50339 361.1377,449.70655 346.83521,465.2009 288.43341,419.90971 314.65463,407.99097 242.54628,343.6298 207.386,356.74041 157.32731,308.46953"
       id="path4034"
       inkscape:connector-curvature="0"
       transform="translate(0,352.36233)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f90511;fill-opacity:1;stroke:none;font-family:Sans"
       x="1293.339"
       y="499.29019"
       id="text4036"
       sodipodi:linespacing="125%"
       transform="matrix(0.95806013,0.28656726,-0.28656726,0.95806013,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4038"
         x="1293.339"
         y="499.29019"
         style="font-size:28px;fill:#f90511">Энбекшинский</tspan><tspan
         sodipodi:role="line"
         x="1293.339"
         y="534.29016"
         id="tspan4040"
         style="font-size:28px;fill:#f90511">РВК</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="1072.6863"
       y="684.66931"
       id="text4050"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4052"
         x="1072.6863"
         y="684.66931">Пив</tspan><tspan
         sodipodi:role="line"
         x="1072.6863"
         y="697.16931"
         id="tspan4054">завод</tspan></text>
    <text
       transform="matrix(0.4358164,-0.90003559,0.90003559,0.4358164,0,0)"
       sodipodi:linespacing="125%"
       id="text4056"
       y="926.61359"
       x="-292.06247"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f90511;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:28px;fill:#f90511"
         y="926.61359"
         x="-292.06247"
         id="tspan4058"
         sodipodi:role="line">Аль-Фарабийский</tspan><tspan
         style="font-size:28px;fill:#f90511"
         id="tspan4060"
         y="961.61359"
         x="-292.06247"
         sodipodi:role="line">РВК</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f90511;fill-opacity:1;stroke:none;font-family:Sans"
       x="198.88362"
       y="769.58606"
       id="text4062"
       sodipodi:linespacing="125%"
       transform="matrix(0.99978549,0.0207115,-0.0207115,0.99978549,0,0)"><tspan
         sodipodi:role="line"
         x="198.88362"
         y="769.58606"
         id="tspan4066"
         style="font-size:28px;fill:#f90511">ВИК</tspan></text>
    <text
       transform="matrix(0.99978549,0.0207115,-0.0207115,0.99978549,0,0)"
       sodipodi:linespacing="125%"
       id="text4078"
       y="930.02582"
       x="251.68065"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f90511;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:28px;fill:#f90511"
         id="tspan4080"
         y="930.02582"
         x="251.68065"
         sodipodi:role="line">Казыгурт</tspan></text>
    <text
       transform="matrix(0.93542523,-0.3535246,0.3535246,0.93542523,0,0)"
       sodipodi:linespacing="125%"
       id="text4082"
       y="557.7876"
       x="-3.4735932"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f90511;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:28px;fill:#f90511"
         id="tspan4084"
         y="557.7876"
         x="-3.4735932"
         sodipodi:role="line">Новотурлановка</tspan></text>
    <text
       transform="matrix(0.99978549,0.0207115,-0.0207115,0.99978549,0,0)"
       sodipodi:linespacing="125%"
       id="text4086"
       y="507.9888"
       x="511.76291"
       style="font-size:40px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f90511;fill-opacity:1;stroke:none;font-family:Sans"
       xml:space="preserve"><tspan
         style="font-size:28px;fill:#f90511"
         id="tspan4088"
         y="507.9888"
         x="511.76291"
         sodipodi:role="line">Абайский</tspan><tspan
         style="font-size:28px;fill:#f90511"
         y="542.98877"
         x="511.76291"
         sodipodi:role="line"
         id="tspan4090">РВК</tspan></text>
    <g
       id="g3148"
       transform="translate(-78,-11.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect4116"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text4112"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan4114"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 9904014 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 9904014 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text4096"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan4098"
           x="1040.6323"
           y="710.14148">Фосфор</tspan></text>
    </g>
    <g
       transform="translate(-100,-164.5)"
       id="g3155">
      <rect
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
         id="rect3157"
         width="101"
         height="68.455364"
         x="991"
         y="696.3623" />
      <text
         xml:space="preserve"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="743.36969"
         id="text3159"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3161"
           x="1042.571"
           y="743.36969"><%=$cps.detect{|x| x.address == 400960 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 400960 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         sodipodi:linespacing="125%"
         id="text3163"
         y="710.14148"
         x="1040.6323"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="710.14148"
           x="1040.6323"
           id="tspan3165"
           sodipodi:role="line"
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold">Север</tspan></text>
    </g>
    <g
       id="g3167"
       transform="translate(-450,-153.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect3169"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text3171"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan3173"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 861922 }.value.value%> </tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 861922 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text3175"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan3177"
           x="1040.6323"
           y="710.14148">Пожарка</tspan></text>
    </g>
    <g
       id="g3179"
       transform="translate(-142,157.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect3181"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text3183"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan3185"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 9903999 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 9903999 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text3187"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan3189"
           x="1040.6323"
           y="710.14148">Лумумбы</tspan></text>
    </g>
    <g
       transform="translate(-546,143.5)"
       id="g3191">
      <rect
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
         id="rect3193"
         width="101"
         height="68.455364"
         x="991"
         y="696.3623" />
      <text
         xml:space="preserve"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="743.36969"
         id="text3195"
         sodipodi:linespacing="125%"><tspan
           sodipodi:role="line"
           id="tspan3197"
           x="1042.571"
           y="743.36969"><%=$cps.detect{|x| x.address == 9902405 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 9902405 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         sodipodi:linespacing="125%"
         id="text3199"
         y="710.14148"
         x="1040.6323"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="710.14148"
           x="1040.6323"
           id="tspan3201"
           sodipodi:role="line"
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold">Короткий</tspan></text>
    </g>
    <g
       id="g3148"
       transform="translate(-878,-101.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect4116"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text4112"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan4114"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 77777 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 77777 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text4096"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan4098"
           x="1040.6323"
           y="710.14148">Новотурл.</tspan></text>
    </g>
    <g
       id="g3148"
       transform="translate(-678,221.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect4116"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text4112"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan4114"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 400970 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 400970 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text4096"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan4098"
           x="1040.6323"
           y="710.14148">Сауле</tspan></text>
    </g>
    <g
       id="g3148"
       transform="translate(178,261.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect4116"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text4112"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan4114"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 55555 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 55555 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text4096"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan4098"
           x="1040.6323"
           y="710.14148">ТЭЦ-3</tspan></text>
    </g>
    <g
       id="g3148"
       transform="translate(-228,-251.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect4116"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text4112"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan4114"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 66666 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 66666 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text4096"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan4098"
           x="1040.6323"
           y="710.14148">Нурсат</tspan></text>
    </g>
    <g
       id="g3148"
       transform="translate(-378,-241.5)">
      <rect
         y="696.3623"
         x="991"
         height="68.455364"
         width="101"
         id="rect4116"
         style="fill:#ffd5d5;fill-opacity:1;stroke:#1a1a1a;stroke-width:0.9361183;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
      <text
         sodipodi:linespacing="125%"
         id="text4112"
         y="743.36969"
         x="1042.571"
         style="font-size:28px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         xml:space="preserve"><tspan
           y="743.36969"
           x="1042.571"
           id="tspan4114"
           sodipodi:role="line"><%=$cps.detect{|x| x.address == 44444 }.value.value%></tspan></text>
      <text
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1042.571"
         y="760.36969"
         id="text3195"
         sodipodi:linespacing="125%"><%=$cps.detect{|x| x.address == 44444 }.value.datetime.strftime("%H:%M %d-%m")%></text>
      <text
         xml:space="preserve"
         style="font-size:10px;font-style:normal;font-weight:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
         x="1040.6323"
         y="710.14148"
         id="text4096"
         sodipodi:linespacing="125%"><tspan
           style="font-size:14px;font-weight:bold;-inkscape-font-specification:Sans Bold"
           sodipodi:role="line"
           id="tspan4098"
           x="1040.6323"
           y="710.14148">Достык</tspan></text>
    </g>
  </g>
</svg>
